/* Секция форма */
.FormSection {
    padding: 90px 0px;
    position: relative;
    border-radius: 20px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #171717 url("../../../img/FormBack.png") no-repeat;
    background-position: left bottom;
    background-size: 550px;
    margin-top: -15px;
  }

  .FormSection h2{
    color: #0485FE;
  }
  
  .Form-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  
  .Form-Header p {
    width: 715px;
    color: #fff;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.25px;
  }
  
  
  
  
  .Form-Main {
    display: flex;
    justify-content: end;
  }
  
  .FormSection > div {
    width: 1280px;
    margin: auto;
  }
  
  .FormSection form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 715px;
  }
  
  .FormSection form p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
  }
  
  .FormSection form > div {
    padding: 24px 39px;
    border-radius: 10px;
    background: #353535;
    display: flex;
    gap: 26px;
  }
  
  
 
  
  .select-header,
  .FormSection form [type="text"]{
    color:#fff;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    outline: none;
    width: 100%;
  }
  
  
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.70);
  }
  
  .FormSection form [type="submit"] {
    margin-bottom: 20px;
    transition: 0.5s ease;
    text-align: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    height: 61px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #112A4D;
    box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
    cursor: pointer;
  }
  
  .FormSection form [type="submit"]:hover {
    color:#000;
    background: #fff;
    box-shadow: none;
  }
  
  @media (max-width: 1439px) {
    .FormSection > div {
      width: 920px;
    }
  
    .Form-Header p {
      width: 545px;
      font-size: 19px;
    }
  
    .Form-Header h2 {
      width: 300px;
    }
  
    .FormSection form {
      width: 544px;
    }
  }
  
  @media (max-width: 979px) {
    .FormSection {
      border-radius: 10px 10px 0px 0px;
      border: 1px solid #353535;
      padding: 60px 0px 75px 0px;
      background-size: auto 100%;
    }
  
    .Form-Header {
      margin-bottom: 25px !important;
    }
  
    .FormSection > div {
      width: 600px;
    }
  
    .Form-Header p, .FormSection form p {
      display: none;
    }
  
    .FormSection form [type="submit"] {
      font-size: 16px;
      height: 55px;
    }
  
    .FormSection form [type="text"],
    .FormSection form [type="text"]::placeholder,
    .FormSection form [type="text"]::-webkit-input-placeholder, .custom-select span, .select-options li {
      font-size: 16px;
    }
  
    .FormSection form > div {
      height: 50px;
      padding: 0px 0px 0px 40px;
      gap: 15px;
      border-radius: 5px;
    }
  
    .FormSection form {
      width: 100%;
      gap: 20px;
    }
  }
  
  @media (max-width: 659px) {
    .FormSection > div {
      width: 320px;
    }
  }