/* ОБЩИЕ */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: Inter;
    border: none;
    background: none;
  }
  
  section {
    overflow: hidden;
  }
  
  li {
    list-style: none;
  }
  
  body {
    background: #171717;
  }
  
  button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }

  #site-header {
    transition: all 0.7s ease;
  }
  /* ХЕДЕР */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 20px;
    z-index: 10;
    position: fixed;
    border-radius: 0px 0px 5px 5px;
    width: 100%;
  }

  .HeaderContainer nav{
    padding: 15px 30px;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .HeaderContainer {
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    display: flex;
    gap: 28px;
    align-items: center;
  }
  
  header nav a,
  header input {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    outline: none;
  }
  
  header input::placeholder,
  header input::-webkit-input-placeholder{
    color: #FFFFFF99;
  }
  
  header #DirectionsMenuBtn {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    cursor: default;
  }

  header nav a:hover,
  header #DirectionsMenuBtn:hover {
    color: #0485fe;
  }
  
  header input {
    width: 134px;
  }
  
  .Header-Menu {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 60px;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }

  .Header-Menu_mobile, .Header-Menu_mobile_hidden{
    display: none;
  }

  .Directions_hidden{
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s ease;
    background: #181818;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #3535358f;
  }

  .Directions_hidden ul{
    display: block;
  }

  header input::-webkit-input-placeholder{
    color: #fff;
  }

  @media(min-width:980px) {

    #site-header.scrolled {
      background: #0a0a0a67;
      backdrop-filter: blur(10px);
      border-radius: 9999px;
      padding: 15px;
    }
  }
  
  @media(min-width:1440px) {

    #site-header.scrolled {
      background: #0a0a0a67;
      backdrop-filter: blur(10px);
      border-radius: 9999px;
      padding: 15px 25px;
    }
  }

  @media (min-width: 1921px) {
    main, header, footer{
      width: 1920px;
      margin: auto;
    }
  }

  @media (max-width: 1439px) {

  .HeaderContainer {
    width: 920px;
  }

  header nav a,
  header input,
  header input::placeholder,
  header input::-webkit-input-placeholder,
  header #DirectionsMenuBtn {
    font-size: 14px;
  }

  header nav ul {
    gap: 20px;
  }

  .HeaderContainer nav {
    padding: 15px 10px;
  }

  .HeaderContainer logo img{
    width: 120px;
  }
  
}

@media (max-width: 979px) {

  header {
    background: #0A0A0A;
    top: 0;
  }
  header logo img {
    width: 70px;
  }
    header{
        transition: 0.5s ease;
        padding: 14px 20px;
    }
    .HeaderContainer > .Header-Menu {
      display: none;
    }
    .HeaderContainer > .Header-Menu > .Header-Menu_mobile{
      display: flex;
    }
    .HeaderContainer .Header-Menu .Header-Menu_mobile{
      display: block;
    }
    .HeaderContainer {
      width: 620px;
    }
  
    .Header-Menu_mobile {
      display: flex;
      gap: 20px;

    }
  
    .HeaderContainer nav {
      display: none;
    }

  
    .Header-Menu_mobile_hidden .links {
      display: flex;
      gap: 25px;
      flex-direction: column;
    }
    .Header-Menu_mobile_hidden{
        transition: 0.5s ease-in-out;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 27px;
        text-align: center;
        position: fixed;
        width: 100%;
        top: 48px;
        left: 0px;
        padding-top: 140px;
        padding-bottom: 98px;
        transform: translateY(-110vh);
        max-height: calc(100vh - 49px);
        background: #080606 url("../img/HeaderBackground.svg");
        background-size: 100% 100%;
    }
    
    .Header-Menu_mobile_hidden > div >div > div:not(.LastContainer){
        height: 0px;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

    .Header-Menu_mobile_hidden > div >div > div > ul{
        display: flex;
        flex-direction: column;
        gap:12px;
    }

    .Header-Menu_mobile_hidden > div >div > a{
      margin-bottom: 15px;
    }
    
    .Header-Menu_mobile_hidden a{
        color:#fff;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
    }

    .Header-Menu_mobile_hidden span{
        color:#fff;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-transform: uppercase;
    }
    .Header-Menu_mobile_hidden img{
        width: 17px;
        transition: 0.5s ease;
    }

    .LastContainer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .LangContainer{
        border: 1px solid #353535;
        display: flex;
        border-radius: 2px;
    }

    .LangContainer button{
        color: #fff;
        font-weight: 300;
        font-size: 12px;
        line-height: 12px;
        padding: 8px 12px;
    }

    .LangContainer .Active{
        background: #353535;
    }

    .HeaderContainer logo img{
      width: 70px;
    }
}

@media (max-width: 659px) {
  
   header{
    
    padding: 14px 20px;    top:0;
   }

}

  h2{
      font-size: 14px;
      font-weight: 400;
      color: #FFF;
      line-height: 100%;
      text-transform: uppercase;
    }

    @media (min-width: 660px) {
 h2{
  font-size: 24px;
 }
}





  /* ФУТЕР */
  footer{
    width: 320px;
    margin: auto;
    padding: 55px 0px;
  }

  .Footer-Mobile{
    display: grid;
    grid-template-columns: 157px 1fr;
    column-gap: 20px;
  }

  .Footer-Mobile .FooterColomn{
    display: flex;
    flex-direction: column;
    gap:8px;
  }

  .Footer-Mobile .FooterColomn h3{
font-size: 12px;
font-weight: 700;
color: #fff;
margin-bottom: 9px;
  }

  .Footer-Mobile .FooterColomn a{
    color: #BEBEBE;
    font-size: 12;
    font-weight: 300;
  }

  .Footer-Mobile .FooterColomn:nth-child(3){
    margin: 35px 0px 14px 0px;
  }

  .Footer-Mobile .FooterColomn:nth-child(4){
    margin-top: 67px;
  }
  .Footer-Mobile .FooterColomn:nth-child(5){
    justify-content: end;
  }

  .Footer-Mobile .FooterColomn:nth-child(5) a{
    color: #0485FE;
    font-size: 14.781px;
    font-weight: 500;
    display: flex;
    gap:10px;
  }
.Footer-Desk{
  display: none;
}
  @media (min-width: 660px) {
    footer{
    width: 600px;
  }

  .Footer-Mobile{
    grid-template-columns: 1fr 1fr;
    column-gap: 100px;
  }

  .Footer-Mobile .FooterColomn a {
    font-size: 18px;
}

.Footer-Mobile .FooterColomn h3 {
    font-size: 20px;
}


}


@media (min-width: 980px) {
 footer{
    width: 920px;
  }
}

@media (min-width: 1440px) {
  footer{
    width: 1400px;
    padding: 80px 0px;
  }
  .Footer-Mobile{
    display: none;
  }

  .Footer-Desk{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .Footer-Desk .FooterLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
  }

  .Footer-Desk .FooterRight{
    display: flex;
    gap:80px;
  }

  .Footer-Desk .FooterColomn{
    display: flex;
    flex-direction: column;
    gap:12px;
  }

  .Footer-Desk .FooterColomn:nth-child(3){
    padding-top: 46px;
  }

  .Footer-Desk .FooterColomn h3{
color:#fff;
font-size: 17.981px;
font-weight: 700;
margin-bottom: 13px;
  }

    .Footer-Desk .FooterColomn a{
color: #BEBEBE;
font-size: 17.981px;
font-weight: 300;
  }

  .FooterLeft a{
    color: #0485FE;
font-size: 20.038px;
font-weight: 500;
display: flex;
gap:14px;
  }
}

@media (min-width: 1800px) {
  footer{
    width: 1790px;
  }
}
