/* Общие */
body{
  background: url("../img/backMainMob.jpg");
  background-size: 100% 100%;
}

@media (min-width: 980px) {
  body{
    background: url("../img/backMain.jpg");
    background-size: 100% 100%;
  }
}


/*Слайдер*/
.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.marquee {
  animation: scroll 180s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}



  .items-wrap {
    gap: 7px;
  }
  .items {
    gap: 7px;
  }
  .marquee {
  animation: scroll 250s linear infinite;
  }

  @media (min-width: 1800px) {
    .items-wrap {
      gap: 17px;
    }
    .items {
      gap: 17px;
    }
  }





/* Главная секция */
  .MainSection{
    width: 1790px;
    padding: 273px 0px 200px 0px;
    margin: auto;
  }

  h1{
    color:#fff;
    font-weight: 600;
    width: auto;
    text-align: center;
    font-size: 77px;
  }

  .MainSection p{
    color: #ffffff80;
    font-weight: 400;
    text-align: center;
    width: 800px;
    margin: 42px auto 49px auto;
    font-size: 30px;
  }

  .MainSection a{
    background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 8px;
    width: 486px;
    height: 62px;
    font-size: 24px;
    margin: auto;
  }

  @media (max-width: 1799px){
    .MainSection{
      width: 1400px;
    }
  }

    @media (max-width: 1439px){
    .MainSection{
        width: 920px;
      }
    }

  @media (max-width: 979px){
    .MainSection{
        width: 620px;
      }

    .MainSection p{
    width: auto;
  }
  }


@media (max-width: 659px){
  .MainSection{
    width: 320px;
    margin: auto;
    padding: 58px 0px 25px 0px;
  }

  h1{
    font-size: 40px;
    color:#fff;
    font-weight: 600;
  }

  .MainSection p{
    font-size: 16px;
    color: #ffffff80;
    font-weight: 400;
    width: 230px;
    margin: 23px auto 281px auto;
  }

  .MainSection a{
    height: 40px;
    font-size: 16px;
    width: auto;
  }
}







/* Секция о нас */


  .AboutSection{
    width: 332px;
    margin: auto;
    background: #101010CC;
    border-radius: 8px;
    padding: 25px 0px 34px 0px;
  }

  .About-Header{
    width: 100%;
    gap:11px;
    margin-bottom: 21px;
    padding: 0px 9px 0px 22px;
    flex-direction: column;
    display: flex;
  }

  .About-Header p{
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    width: 320px;
  }

  .AboutSection .item{
    height: 146px;
    border-radius: 5px;
    width: auto;
    overflow: hidden;
  }

   .AboutSection .wrap img {
    width: auto;
    height: 100%;
}

  .Numbers-Header{
    margin: 25px 0px 32px 0px;
    padding: 0px 9px 0px 22px;
  }

  .Numbers-Main{
    width: 285px;
    height: 188px;
    background: url("../img/NumberMap.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 72px;
    margin: auto;
  }

  .Numbers-Main p{
    font-size: 11px;
    font-weight: 400;
    color: #fff;
  }

  .Numbers-Main .Big{
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .hwn span{
    color: #B3B3B338;
    font-size: 18px;
    font-weight: 400;
  }

  .hwn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
@media (min-width: 660px) {
  .AboutSection{
    width: 600px;
  }
}

@media (min-width: 980px) {
.AboutSection{
    width: 920px;
  }
}

@media (min-width: 1440px) {
.AboutSection{
    width: 1400px;
    padding: 87px 0px 44px 0px;
    border-radius: 20px;
  }

  .About-Header p{
    font-size: 36px;
    width: 939px;
  }

  .About-Header h2{
    padding-top: 8px;
  }

  .hwn{
    flex-direction: row-reverse;
    justify-content: start;
    align-items: start;
    width: auto;
    gap:139px;
  }

  .hwn span{
    font-size: 45px;
  }

  .About-Header{
    padding: 0px 0px 0px 51px;
    flex-direction: row;
    align-items: start;
    gap:141px;
    margin-bottom: 92px;
  }

  .AboutSection .item{
    height: 351px;
    border-radius: 13px;
  }

  .Numbers-Main p{
    font-size: 46px;
  }

  .Numbers-Main .Big{
    font-size: 115px;
  }

  .Numbers-Main{
    width: 1217px;
    height: 805px;
    padding-left: 307px;
  }

  .Numbers-Header {
        padding: 0px 0px 0px 51px;
        position: relative;
        top: 280px;
        margin: 0px;
  }

  .Numbers-Header .hwn{
    gap: 130px;
  }

  .About-Main{
    padding: 0px 50px;
    position: relative;
  }

  .About-Main::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      height: 351px;
      width: 100px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
  }

  .About-Main::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      height: 351px;
      width: 100px;
      background: linear-gradient(90deg,rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 70%);
      top: 0px;
      right: 50px;
  }
}

@media (min-width: 1800px) {
  .AboutSection{
    width: 1790px;
  }
}








/* Бизнес секция */



  .BuisnesSection .swiper-wrapper {
    padding-left: 22px;
    height: auto;
  }

  .BuisnesSection .Swiper-Control{
    padding: 0px 9px 0px 22px;
    width: 332px;
    margin: 15px 0px 20px 0px;
    display: flex;
    align-items: center;
  }

  .BuisnesSection .Swiper-Control .line{
    border-radius: 41.856px;
    background: #6E6E6E;
    height: 1px;
    width: 192px;
  }

  .BuisnesSection .Swiper-Control > button{
    border-radius: 7.279px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(316deg, #1C67AC -8.42%, #41CCFF 40.53%, #41FFEF 98.54%);
    width: 43px;
    height: 33px;
  }

  .BuisnesSection .Swiper-Control .Swiper-Prev{
    margin: 0px 2px 0px 15px;
  }

  .BuisnesSection .swiperB {
    width: 660px;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .BuisnesSection{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.74);
    width: 332px;
    margin: auto;
    padding: 26px 0px 34px 0px;
    margin-top: 24px;
  }

  .Buisnes-Header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100% !important;
    padding: 0px 9px 0px 22px;
  }

  .Buisnes-Header h2{
    color: #000;
  }

  .Buisnes-Header span{
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }

  .Buisnes-Main_mobile .Card{
    width: 300px;
    height: 190px;
    padding: 14.25px;
    background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
    border-radius: 7px;
  }

  .Buisnes-Main_mobile .Card img{
    position: absolute;
    top: 0px;
    right: 55px;
    width: 143px;
    height: 128px;
  }

  .Buisnes-Main_mobile .Card span{
    color: rgba(255, 255, 255, 0.74);
    font-size: 15.675px;
    font-weight: 500;
  }

  .Buisnes-Main_mobile .Card h3{
    color: rgba(255, 255, 255, 0.74);
    font-size: 14.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 72px 0px 14px 0px;
  }

    .Buisnes-Main_mobile .Card p{
      color: #FFF;
      font-size: 10.45px;
      font-weight: 400;
      letter-spacing: -0.119px;
    }

@media (min-width: 660px) {
  .BuisnesSection{
    width: 600px;
  }

  .Buisnes-Main_mobile .Card img{
    right: 50px;
  }
}


@media (min-width: 980px) {
.BuisnesSection{
    width: 920px;
  }
  .BuisnesSection .swiperB{
    width: 1200px;
  }
    .Buisnes-Main_mobile .Card img {
        right: 577px;
    }
}

@media (min-width: 1440px) {
  .BuisnesSection{
    width: 1400px;
    border-radius: 20px;
    margin-top: 30px;
    padding: 70px 0px 70px 0px;
  }

  .Buisnes-Header span{
    color: rgba(179, 179, 179, 0.22);
    font-size: 45.773px;
    font-weight: 400;
    line-height: 59.569px; 
  }

  .Buisnes-Header{
    flex-direction: row-reverse;
    justify-content: start;
    gap:140px;
    padding: 0px 0px 0px 50px;
    margin-bottom: 50px;
  }

  .BuisnesSection .Swiper-Control .line {
    height: 2px;
    width: 316px;
  }

  .BuisnesSection .Swiper-Control > button{
    height: 55px;
    width: 71px;
    border-radius: 12px;
  }

  .BuisnesSection .Swiper-Control{
    width: 1400px;
    padding: 0px 250px 0px 0px;
    margin: 0px;
    justify-content: end;
    position: absolute;
    top: -95px;
  }

  .BuisnesSection .Swiper-Control .Swiper-Prev {
    margin: 0px 4px 0px 26px;
}

.Buisnes-Main_mobile .Card {
    width: 630px;
    height: 400px;
    padding: 30px;
    border-radius: 15px;
}

.Buisnes-Main_mobile .Card span{
  font-size: 33px;
  color: #fff;
}

.Buisnes-Main_mobile .Card h3{
  font-size: 30px;
  color: #fff;
  margin: 153px 0px 30px 0px;
}

.Buisnes-Main_mobile .Card p{
  font-size: 22px;
}

.BuisnesSection .swiper-wrapper{
  padding-left: 190px;
}

.BuisnesSection .swiperB {
    width: 1920px;

}

.Buisnes-Main_mobile .Card img{
  width: auto;
  height: auto;
  right: 620px;
}
}

@media (min-width: 1800px) {
  .BuisnesSection{
    width: 1790px;
  }

   .BuisnesSection .Swiper-Control{
    width: 1790px;
  }
  .Buisnes-Main_mobile .Card img{
  right: -50px;
}


}





/* Секция новости */



  .NewsSection .swiper-wrapper {
    padding-left: 22px;
    height: auto;
  }

  .NewsSection .Swiper-Control{
    padding: 0px 9px 0px 22px;
    width: 332px;
    margin: 15px 0px 20px 0px;
    display: flex;
    align-items: center;
  }

  .NewsSection .Swiper-Control .line{
    border-radius: 41.856px;
    background: #6E6E6E;
    height: 1px;
    width: 192px;
  }

  .NewsSection .Swiper-Control > button{
    border-radius: 7.279px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(316deg, #1C67AC -8.42%, #41CCFF 40.53%, #41FFEF 98.54%);
    width: 43px;
    height: 33px;
  }

  .NewsSection .Swiper-Control .Swiper-Prev{
    margin: 0px 2px 0px 15px;
  }


  .NewsSection{
    border-radius: 11px;
    background: rgba(16, 16, 16, 0.80);
    width: 332px;
    margin: auto;
    padding: 26px 0px 34px 0px;
    margin-top: 24px;
  }

  .News-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    padding: 0px 9px 0px 22px;
  }

  .News-Header h2{
    color: #fff;
  }

  .News-Header span{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  .News-Main_mobile .Card{
    width: 287px;
    height: 303px;
    padding: 12px 14px 22px 14px;
    border-radius: 8.804px;
    background: #1E1E1E;
    border: #AAAAAA26 1px solid;
  }

  .News-Main_mobile .Card img{
    width: 100%;
    height: 170px;
    border-radius: 7px;
  }

  .News-Main_mobile .Card .tags{
    display: flex;
    gap: 3px;
    margin: 16px 0px 7px 0px;
  }

  .News-Main_mobile .Card .tags a{
    color: rgba(255, 255, 255, 0.74);
    font-size: 7.337px;
    font-weight: 400;
  }

  .News-Main_mobile .Card h3{
    color: rgba(255, 255, 255, 0.74);
    font-size: 14.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 72px 0px 14px 0px;
  }

    .News-Main_mobile .Card p{
     color: rgba(255, 255, 255, 0.74);
    font-size: 10.349px;
    font-weight: 400;
    line-height: 14.673px;
    }

    .News-Main_mobile .Card > a{
      color: #FFF;
      font-size: 8.07px;
      font-weight: 700;
      line-height: 100%;
      border-radius: 4.774px;
      background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
      width: 105px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7px;
    }

    @media (min-width: 660px) {
  .NewsSection{
    width: 600px;
  }
}

@media (min-width: 980px) {
.NewsSection{
    width: 920px;
  }

    
}

@media (min-width: 1440px) {
 .NewsSection{
    width: 1400px;
    border-radius: 20px;
    margin-top: 30px;
    padding: 70px 0px 70px 0px;
  }

  .News-Header span{
    color: rgba(179, 179, 179, 0.22);
    font-size: 45.773px;
    font-weight: 400;
    line-height: 59.569px; 
  }

  .News-Header{
    flex-direction: row-reverse;
    justify-content: start;
    gap:140px;
    padding: 0px 0px 0px 50px;
    margin-bottom: 50px;
  }

  .NewsSection .Swiper-Control .line {
    height: 2px;
    width: 316px;
    background: #fff;
  }

  .NewsSection .Swiper-Control > button{
    height: 55px;
    width: 71px;
    border-radius: 12px;
  }

  .NewsSection .Swiper-Control{
    width: 1400px;
    padding: 0px 250px 0px 0px;
    margin: 0px;
    justify-content: end;
    position: absolute;
    top: -95px;
  }

  .NewsSection .Swiper-Control .Swiper-Prev {
    margin: 0px 4px 0px 26px;
}

.News-Main_mobile .Card {
    width: 391px;
    height: 400px;
    border-radius: 15px;
    padding: 20px 20px 30px 20px;
}


.News-Main_mobile .Card p{
  font-size: 14px;
}
.News-Main_mobile .Card .tags a{
  font-size: 10px;
}

.NewsSection .swiper-wrapper{
  padding-left: 190px;
}

.News-Main_mobile .Card > a{
  font-size: 11px;
  width: 143px;
  height: 33px;
  margin-top: 10px;
}


.News-Main_mobile .Card img{
  height: 232px;
}

.News-Main_mobile .Card .tags {
    margin: 22px 0px 10px 0px;
}
  .NewsSection .swiperN {
    position: relative;
  }
}

@media (min-width: 1800px) {
  .NewsSection{
    width: 1790px;
  }


  .NewsSection .Swiper-Control{
    width: 1790px;
  }
}





/* Секция проекты */

  
  .ProjectsSection .swiperP {
    width: 100%;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    overflow: hidden;
  }

  .ProjectsSection .swiper-wrapper {
    height: auto;
  }

  .ProjectsSection .Swiper-Control{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
    .Projects-Main_mobile .Info .Stats a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #2C2C2C;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 133px;
    height: 31px;
  }
    .Projects-Main_mobile .Info .Stats p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }
    .Projects-Main_mobile .Info .Stats {
    border-radius: 0px 0px 10px 10px;
  background: #1E1E1E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    margin-top: -10px;
    height: 278px;
  }


  .Projects-Main_mobile .Info .Stats h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
  }
    .Projects-Main_mobile .Info .Banner h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  .Projects-Main_mobile .Info .Banner p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.13px;
  }

    .Projects-Main_mobile .Info .Banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #2C2C2C;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 133px;
    height: 31px;
  }
.Projects-Main_mobile .Info .Banner {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%), url("../img/Projects1.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    height: 517px;
  }

  .Projects-Main_mobile .swiper-slide:nth-child(2) .Banner {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%), url("../img/Projects2.png");
    background-size: 100% 100%;
  }



 

  .Projects-Main_mobile .swiper-slide:nth-child(3) .Banner {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%), url("../img/Projects3.png");
    background-size: 100% 100%;
  }

 .ProjectsSection{
  width: 332px;
  margin: auto;
  margin-top: 27px;
 }

    .Projects-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
  }

  .Projects-Header h2{
    color: #fff;
  }

  .Projects-Header span{
    color: #B3B3B338;
    font-size: 18px;
    font-weight: 400;
  }

    .ProjectsSection .Swiper-Control{
    width: 332px;
    margin: 20px 0px 50px 0px;
    display: flex;
    align-items: center;
  }

  .ProjectsSection .Swiper-Control .line{
    border-radius: 41.856px;
    background: #6E6E6E;
    height: 1px;
    width: 214px;
  }

  .ProjectsSection .Swiper-Control > button{
    border-radius: 7.279px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(316deg, #1C67AC -8.42%, #41CCFF 40.53%, #41FFEF 98.54%);
    width: 43px;
    height: 33px;
  }

  .ProjectsSection .Swiper-Control .Swiper-Prev{
    margin: 0px 2px 0px 15px;
  }

  .Projects-Main_mobile .Info{
    width: 332px;
  }
.Projects-Main_mobile .Info .Banner {
        padding: 20px 20px 30px 20px;
        border-radius: 8px;
        height: 319px;
    }

        .Projects-Main_mobile .Info .Stats {
        border-radius: 0px 0px 8px 8px;
    }

    .Projects-Main_mobile .Info .Banner a{
      color: #fff;
      font-size: 9px;
      font-weight: 600;
      background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
      border-radius: 5px;
      width: 81px;
      height: 21px;
    }

    .Projects-Main_mobile .Info .Stats a{
      color: #fff;
      font-size: 9px;
      font-weight: 600;
      background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
      border-radius: 5px;
      width: 109px;
      height: 21px;
    }

    .Projects-Header p{
      display: none;
    }

    .Projects-Main{
      display: none;
    }

@media (min-width: 660px) {
  .ProjectsSection{
    width: 600px;
  }
  .Projects-Main_mobile .Info {
    width: 295px;
  }
}

@media (min-width: 980px) {
.ProjectsSection{
    width: 920px;
  }

  .Projects-Main_mobile .Info{
    width: 300px;
  }

    
}

@media (min-width: 1440px) {
  .ProjectsSection{
    width: 1400px;
    margin-top: 91px;
  }

  .Projects-Header{
    flex-direction: row-reverse;
    justify-content: start;
    gap:140px;
    padding-left: 50px;
    align-items: baseline;
    margin-bottom: 70px;
  }

  .Projects-Header h2{
    width: 200px;
  }

  .Projects-Header p{
    display: block;
    color: #FFF;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: -1.5px;
    width: 939px;
  }

  .Projects-Header span{
    font-size: 45.773px;
  }





    .Projects-Main {
        display: flex;
        width: 1400px;
        margin: auto;
        gap: 20px;
    }

.Projects-Main .Links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Projects-Main .Links button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(170, 170, 170, 0.50);
  font-size: 27px;
  font-weight: 500;
  text-transform: uppercase;
  width: 512px;
  height: 137px;
  transition: 0.5s ease;
  border-radius: 9.879px;
  border: 1.143px solid rgba(170, 170, 170, 0.15);
  background: #101010;
}


.Projects-Main .Links .Active {
  border: 1.143px solid #1C67AC;
  background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
  box-shadow: 0px 0px 57.733px 0px rgba(0, 106, 255, 0.15);
  color: #FFF;
  font-weight: 300;
}

.Projects-Main .Info {
  display: flex;
  gap: 20px;
}


.Projects-Main .Info:not(.Active) {
  display: none;
}



.Projects-Main .Info .Banner{
  border-radius: 8.644px;
  background: #141416;
  border: 1px solid #474747;
  overflow: hidden;
  width: 505px;
}

.Projects-Main .Info .Banner .ImgContainer{
  height: 296px;
  overflow: hidden;
}

.Projects-Main .Info .Banner .ImgContainer img{
  width: 100%;
}

.Projects-Main .Info .Banner .BannerInfo{
  padding: 32px 0px 0px 42px;
}

.Projects-Main .Info .Banner h3 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  line-height: 111%;
}

.Projects-Main .Info .Banner p {
color: #E4E4E7;
font-size: 17.031px;
font-weight: 500;
line-height: 24.698px; /* 145.014% */
}

.Projects-Main .Info:nth-child(4) .Banner h3{
  font-size: 26px;
}

.Projects-Main .Info .Banner a {
  color: #FFF;
font-size: 13.016px;
font-weight: 700;
line-height: 100%;
width: 109px;
height: 33px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
border-radius: 6px;
margin-top: 10px;
}





.Projects-Main .Info .Banner a:hover {
  background: #0485FE2B;
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(19.4209041595459px);
  box-shadow: 0px 0px 9.9px 0px #0485FECC,0px 0px 4.5px 0px #0485FECC,0px 0px 1.6px 0px #FFFFFF;

}

.Projects-Main .Info .Stats {
  border-radius: 10px;
  background: #1e1e1e;
  padding: 22px;
  display: flex;
  flex-direction: column;
  gap:34px;
  width: 343px;
  border-radius: 11.432px;
  border: 1px solid #474747;
  background: #141416;
}

.Projects-Main .Info .Stats h3 {
  color: #FFF;
  font-size: 36.583px;
  font-weight: 700;
  text-transform: uppercase;
}


.Projects-Main .Info .Stats p {
 color: rgba(255, 255, 255, 0.50);
  font-size: 16.053px;
  font-weight: 400;
}

.Projects-Main .Info .Stats a {
  color: #FFF;
font-size: 13.016px;
font-weight: 700;
line-height: 100%;
width: 149px;
height: 33px;
display: flex;
justify-content: center;
align-items: center;
background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
border-radius: 6px;
}

.Projects-Main .Info .Stats > div:last-child {
  display: flex;
  gap:40px;
  margin-top: auto;
}

.Projects-Main_mobile {
  display: none;
}
}

@media (min-width: 1800px) {
  .ProjectsSection{
    width: 1790px;
  }



    .Projects-Main {
        width: 1420px;
    }

    .Projects-Main .Info .Stats {
  width: 408px;
}

}
  




/* Секция форма */
  .custom-select {
    position: relative;
    cursor: pointer;
}
  .select-options li:nth-last-child(1) {
    border: none;
}

  .FormSection {
    width: 332px;
    margin: auto;
    border-radius: 15.212px;
    background: rgba(16, 16, 16, 0.80);
    margin: 16px auto 43px auto;
    padding: 29px 14px 34px 14px;
  }

  .Form-Header {
    margin-bottom: 18px; 
  }

  .Form-Header p{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.086px;
  }

  .FormSection form{
    height: 293px;
    border-radius: 17.036px;
    background: #FFF;
    padding: 37px 24px 18px 28px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  .FormSection form input[type="text"], .custom-select{
    font-size: 12.613px;
    font-weight: 400;
    padding: 12px 20px 12px 20px;
    border-radius: 7.883px;
    border: 1px solid #2374A6;
    background: rgba(30, 29, 29, 0.00);
    color: #000;
  }

  .FormSection form [type="text"]::-webkit-input-placeholder{
    color: rgba(24, 24, 24, 0.70);
  }

  .select-menu span{
    color: rgba(24, 24, 24, 0.70);
    font-size: 12.613px;
    font-weight: 400;
  }




  .FormSection form [type="submit"] {
    height: 40px;
    color: #FFF;
    font-size: 12.493px;
    font-weight: 700;
    line-height: 100%;
    background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
    border-radius: 6.814px;
  }

  .FormSection form p{
    color: #2270A2;
    text-align: center;
    font-size: 9.46px;
    font-weight: 400;
  }

  .select-options li {
    padding: 14px 20;
    color: #000;
    transition: 0.3s;
    cursor: pointer;
    font-weight: 400;
    font-size: 12.613px;
    border-bottom: 1px solid #2374A6;
}

.select-options {
    display: none;
    position: absolute;
    top: 33px;
    left: -1px;
    width: 252px;
    background: #fff;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border-top: none;
    z-index: 10;
    border: 1px solid #2374A6;
}

.custom-select.active .select-options {
    display: block;
}

.custom-arrow{
    transition: 0.3s;
}

.custom-select.active .custom-arrow {
    transform: rotate(90deg);
}

.FormSection{
  overflow: visible;
}

.select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.FormHeaderMobile{
  display: none;
}

.deskFormImg{
  display: none;
}

@media (min-width: 660px) {
  .FormSection{
    width: 600px;
  }

  .select-options{
    width: 520px;
  }
}


@media (min-width: 980px) {
.FormSection{
    width: 920px;
  }

  .FormSection form {
    height: auto;
    gap: 20px;
}
 
}

@media (min-width: 1440px) {
.FormSection{
    width: 1400px;
    padding: 40px;
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
  }

  .Form-Header{
    display: none;
  }

  .FormSection form{
    width: 740px;
    margin-left: auto;
    padding: 48px 76px 41px 88px;
    height: auto;
    gap:18px;
  }

  .FormSection form .FormHeaderMobile{
    display: block;
    color: #111B23;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -0.231px;
    text-align: left;
    width: 515px;
  }

  .FormSection form input[type="text"], .custom-select{
    font-size: 22px;
    padding: 22px 36px;
    border-radius: 13px;
  }

  .select-menu span{
      font-size: 22px;
  }

  .FormSection form [type="submit"]{
    font-size: 22px;
    height: 72px;
  }

  .FormSection form p{
    font-size: 16px;
    text-align: left;
  }

  .select-options{
    width: 772px;
    top: 59px;
  }

  .select-options li{
    font-size: 22px;
  }

 

      .deskFormImg {
        display: block;
        position: absolute;
        width: 557px;
        bottom: 0px;
        left: -7px;
    }
}

@media (min-width: 1800px) {
  .FormSection{
    width: 1790px;
  }

   .deskFormImg{
    top: 0px;
    height: 100%;
    bottom: unset;
    left: unset;
    width: auto;
  }

   .FormSection form{
    width: 936px;
  }

}








/* Секция партнёры */


.PartnersSection .wrap {
  width: 100%;
  margin: auto;
}



.PartnersSection .item img{
  height: 42px;
  width: auto;
  border-radius: 5px;
}


.PartnersSection .marquee {
  animation: scroll 250s linear infinite;
}

@media (min-width: 980px) {
  .PartnersSection .item img{
    height: auto;
  }
}



