/* Общие */
body{
  background: url("../img/backMainMob.jpg");
  background-size: 100%;
}


/*Слайдер*/
.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}
.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.marquee {
  animation: scroll 180s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media (max-width: 979px) {
  .items-wrap {
    gap: 13px;
  }
  .items {
    gap: 13px;
  }
}

@media (max-width: 659px) {
  .items-wrap {
    gap: 7px;
  }
  .items {
    gap: 7px;
  }
  .marquee {
  animation: scroll 250s linear infinite;
  }
}




/* Главная секция */

.MainSection{
  width: 320px;
  margin: auto;
  padding: 58px 0px 25px 0px;
}

h1{
  font-size: 40px;
  color:#fff;
  font-weight: 600;
}

.MainSection p{
  font-size: 16px;
  color: #ffffff80;
  font-weight: 400;
  width: 230px;
  margin: 23px 0px 281px 0px;
}

.MainSection a{
  background: linear-gradient(#2178C8, #103B62);
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
}





/* Секция о нас */


@media (max-width: 659px) {
  .AboutSection{
    width: 332px;
    margin: auto;
    background: #101010CC;
    border-radius: 8px;
    padding: 25px 0px 34px 0px;
  }

  .About-Header{
    width: 100%;
    gap:11px;
    margin-bottom: 21px !important;
    padding: 0px 9px 0px 22px;
    flex-direction: column;
    display: flex;
  }

  .About-Header p{
    font-size: 11px;
    font-weight: 400;
    color: #fff;
    width: 320px;
  }

  .AboutSection .item{
    height: 146px;
    border-radius: 5px;
    width: auto;
    overflow: hidden;
  }

   .AboutSection .wrap img {
    width: auto;
    height: 100%;
}

  .Numbers-Header{
    margin: 25px 0px 32px 0px;
    padding: 0px 9px 0px 22px;
  }

  .Numbers-Main{
    width: 285px;
    height: 188px;
    background: url("../img/NumberMap.png");
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 72px;
    margin: auto;
  }

  .Numbers-Main p{
    font-size: 11px;
    font-weight: 400;
    color: #fff;
  }

  .Numbers-Main .Big{
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
  }

  .hwn span{
    color: #B3B3B338;
    font-size: 18px;
    font-weight: 400;
  }

  .hwn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
}






/* Бизнес секция */

@media (max-width: 659px) {

  .BuisnesSection .swiper-wrapper {
    padding-left: 22px;
    height: auto;
  }

  .BuisnesSection .Swiper-Control{
    padding: 0px 9px 0px 22px;
    width: 332px;
    margin: 15px 0px 20px 0px;
    display: flex;
    align-items: center;
  }

  .BuisnesSection .Swiper-Control .line{
    border-radius: 41.856px;
    background: #6E6E6E;
    height: 1px;
    width: 192px;
  }

  .BuisnesSection .Swiper-Control > button{
    border-radius: 7.279px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(316deg, #1C67AC -8.42%, #41CCFF 40.53%, #41FFEF 98.54%);
    width: 43px;
    height: 33px;
  }

  .BuisnesSection .Swiper-Control .Swiper-Prev{
    margin: 0px 2px 0px 15px;
  }

  .BuisnesSection .swiperB {
    width: 660px;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .BuisnesSection{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.74);
    width: 332px;
    margin: auto;
    padding: 26px 0px 34px 0px;
    margin-top: 24px;
  }

  .Buisnes-Header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100% !important;
    padding: 0px 9px 0px 22px;
  }

  .Buisnes-Header h2{
    color: #000;
  }

  .Buisnes-Header span{
    color: #000;
    font-size: 18px;
    font-weight: 400;
  }

  .Buisnes-Main_mobile .Card{
    width: 300px;
    height: 190px;
    padding: 14.25px;
    background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
    border-radius: 7px;
  }

  .Buisnes-Main_mobile .Card img{
    position: absolute;
    top: 0px;
    right: 55px;
    width: 143px;
    height: 128px;
  }

  .Buisnes-Main_mobile .Card span{
    color: rgba(255, 255, 255, 0.74);
    font-size: 15.675px;
    font-weight: 500;
  }

  .Buisnes-Main_mobile .Card h3{
    color: rgba(255, 255, 255, 0.74);
    font-size: 14.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 72px 0px 14px 0px;
  }

    .Buisnes-Main_mobile .Card p{
      color: #FFF;
      font-size: 10.45px;
      font-weight: 400;
      letter-spacing: -0.119px;
    }
}




/* Секция новости */

@media (max-width: 659px) {

  .NewsSection .swiper-wrapper {
    padding-left: 22px;
    height: auto;
  }

  .NewsSection .Swiper-Control{
    padding: 0px 9px 0px 22px;
    width: 332px;
    margin: 15px 0px 20px 0px;
    display: flex;
    align-items: center;
  }

  .NewsSection .Swiper-Control .line{
    border-radius: 41.856px;
    background: #6E6E6E;
    height: 1px;
    width: 192px;
  }

  .NewsSection .Swiper-Control > button{
    border-radius: 7.279px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(316deg, #1C67AC -8.42%, #41CCFF 40.53%, #41FFEF 98.54%);
    width: 43px;
    height: 33px;
  }

  .NewsSection .Swiper-Control .Swiper-Prev{
    margin: 0px 2px 0px 15px;
  }

  .NewsSection .swiperB {
    width: 660px;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }

  .NewsSection{
    border-radius: 11px;
    background: rgba(16, 16, 16, 0.80);
    width: 332px;
    margin: auto;
    padding: 26px 0px 34px 0px;
    margin-top: 24px;
  }

  .News-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
    padding: 0px 9px 0px 22px;
  }

  .News-Header h2{
    color: #fff;
  }

  .News-Header span{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
  }

  .News-Main_mobile .Card{
    width: 287px;
    height: 303px;
    padding: 12px 14px 22px 14px;
    border-radius: 8.804px;
    background: #1E1E1E;
    border: #AAAAAA26 1px solid;
  }

  .News-Main_mobile .Card img{
    width: 100%;
    height: 170px;
    border-radius: 7px;
  }

  .News-Main_mobile .Card .tags{
    display: flex;
    gap: 3px;
    margin: 16px 0px 7px 0px;
  }

  .News-Main_mobile .Card .tags a{
    color: rgba(255, 255, 255, 0.74);
    font-size: 7.337px;
    font-weight: 400;
  }

  .News-Main_mobile .Card h3{
    color: rgba(255, 255, 255, 0.74);
    font-size: 14.25px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 72px 0px 14px 0px;
  }

    .News-Main_mobile .Card p{
     color: rgba(255, 255, 255, 0.74);
    font-size: 10.349px;
    font-weight: 400;
    line-height: 14.673px;
    }

    .News-Main_mobile .Card > a{
      color: #FFF;
      font-size: 8.07px;
      font-weight: 700;
      line-height: 100%;
      border-radius: 4.774px;
      background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
      width: 105px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 7px;
    }
}




/* Секция проекты */


.ProjectsSection > div {
  width: 1280px;
  margin: auto;
}



.Projects-Header p {
  width: 715px;
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
}



.Projects-Main {
  display: flex;
  justify-content: space-between;
  gap:20px;
}

.Projects-Main .Links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Projects-Main .Links button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(170, 170, 170, 0.50);
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  width: 546px;
  height: 120px;
  border-radius: 5px;
  border: 1px solid rgba(170, 170, 170, 0.15);
  background: #232323;
  transition: 0.5s ease;
}

.Projects-Main .Links button:hover:not(.Active) {
  padding: 39px 0px;
  opacity: 1;
  font-weight: 500;
  border: 1px solid #888888;
}

.Projects-Main .Links .Active {
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
  color: #FFF;
}

.Projects-Main .Info {
  display: flex;
  gap: 20px;
}

.Projects-Main .Info:nth-child(2) .Banner > div{
  align-items: center;
}

.Projects-Main .Info:not(.Active) {
  display: none;
}

.Projects-Main .Info .Banner {
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%), url("../img/Projects1.png");
  background-size: 111% 100%;
  background-position: -23px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: end;
  padding: 20px;
  border-radius: 10px;
  width: 396px;
}

.Projects-Main .Info:nth-child(3) .Banner {
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%),
    url("../img/Projects2.png");
  background-size: 100% 100%;
}

.Projects-Main .Info:nth-child(4) .Banner {
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%),
    url("../img/Projects3.png");
  background-size: 100% 100%;
}

.Projects-Main .Info .Banner h3 {
  color: #fff;
  font-size: 35px;
  font-weight: 500;
  line-height: 111%;
}

.Projects-Main .Info .Banner p {
  color: #fff;
  font-size: 16px;
  line-height: 111%;
  letter-spacing: -0.13px;
}

.Projects-Main .Info:nth-child(4) .Banner h3{
  font-size: 26px;
}

.Projects-Main .Info .Banner a {
  transition: 0.5s ease;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 5px 15px;
  border-radius: 5px;
  background: #2C2C2C;
  text-transform: uppercase;
  border: 1px solid rgba(170, 170, 170, 0.15);
}

.Projects-Main .Info .Banner > div {
  gap: 15px;
  display: flex;
  align-items: start;
}



.Projects-Main .Info .Banner a:hover {
  background: #0485FE2B;
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(19.4209041595459px);
  box-shadow: 0px 0px 9.9px 0px #0485FECC,0px 0px 4.5px 0px #0485FECC,0px 0px 1.6px 0px #FFFFFF;

}

.Projects-Main .Info .Stats {
  border-radius: 10px;
  background: #1e1e1e;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:30px;
  width: 298px;
}

.Projects-Main .Info .Stats h3 {
  color: #0084ff;
  font-size: 32px;
  font-weight: 700;
}

.Projects-Main .Info .Stats h3 span{
  font-size: 38px;
}

.Projects-Main .Info .Stats p {
  color: rgba(255, 255, 255, 0.50);
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
}

.Projects-Main .Info .Stats a {
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.152px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
}

.Projects-Main .Info .Stats > div:last-child {
  display: flex;
  gap:40px;
  margin-top: auto;
}

.Projects-Main_mobile {
  display: none;
}

@media (max-width: 1439px) {
  .ProjectsSection > div {
    width: 920px;
  }

  .Projects-Main .Info:nth-child(2) .Banner > div{
    align-items: start;
  }

  .Projects-Header p {
    width: 401px;
    font-size: 19px;
  }

  .Projects-Main .Links button {
    width: 276px;
    font-size: 18px;
  }

  .Projects-Main .Info .Banner > div {
    flex-direction: column;
    align-items: start;
  }

  .Projects-Main .Info .Banner {
    width: 330px;
    background-size: 130% 100% !important;
    background-position: center !important;
  }

  .Projects-Main .Info:nth-child(3) .Banner h3{
    line-height: 100%;
  }

  .Projects-Main .Info .Stats {
    width: 268px;
  }

  .Projects-Main .Links {
    gap: 45px;
  }
}

@media (max-width: 979px) {


  .ProjectsSection > div {
    width: 600px;
  }



  .Projects-Header p {
    display: none;
  }

  .Projects-Main {
    display: none;
  }

  .Projects-Main_mobile {
    display: block;
  }

  .Projects-Main_mobile .Info {
    display: flex;
    flex-direction: column;
  }

  .Projects-Main_mobile .Info .Banner {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%), url("../img/Projects1.png");
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: end;
    padding: 20px 20px 30px 20px;
    border-radius: 10px;
    height: 517px;
  }

  .Projects-Main_mobile .swiper-slide:nth-child(2) .Banner {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%), url("../img/Projects2.png");
    background-size: 100% 100%;
  }



 

  .Projects-Main_mobile .swiper-slide:nth-child(3) .Banner {
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 7.31%, #181818 93.34%), url("../img/Projects3.png");
    background-size: 100% 100%;
  }

  .Projects-Main_mobile .Info .Banner h3 {
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
  }

  .Projects-Main_mobile .Info .Banner p {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.13px;
  }

  .Projects-Main_mobile .Info .Banner a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #2C2C2C;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 133px;
    height: 31px;
  }



  .Projects-Main_mobile .Info .Stats {
    border-radius: 0px 0px 10px 10px;
  background: #1E1E1E;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    position: relative;
    margin-top: -10px;
    height: 278px;
  }


  .Projects-Main_mobile .Info .Stats h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .Projects-Main_mobile .Info .Stats h3 span{
    font-size: 24px;
  }

  .Projects-Main_mobile .Info .Stats p {
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  .Projects-Main_mobile .Info .Stats a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #2C2C2C;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    width: 133px;
    height: 31px;
  }

  .Projects-Main_mobile .Info .Stats > div:last-child {
    display: flex;
    gap: 40px;
    margin-top: auto;
  }

  .ProjectsSection .swiperP {
    width: 100%;
    margin: 0px;
    position: relative;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
    overflow: hidden;
  }

  .ProjectsSection .swiper-wrapper {
    height: auto;
  }

  .ProjectsSection .Swiper-Control{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }
}

@media (max-width: 659px) {
 .ProjectsSection{
  width: 332px;
  margin: auto;
  margin-top: 27px;
 }

    .Projects-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100% !important;
  }

  .Projects-Header h2{
    color: #fff;
  }

  .Projects-Header span{
    color: #B3B3B338;
    font-size: 18px;
    font-weight: 400;
  }

    .ProjectsSection .Swiper-Control{
    width: 332px;
    margin: 20px 0px 50px 0px;
    display: flex;
    align-items: center;
  }

  .ProjectsSection .Swiper-Control .line{
    border-radius: 41.856px;
    background: #6E6E6E;
    height: 1px;
    width: 214px;
  }

  .ProjectsSection .Swiper-Control > button{
    border-radius: 7.279px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(316deg, #1C67AC -8.42%, #41CCFF 40.53%, #41FFEF 98.54%);
    width: 43px;
    height: 33px;
  }

  .ProjectsSection .Swiper-Control .Swiper-Prev{
    margin: 0px 2px 0px 15px;
  }

  .Projects-Main_mobile .Info{
    width: 332px;
  }
.Projects-Main_mobile .Info .Banner {
        padding: 20px 20px 30px 20px;
        border-radius: 8px;
        height: 319px;
    }

        .Projects-Main_mobile .Info .Stats {
        border-radius: 0px 0px 8px 8px;
    }

    .Projects-Main_mobile .Info .Banner a{
      color: #fff;
      font-size: 9px;
      font-weight: 600;
      background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
      border-radius: 5px;
      width: 81px;
      height: 21px;
    }

    .Projects-Main_mobile .Info .Stats a{
      color: #fff;
      font-size: 9px;
      font-weight: 600;
      background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
      border-radius: 5px;
      width: 109px;
      height: 21px;
    }
  
}



/* Секция форма */
.FormSection {
  padding: 90px 0px 105px 0px;
  position: relative;
  border-radius: 20px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #171717 url("../img/FormBack.png") no-repeat;
  background-position: left bottom;
  background-size: 600px;
  margin-top: -15px;
}

.Form-Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px !important;
}

.Form-Header p {
  width: 715px;
  color: #fff;
  font-size: 24px;
  line-height: normal;
  letter-spacing: -0.25px;
}




.Form-Main {
  display: flex;
  justify-content: end;
}

.FormSection > div {
  width: 1280px;
  margin: auto;
}

.FormSection form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 715px;
}

.FormSection form p {
  color: rgba(255, 255, 255, 0.70);
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.FormSection form > div {
  padding: 24px 39px;
  border-radius: 10px;
  background: #353535;
  display: flex;
  gap: 26px;
  align-items: center;
}


/* ////////// */

/* Контейнер кастомного селекта */
.custom-select {
    position: relative;
    cursor: pointer;
}

/* Заголовок селекта */
.select-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-menu {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 26px;
    color: rgba(255, 255, 255, 0.70);
}

/* Кастомная стрелка */
.custom-arrow {
    width: 26px;
    height: 26px;
    transform: rotate(-90deg);
    transition: 0.3s;
}

/* Опции выпадающего списка */
.select-options {
    display: none;
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    background: #232323;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    border-top: none;
    z-index: 10;
}

/* Отдельные пункты списка */
.select-options li {
    padding: 16px 0;
    margin: 0 36px;
    color: white;
    transition: 0.3s;
    list-style: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 300;
    border-bottom: 1px solid #353535;
}

.select-options li:nth-last-child(1) {
    border: none;
}

/* Когда список открыт */
.custom-select.active .select-options {
    display: block;
}

.custom-select.active .custom-arrow {
    transform: rotate(0deg);
}


/* /////////////// */

.select-header,
.FormSection form [type="text"]{
  color:#fff;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  outline: none;
  width: 100%;
}


.FormSection form [type="text"]::placeholder,
.FormSection form [type="text"]::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.70);
}

.FormSection form [type="submit"] {
  margin-bottom: 20px;
  transition: 0.5s ease;
  text-align: center;
  justify-content: center;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  height: 61px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(170, 170, 170, 0.15);
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
  cursor: pointer;
}

.FormSection form [type="submit"]:hover {
  color:#000;
  background: #fff;
  box-shadow: none;
}

@media (max-width: 1439px) {
  .FormSection > div {
    width: 920px;
  }

  .Form-Header p {
    width: 401px;
    font-size: 19px;
  }


  .FormSection form {
    width: 544px;
  }

  .FormSection form p br {
    display: none;
  }
}

@media (max-width: 979px) {
  .FormSection {
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    background-size: auto 100%;
    overflow: visible;
  }

  .Form-Header {
    margin-bottom: 25px !important;
  }

  .FormSection > div {
    width: 600px;
  }

  .Form-Header p, .FormSection form p {
    display: none;
  }

  .FormSection form [type="submit"] {
    font-size: 16px;
    height: 55px;
  }

  .FormSection form [type="text"],
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder, .custom-select span, .select-options li {
    font-size: 16px;
  }

  .FormSection form > div {
    height: 50px;
    padding: 0px 0px 0px 40px;
    gap: 15px;
    border-radius: 5px;
  }

  .FormSection form {
    width: 100%;
    gap: 20px;
  }

  .select-header > img{
    display: none;
  }

  .select-menu{
    gap: 15px;
  }

  .FormSection form > div img{
    width: 18px;
  }
}

@media (max-width: 659px) {
  .FormSection > div {
    width: 320px;
  }
}



/* Секция партнёры */

.PartnersSection {
  padding: 80px 0px 95px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #232323;
  position: relative;
  margin-top: -15px;
  border-radius: 20px 20px 0px 0px;
}

.PartnersSection .wrap {
  width: 100%;
  margin: auto;
}

.PartnersSection:before,
.PartnersSection:after {
  content: "";
  height: 100%;
  top: 0;
  width: 20%;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}
.PartnersSection:before {
  left: 0;
  background: linear-gradient(
    90deg,
    rgba(23, 23, 23, 1) 10%,
    rgba(35, 35, 35, 0) 100%
  );
}
.PartnersSection:after {
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(35, 35, 35, 0) 0%,
    rgba(23, 23, 23, 1) 90%
  );
}
.PartnersSection .item img{
  width: 140px;
  border-radius: 5px;
}


.PartnersSection .marquee {
  animation: scroll 250s linear infinite;
}

@media (max-width: 1439px) {
  
}

@media (max-width: 979px) {
  .PartnersSection {
    padding: 50px 0px 65px 0px;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid #353535;
  }

  .PartnersSection .item img{
    width: 140px;
  }
}


