/* ОБЩИЕ */
body{
    background: #212121;
}

h2{
    color: #FFF;
    font-size: 52.127px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: -0.521px;
    text-transform: uppercase;
}


@media (max-width: 979px) {
  /*600*/
  h2{
      color: #0485FE;
  }
}

@media (max-width: 659px) {
  /*300*/
  h2{
      font-size: 23px;
      font-weight: 600;
  }
}


/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:419px;
    padding: 65px 0px 86px 0px;
    background: url("../../../img/mining/MainBack.jpg") no-repeat;
    background-size: 100% 100%;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:24px;
    align-items: start;
}
h1{
    color: #FFF;
    font-size: 69.58px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.696px;
    text-transform: uppercase;
    width: 520px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 27px;
    font-weight: 400;
    line-height: 111%;
    letter-spacing: -0.27px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:259px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 30.881px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.618px;
    padding: 17.156px 25.734px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #181818;
    flex-shrink: 0;
    transition: 0.5s ease;
}

.MainSection-Content a:hover{
    box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    row-gap:36px;
    column-gap: 10px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:18px;
}

.MainSection .Info::before{
    content: "";
    height: 90%;
    width: 4px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}


.MainSection .Info h3{
    color: #0485FE;
font-size: 69px;
font-weight: 500;
line-height: 80%;
letter-spacing: -0.69px;
text-transform: uppercase;
}

.MainSection .Info p{
    color: #FFF;
    letter-spacing: -0.25px;
    font-family: "Mulish";
    font-weight: 400;
    font-size: 25px;
    line-height: 27.75px;
}


@media (max-width: 1439px){
  .MainSection > div{
      width: 920px;
  }

  h1{
      width: 329px;
      font-size: 51.58px;
  }

  .MainSection-Header p {
      font-size: 21px;
  }

  .MainSection-Content a {
      font-size: 26px;
  }

  .MainSection-Content {
      gap: 105px;
  }

  .MainSection-Content > div{
      grid-template-columns: 1.1fr 1fr;
  }

  .MainSection .Info p {
      font-size: 20px;
  }

  .MainSection .Info h3 {
      font-size: 47px;
  }

  .MainSection{
      gap:250px;
      background-size: 1440px;
  background-position: center;
  }
}

@media (max-width: 979px) {
  /*600*/
  .MainSection{
      margin-top: -13px;
      gap: 65px;
  }
  h1{
      font-size: 60px;
      color: #0485FE;
      width: auto;
  }
  .MainSection .Info h3 {
      font-size: 53px;
  }
  .MainSection > div{
      width: 600px;
  }
  .MainSection-Header {
      flex-direction: column;
  }

  .MainSection-Content{
      flex-direction: column-reverse;
      gap:16px;
  }
  .MainSection .Info:first-child {
      grid-column: unset;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 1fr;
      gap:20px;
      width: 100%;
  }

  .MainSection .Info p {
      font-size: 17px;
  }

  .MainSection-Content a{
      width: 100%;
      text-align: center;
  }
}

@media (max-width: 659px) {
  /*300*/
  h1{
      font-size: 30px;
      font-weight: 600;
  }


  .MainSection{
      padding: 19px 0px 33px 0px;
      gap: 65px;
      margin-top: -3px;
  }

  
  .MainSection > div{
      width: 300px;
  }

  .MainSection-Header p {
      font-size: 11px;
      font-weight: 300;
  }

  .MainSection-Header{
      gap:5px;
  }

  .MainSection .Info h3 {
      font-size: 35px;
  }

  .MainSection .Info p {
      font-size: 11px;
  }

  .MainSection .Info::before {
      width: 2px;
  }

  .MainSection .Info {
      gap: 7px;
  }

  .MainSection-Content a {
      font-size: 12px;
      height: 37px;
      padding: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      border: 0.394px solid #8D8D8D;
      background: #181818;
      box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 3.466px 0px rgba(4, 133, 254, 0.75), 0px 0px 6.538px 0px #0485FE;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 1fr;
      gap: 0px;
  }
}



/*Почему майнинг выгоден*/
.AboutSection{
    border-radius: 15px;
    border: 1px solid #353535;
    padding: 86px 0px;
    margin-top: -9px;
    background: #212121;
    position: relative;
}

.AboutSection h2{
    width: 1280px;
    margin: auto;
    margin-bottom: 60px;
}



.About-Content{
    display: flex;
    gap: 57px;
}

.About-Content .Info p{
    color: #FFF;
    font-family: Mulish;
    font-weight: 400;
    font-size: 25px;
    line-height: 111%;
    letter-spacing: -0.25px;
}

.About-Content .Info h3{
    font-weight: 500;
    font-size: 35px;
    line-height: 111%;
    letter-spacing: -0.35;
    color: #0485FE;
    text-transform: uppercase;
}

.About-Content .Info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.wrap{
    width: calc((100vw - 300px) / 2);
}
  
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 29px;
  }
  
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 29px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    transition: all 0.1s ease-in-out;
    height: 389px;
  }

  .item img{
    width: 100%;
    height: 100%;
  }
  
  .marquee {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  @media (max-width: 1439px){
    /*920*/
    .AboutSection h2{
        margin-left: calc((100vw - 920px) / 2);
    }
}

@media (max-width: 979px) {
    /*600*/
    .AboutSection{
        flex-direction: column;
    }

    .AboutSection h2{
        margin-left: calc((100vw - 600px) / 2);
        width: auto;
    }
    
    .About-Header{
        width: 100%;
    }

    .item {
        width: 353px;
        height: 223px;
    }

    .About-Content > * {
        margin-left: calc((100vw - 600px) / 2) !important;
    }

    .About-Content{
      flex-direction: column;
    }

    .wrap{
      width: 100%;
      margin: 0px !important;
    }

    .About-Content .Info > div{
      margin-bottom: 30px;
    }
  }

  @media (max-width: 659px) {
    /*300*/
    .AboutSection{
      padding: 31px 0px 16px 0px;
      gap:24px;
      border-radius: 7px;
    }
    .AboutSection h2{
      width: 300px;
      margin: auto;
      margin-bottom: 16px;
    }

    .About-Content .Info{
      width: 300px;
      margin: auto !important;
    }

    .About-Content .Info h3 {
      font-size: 14px;
    }

    .item {
      width: 169px;
      height: 95px;
      margin: 0px;
    }

    .items, .items-wrap {
      gap: 5px;
    }

    .About-Content .Info p {
      font-size: 12px;
    }

    .About-Content .Info > div {
      margin-bottom: 15px;
    }

    .About-Content {
      gap: 20px;
    } 
  }








  /*Майнинг или банк*/
  .VsSection{
    padding: 89px 0px 85px 0px;
    background: #181818 url("../../../img/mining/VsBack.png") no-repeat center;
    margin-top: -10px;
  }

  .VsSection > div{
    width: 1280px;
    margin: auto;
  }

  .Vs-Header p{
    font-weight: 500;
    font-size: 52.13px;
    line-height: 57.86px;
    letter-spacing: -0.5213;
    color:#0485FE;
    text-transform: uppercase;
  }


  .Vs-Content{
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  .Vs-Content .Card:first-child{
    background: #262626;
    width: 494px;
    height: 377px;
    padding: 19px 22px;
    border-radius: 10px;
    position: relative;
  }


  .Vs-Content .Card:first-child .Card-Header h3{
    font-weight: 500;
    font-size: 27.57px;
    line-height: 111%;
    letter-spacing: 0px;
    color:#fff;
    opacity: 0.77;
    text-transform: uppercase;
    width: 220px;
    margin-bottom: 5px;
  }

  .Vs-Content .Card:first-child .Card-Header > div > div{
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    opacity: 0.63;
    width: 184px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin: 10px 0px 14px 0px;
  }

  .Vs-Content .Card:first-child .Card-Header span{
    font-weight: 500;
    font-size: 30.58px;
    line-height: 111%;
    letter-spacing: 0px;
    color:#fff;
    opacity: 0.59;
  }

  .Vs-Content .Card:first-child .Card-Header p{
    font-weight: 400;
    font-size: 17.09px;
    line-height: 22.04px;
    letter-spacing: 0px;
    color:#fff;
    opacity: 0.77;
  }

  .Vs-Content .Card:first-child .Card-Content{
    position: absolute;
    background: url("../../../img/mining/Vs1.svg");
    width: 232px;
    height: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 24px;
    right: 40px;
  }

  .Vs-Content .Card:first-child .Card-Content span{
    font-weight: 500;
    font-size: 26.16px;
    line-height: 111%;
    letter-spacing: 0px;
    text-align: center;
    color:#fff;
    opacity: 0.5;
  }

  .Vs-Content .Card:first-child .Card-Footer p{
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 22.43px;
    line-height: 28.15px;
    letter-spacing: 0px;
    color:#fff;
    opacity: 0.77;
    margin-bottom: 7px;
  }

  .Vs-Content .Card:first-child .Card-Footer{
    margin-top: 83px;
  }


  


  .Vs-Content .Card:last-child{
    background: #262626;
    border: 1px solid #353535;
    backdrop-filter: blur(5.96500301361084px);

box-shadow: 0px 0px 43.6px 0px #0666DF, 0px 0px 17.61px 0px #0485FE91, 0px 0px 2.05px 0px #FFFFFF59;

    width: 722px;
    height: 469px;
    padding:30px 34px 21px 34px;
    border-radius: 10px;
  }


  .Vs-Content .Card:last-child .Card-Header h3{
    font-weight: 500;
    letter-spacing: 0px;
    color:#fff;
    text-transform: uppercase;
    width: 290px;
    font-size: 36.46px;
    line-height: 111%;
  }

  .Vs-Content .Card:last-child .Card-Header > div > div{
    border-radius: 10px;
    border: 1px solid #FFFFFF;
    background: #0485FE1A;
    backdrop-filter: blur(5.96500301361084px);
    box-shadow: 0px 0px 15.53px 0px #0666DF, 0px 0px 4.97px 0px #0485FE91, 0px 0px 2.05px 0px #FFFFFF59;
    width: 223px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    margin:23px 0px 10px 0px;
  }

  .Vs-Content .Card:last-child .Card-Header span{
    font-weight: 500;
    letter-spacing: 0px;
    color:#fff;
    font-size: 37px;
    line-height: 111%;
  }

  .Vs-Content .Card:last-child .Card-Header img{
    width: 15px;
  }

  .Vs-Content .Card:last-child .Card-Header p{
    font-weight: 400;
    letter-spacing: 0px;
    color:#fff;
    font-size: 28.13px;
    line-height: 111%;
  }

  .Vs-Content .Card:last-child .Card-Content{
    position: absolute;
    background: url("../../../img/mining/Vs2.svg");
    width: 386px;
    height: 386px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 38px;
    right: 34px;
  }

  .Vs-Content .Card:last-child .Card-Content span{
    font-weight: 500;
    font-size: 30px;
    line-height: 111%;
    letter-spacing: 0px;
    text-align: center;
    color:#fff;
  }

  .Vs-Content .Card:last-child .Card-Footer p{
    font-family: 'Mulish';
    font-weight: 400;
    letter-spacing: 0px;
    color:#fff;
    margin-bottom: 8px;
    font-size: 26.05px;
    line-height: 111%;
  }

  .Vs-Content .Card:last-child .Card-Footer{
    margin-top: 101px;
  }

  .Vs-Footer{
    background: #262626;
    border: 1px solid #353535;
    width: 100%;
    height: 182;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 50px !important;
    gap:62px;
    padding-left: 33px;
  }

  .Vs-Footer p{
    font-family: 'Mulish';
    font-weight: 500;
    font-size: 30.37px;
    line-height: 111%;
    letter-spacing: -0.3037;
    color:#FFFFFF;
    width: 467px;
    flex-shrink: 0;
  }

  .Vs-Footer div{
    backdrop-filter: blur(18.5px);

box-shadow: 0px 0px 22.7px 0px #0666DF,0px 0px 24.6px 0px #0485FE91,0px 0px 2.05px 0px #FFFFFF;

    border: 1px solid #353535;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 31px;
  }

  .Vs-Footer div span{
    font-weight: 500;
    font-size: 91px;
    line-height: 111%;
    letter-spacing: -1.0608px;
    color:#0485FE;
  }



  
  @media (max-width: 1439px) {
    .VsSection > div{
      width: 920px;
    }
    .Vs-Content .Card:first-child {
      width: 400px;
    }

    .Vs-Content .Card:last-child {
      width: 500px;
    }

    .Vs-Content .Card:first-child .Card-Content {
      width: 180px;
      height: 180px;
      background-size: 100% 100%;
      top: 76px;
    right: 9px;
  }

  .Vs-Content .Card:first-child .Card-Content span, .Vs-Content .Card:last-child .Card-Content span {
    font-size: 22px;
}


  .Vs-Content .Card:last-child .Card-Content {
    width: 220px;
    height: 220px;
    background-size: 100% 100%;
    top: 76px;
  right: 9px;
}

.Vs-Content .Card:last-child .Card-Header p {
  font-size: 25px;
}

.Vs-Footer div span {
  text-align: center;
  font-size: 60px;
}

.Vs-Footer div{
 padding: 0px;
}
  }
  
  @media (max-width: 979px) {
    .VsSection > div{
      width: 600px;
    }


    .VsSection{
      background-size: 100% 100%;
    }

    .Vs-Header p{
      display: none;
    }

    .Vs-Content{
      flex-direction: column;
      gap:30px;
    }

    .Vs-Content .Card{
      width: 100% !important;
    }

    .Vs-Content .Card:first-child .Card-Content {
      width: 280px;
      height: 280px;
      top: 20px;
    right: 20px;
  }

  .Vs-Content .Card:last-child .Card-Content {
    width: 300px;
    height: 300px;
    top: 40px;
  right: 20px;
}

  .Vs-Content .Card:first-child .Card-Content span, .Vs-Content .Card:last-child .Card-Content span {
    font-size: 28px;
}

.Vs-Footer {
  gap: 20px;
  flex-direction: column;
  padding: 0px;
  background: none;
  border: none;
}

.Vs-Footer div {
  background: #262626;
  justify-content: center;
}

.Vs-Footer p {
  width: auto;
}
  }
  
  @media (max-width: 659px) {
    .VsSection > div{
      width: 300px;
    }

    .VsSection{
      padding: 31px 0px;
    }

    .Vs-Content{
      gap: 18px;
      margin-top: 20px !important;
    }

   

    .Vs-Content .Card .Card-Header h3 {
      font-size: 14px !important;
      width: 120px !important;
  }

  .Vs-Content .Card:first-child .Card-Header > div > div span{
    font-size: 14px;
  }

  .Vs-Content .Card:first-child {
    height: 169px;
    padding: 11px 15px;
}

.Vs-Content .Card:first-child .Card-Footer {
   margin-top: 18px; 
}

  .Vs-Content .Card:first-child .Card-Header > div > div {
    width: 90px;
    height: 28px;
    gap:5px;
    border-radius: 6px;
    margin: 5px 0px;
}

.Vs-Content .Card:first-child .Card-Footer p {
  font-size: 10px;
  line-height: normal;
}

.Vs-Content .Card .Card-Header > div > div img{
  width: 7px;
}

.Vs-Content .Card:first-child .Card-Header p {
  font-size: 12px;
  line-height: normal;
}

.Vs-Content .Card:last-child .Card-Header p {
  font-size: 10px;
}

.Vs-Content .Card:first-child .Card-Content {
  width: 137px;
  height: 137px;
  top: 16px;
right: 11px;
}

.Vs-Content .Card:first-child .Card-Content span, .Vs-Content .Card:last-child .Card-Content span {
  font-size: 15px;
}

.Vs-Content .Card:last-child .Card-Header span {
  font-size: 14px;
}

.Vs-Content .Card:last-child .Card-Header > div > div{
  width: 92px;
  height: 32px;
  border-radius: 4px;
  gap:5px;
  margin: 19px 0px 5px 0px;
  backdrop-filter: blur(2.4785330295562744px);

box-shadow: 0px 0px 6.45px 0px #0666DF,0px 0px 2.07px 0px #0485FE91,0px 0px 0.85px 0px #FFFFFF59;

}

.Vs-Content .Card:last-child .Card-Footer p {
  font-size: 10px;
  margin-bottom: 5px;
}

.Vs-Content .Card:last-child .Card-Header img {
  width: 10px;
}

.Vs-Content .Card:last-child .Card-Footer {
  margin-top: 24px;
}

.Vs-Content .Card:last-child {
  height: 189px;
  padding: 12px 14px;
}

.Vs-Content .Card:last-child .Card-Content{
  width: 154px;
  height: 154px;
  top:18px;
  right: 11px;
}


.Vs-Footer{
  margin-top: 20px !important;
  height: auto;
}

.Vs-Footer p{
  font-size: 12px;
  width: 223px;
  margin: 0px auto;
}

.Vs-Footer div span {
  font-size: 23px;
}

.Vs-Footer div {
 height: 45px;
 border-radius: 3px;
 backdrop-filter: blur(5.956290245056152px);
box-shadow: 0px 0px 7.31px 0px #0666DF, 0px 0px 7.92px 0px #0485FE91, 0px 0px 0.66px 0px #FFFFFF;

}
  }



  /*Наши услуги*/
 .ServicesSection{
    margin: auto;
    padding: 85px 0px 0px 0px;
    border: 1px solid #353535;
    background: #212121;
    border-radius: 15px 15px 0px 0px;
    margin-top: -9px;
}

.ServicesSection > div{
    width: 1280px;
    margin: auto;
    display: flex;
    gap:44px;
}

.ServicesSection h2{
    font-size: 47.1px;
    line-height: 111%;
    margin-bottom: 55px;
}

.Services-Left > div{
    width: 479px;
    height: 492;
    overflow: hidden;
}

.Services-Left > div img{
    position: relative;
    top: 35px;
    width: 100%;
    height: 100%;
}

.Services-Right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:32px;
}

.Services-Right .Card{
    background: #303030;
    width: 732px;
    border-radius: 10px;
}

.Services-Right .Card:first-child{
    height: 218px;
    padding: 38px 20px 0px 32px;
}

.Services-Right .Card:last-child{
    height: 212px;
    padding: 41px 20px 0px 32px;
}

.Services-Right .Card h3{
    font-weight: 500;
    font-size: 35px;
    line-height: 111%;
    letter-spacing: -0.35;
    color:#0485FE;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.Services-Right .Card p{
    line-height: 38.85px;
    letter-spacing: -0.25;
    color:#fff;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 25px;
    line-height: 111%;
}

@media (max-width: 1439px){
  .ServicesSection > div{
    width: 920px;
}

.ServicesSection > div {
  gap: 0px;
}

.Services-Right .Card {
  width: 439px;
}

.Services-Right .Card h3 {
  font-size: 27px;
}

.Services-Right .Card p {
  font-size: 19px;
}
}

@media (max-width: 979px) {
  /*600*/
  .ServicesSection > div{
    width: 600px;
    flex-direction: column;
  }

  .ServicesSection{
    padding: 50px 0px;
  }

  .Services-Left > div{
    display: none;
  }

  .Services-Right .Card {
    width: 100%;
  }
}

@media (max-width: 659px) {
  /*300*/
  .ServicesSection > div{
    width: 300px;
  }

  .ServicesSection{
    padding: 31px 0px 31px 0px;
    border-radius: 7px;
    position: relative;
  }

  .Services-Right .Card h3 {
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .Services-Right .Card p {
    font-size: 12px;
  }

  .ServicesSection h2{
    font-size: 23px;
    margin-bottom: 20px;
  }

  .Services-Right .Card:first-child {
    border: 1px solid #555555;
    height: 89px;
    padding: 15px 0px 0px 13px ;
    border-radius: 4px;
  }

  .Services-Right .Card:last-child {
    border: 1px solid #555555;
    height: 99px;
    padding: 16px 18px 0px 13px ;
    border-radius: 4px;
  }

  .Services-Right{
    gap: 13px;
  }
}


/*Преимущества секция*/
.AdvantagesSection{
    display: flex;
    border-radius: 15px 15px 0px 0px;
    border: 1px solid #353535;
    background: #191919 url("../../../img/mining/AdvantagesBack.png");
    background-size: auto 100%;
    padding: 85px 0px 93px calc((100vw - 1280px) / 2);
    gap:59px;
    position: relative;
    margin-top: -11px;
}

.Advantages-Header{
    display: flex;
    flex-direction: column;
    width: 498px;
    flex-shrink: 0;
}

.Advantages-Content{
    width: 100%;
}

.Advantages-Content h3{
    color: #FFF;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    line-height: 111%;
    letter-spacing: -0.35px;
}

.Advantages-Content p{
    color: #FFF;
    letter-spacing: -0.25px;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 25px;
    line-height: 111%;
}

.Advantages-Content div{
    background: #0058AB;
    height: 1px;
    width: 100%;
    margin: 25px 0px;
}

.h2_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .AdvantagesSection{
      padding: 79px 0px 114px calc((100vw - 920px) / 2);
      gap: 20px;
  }

  .Advantages-Header h2{
      font-size: 42px;
  }

  .Advantages-Content h3 {
    font-size: 32px;
}

.Advantages-Content p {
  font-size: 22px;
  width: 400px;
}

  .Advantages-Header {
      width: 360px;
  }
}

@media (max-width: 979px) {
  /*600*/

  .AdvantagesSection{
      padding: 30px 0px 80px calc((100vw - 600px) / 2);
      gap:15px;
      background-size: 300% 100%;
      flex-direction: column;
  }

}

@media (max-width: 659px) {
  /*300*/
  .h2_mobile{
    display: block;
  }

  .h2_desktop{
    display: none;
  }

  .AdvantagesSection{
      padding: 40px 0px 35px calc((100vw - 300px) / 2);
      background: #191919  url("../../../img/mining/AdvantagesBack_mobile.png");
      background-size: 100% 100%;
      gap:15px;
      border-radius: 0px;
      position: static;
  }

  .Advantages-Header {
    width: 300px;
}

  .Advantages-Header h2{
    font-size: 23px;
}

.Advantages-Content h3 {
  font-size: 14px;
}

.Advantages-Content p {
  font-size: 12px;
  width: auto;
}

.Advantages-Content div {
  margin: 12px 0px;
}


}




/*Почему нас выбирают*/
.WhySection{
    background: #212121;
    padding: 85px 0px;
    border: 1px solid #353535;
    border-radius: 15px;
    margin-top: -9px;
    position: relative;
}

.WhySection > *{
    width: 1280px;
    margin: auto;
}

.Why-Content{
    margin-top: 57px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 130px;
    grid-row-gap: 41px;
    grid-column-gap: 36px;
}

.Why-Content .Card{
    display: flex;
    gap:7px;
    align-items: center;
    border-radius: 12px;
    background: #303030;
    border: 1px solid #8D8D8D;
    padding-left: 10px;
}

.Why-Content .Card > div{
    width: 114px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Why-Content .Card h3{
    letter-spacing: 0.35px;
    color:#fff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 35px;
    line-height: 111%;
}

@media (max-width: 1439px){
  /*920*/
  .WhySection > *{
    width: 920px;
}

.WhySection{
  padding: 50px 0px;
}

.Why-Content .Card h3 {
  font-size: 29px;
}
}

@media (max-width: 979px) {
  /*600*/
  .WhySection > *{
    width: 600px;
}

.Why-Content {
  grid-template-columns: 1fr;
  gap:15px;
}


}

@media (max-width: 659px) {
  /*300*/
  .WhySection > *{
    width: 300px;
}

.WhySection{
  padding: 31px 0px;
  border-radius: 7px;
}

.Why-Content .Card h3 {
  font-size: 14px;
  padding-top: 4px;
}

.Why-Content .Card h3 br{
  display: none;
}

.Why-Content .Card{
  
  border-radius: 5px;
  padding-left: 14px;
}

.Why-Content .Card > div {
  width: 30px;
}

.Why-Content .Card:nth-child(1) img {
  width: 40px;
}
.Why-Content .Card:nth-child(2) img {
  width: 35px;
}
.Why-Content .Card:nth-child(3) img {
  width: 30px;
}
.Why-Content .Card:nth-child(4) img {
  width: 23px;
}

.Why-Content {
  grid-auto-rows: 46px;
  gap:5px;
  margin-top: 16px;
}


}





/*Пакеты услуг*/
.PacksSection{
    background: #181818 url("../../../img/mining/PacksBack.png") no-repeat;
    background-size: 100% 100%;
    padding: 76px 0px 95px 0px;
    margin-top: -9px;
}

.PacksSection > *{
    width: 1280px;
    margin: auto;
}

.Packs-Content{
    margin-top: 57px;
    display: grid;
    grid-template-columns: repeat(3, 384px);
    grid-template-rows: 405px;
    justify-content: space-between;
}

.Packs-Content .Card{
  transition: 0.5s ease;
    flex-shrink: 0;
    border-radius: 11px;
    border: 1px solid #353535;
    background: #2828289E;
    backdrop-filter: blur(16.980453491210938px);
}

.Packs-Content .Card:hover{
box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
backdrop-filter: blur(16.980453491210938px);
}


.Packs-Content .Card-Header{
    border-bottom: 1px solid #353535;
    background: #282828;
    height: 131px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.Packs-Content .Card h3{
    color: #0485FE;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 35.59px;
    line-height: 39.5px;
    letter-spacing: -0.3559;
    text-align: center;
}

.Packs-Content .Card h4{
    color: #fff;
    letter-spacing: -0.27;
font-weight: 400;
font-size: 27px;
line-height: 29.97px;
}

.Packs-Content .Card p{
    color: #FFF;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 23px;
    line-height: 25.53px;
    letter-spacing: -0.23px;
}

.Packs-Content .Card-Content{
    padding: 11px 0px 0px 23px;
    display: flex;
    gap:34px;
    justify-content: center;
    flex-direction: column;
    height: 274px;
}

.Packs-Content .Card-Content li{
    color: #FFF;
    font-size: 20.431px;
    font-weight: 400;
    line-height: 111%;
    list-style: disc;
    margin-left: 20px;
    font-family: "Mulish";
}

.Packs-Content_mobile{
  display: none;
}


@media (max-width: 1439px){
  /*920*/
  .PacksSection > *{
    width: 920px;
  }

  .Packs-Content {
    grid-template-columns: repeat(3, 300px);
  }

  .Packs-Content .Card h3 {
    font-size: 28px;
    line-height: normal;
  }

  .Packs-Content .Card-Content p {
    font-size: 18px;
    line-height: normal;
  }

  .Packs-Content .Card-Content{
    justify-content: start;
    gap: 20px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .PacksSection > *{
    width: 600px;
  }
  .Packs-Content {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    grid-template-rows: unset;
    gap:10px;
  }

  .Packs-Content .Card-Header {
    height: 60px;
}
  
}

@media (max-width: 659px) {
  /*300*/
  .PacksSection{
    padding: 31px 0px 26px 0px;
  }
  
  .PacksSection > *{
    width: 300px;
  }
  .Packs-Content_mobile{
    display: block;
    margin-top: 26px;
    width: 479px;
    margin-left: calc((100vw - 300px) / 2);
  }

  .Packs-Content{
    display: none;
  }
  
  .Packs-Content_mobile .Card{
    transition: 0.5s ease;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #393939;
    background: #242424AD;
    backdrop-filter: blur(16.980453491210938px);
    width: 172px;
    height: 181px;
  }
  
  
  
  .Packs-Content_mobile .Card-Header{
    border-bottom: 1px solid #353535;
    background: #282828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    border-radius: 4px;
  }
  
  
  
  .Packs-Content_mobile .Card h3{
    color: #0485FE;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
  }

  .Packs-Content_mobile .Card h4{
    color: #fff;
    letter-spacing: 0px;
font-weight: 400;
font-size: 12px;
line-height: normal;
}

.Packs-Content_mobile .Card p{
    color: #FFF;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 10px;
    line-height: normal;
    letter-spacing: -0px;
}
  
  .Packs-Content_mobile .Card-Content{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    height: 122px;
    padding-right: 10px;
  }
  
  .Packs-Content_mobile .Card-Content li{
    color: #FFF;
    list-style: disc;
    margin-left: 12px;
    font-family: "Mulish";
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0px;
  }


  .swiper-wrapper{
    height: auto !important;
  }

  .Swiper-Control {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    margin-top: 17px;
    width: 300px;
  }
  
  .Swiper-Control > button {
    color: #fff;
    font-size: 24px;
    padding: 5.7px 16px;
    border-radius: 4px;
    background: #ffffff29;
  }
  
  .Swiper-Control > button:hover {
    opacity: 0.8
  }
  .Swiper-Control > button img {
    width: 6px;
  }
}



/* Секция форма */

.Form-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  
  .Form-Header p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#fff;
    width: 729px;
  }
  
  .Form-Header h2 {
    color: #0485FE;
  }
  
  .FormSection {
    background: #212121 url("../../../img/Back_2.svg") no-repeat;
    background-size: 760px;
    background-position: -131px -10px;
    padding: 77px 0px 104px 0px;
    border-radius: 15px;
    border: 1px solid #353535;
    position: relative;
    margin-top: -9px;
  }
  
  .Form-Main {
    display: flex;
    justify-content: end;
  }
  
  .FormSection > div {
    width: 1280px;
    margin: auto;
  }
  
  .FormSection form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 734px;
  }
  
  .FormSection form p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#666;
  }
  
  .FormSection form > div {
    padding: 27px 36px;
    border-radius: 10px;
    background: #353535;
    display: flex;
    gap: 26px;
  }
  
  .FormSection form [type="text"],
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    outline: none;
    width: 100%;
  }
  
  .FormSection form [type="submit"] {
    margin-bottom: 10px;
    transition: 0.5s ease;
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 0px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #232323;
    cursor: pointer;
  }
  
  .FormSection form [type="submit"]:hover {
    backdrop-filter: blur(19.4209041595459px);

box-shadow: 0px 0px 32.7px 0px #0666DF, 0px 0px 7.3px 0px #0485FE91, 0px 0px 5.5px 0px #FFFFFF59;

  }

  @media (max-width: 1439px) {
    .FormSection > div {
      width: 920px;
    }
  
    .Form-Header p {
      width: 401px;
      font-size: 19px;
    }
  
    .Form-Header h2 {
      font-size: 43px;
    }
  
    .Form-Header {
      gap: 44px;
    }
  
    .FormSection form {
      width: 544px;
    }
  
    .FormSection form p br {
      display: none;
    }
  }
  
  @media (max-width: 979px) {
    .FormSection {
      padding: 30px 0px 40px 0px;
    }
  
    .Form-Header {
      margin-bottom: 30px !important;
      flex-direction: column;
    }
  
    .FormSection > div {
      width: 600px;
    }
  
    .Form-Header p {
      width: auto;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: -0.12px;
      line-height: 111%;
      /* display: none; */
    }
  
    .Form-Header h2 {
      font-size: 23px;
    }
  
    .FormSection form [type="submit"] {
      width: 100%;
      font-size: 12px;
      padding: 15px 0px;
    }
  
    .FormSection form [type="text"],
    .FormSection form [type="text"]::placeholder,
    .FormSection form [type="text"]::-webkit-input-placeholder {
      font-size: 12px;
    }
  
    .FormSection form > div {
      padding: 14px 16px;
    }
  
    .FormSection form {
      width: 100%;
      gap: 12px;
    }
  }
  
  @media (max-width: 659px) {
    .FormSection {
        background-size: 316px;
        background-position: -2px 22px;
      border-radius: 7px;
    }
    
    .FormSection > div {
      width: 300px;
      gap: 20px;
    }
  
    .FormSection form [type="submit"] {
      padding: 12px 0px;
      border-radius: 5px;
      border-color: #353535;
      opacity: 1;
      box-shadow: 0px 0px 12.2px 0px rgba(6, 102, 223, 1),
        0px 0px 6.26px 0px rgba(4, 133, 254, 0.57),
        0px 0px 2.58px 0px rgba(255, 255, 255, 0.35);
      margin-bottom: 14px;
    }
  
    .FormSection form p {
      font-size: 10px;
      line-height: 100%;
    }
  
    .FormSection form p br {
      display: block;
    }
  
    .FormSection form > div {
      padding: 13px 16px;
      border-radius: 5px;
      gap:11px;
    }
  
    .FormSection form > div img{
      width: 13px;
    }
  }


  /*ФУТЕР*/
  footer{
    margin-top: -9px;
  }