/* ОБЩИЕ */
body{
    background: #212121;
}

h2{
    color: #FFF;
    font-size: 52.127px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: -0.521px;
    text-transform: uppercase;
}

@media (max-width: 979px) {
  /*600*/
  h2{
      color: #0485FE;
  }
}

@media (max-width: 659px) {
  /*300*/
  h2{
      font-size: 23px;
      font-weight: 600;
  }
}



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:185px;
    padding: 74px 0px 81px 0px;
    background: url("../../../img/investitions/MainBack.jpg") no-repeat;
    background-size: 100% 100%;
    margin-top: -4px;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:40px;
    align-items: start;
}
h1{
    color: #FFF;
    font-size: 67.44px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.6744px;
    text-transform: uppercase;
    width: 512px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 27px;
    font-weight: 300;
    line-height: 111%;
    letter-spacing: -0.27px;
}

.MainSection-Header p:first-child{
  margin-bottom: 30px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:260px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 30.881px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.618px;
    padding: 17.156px 25.734px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #181818;
    flex-shrink: 0;
    transition: 0.5s ease;
    box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}

.MainSection-Content a:hover{
    box-shadow: none;
    color:#000;
    background: #fff;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 340px 1fr;
    row-gap:36px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:16px;
}

.MainSection .Info::before{
    content: "";
    height: 90%;
    width: 4px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}

.MainSection .Info:first-child{
    grid-column: span 2;
}

.MainSection .Info h3{
    color: #0485FE;
font-size: 69px;
font-weight: 500;
line-height: 111%;
letter-spacing: -0.69px;
text-transform: uppercase;
}

.MainSection .Info p{
    color: #FFF;
    font-size: 25px;
    font-weight: 300;
    line-height: 111%;
    letter-spacing: -0.25px;
    font-family: "Mulish";
}

@media (max-width: 1439px){
  .MainSection > div{
      width: 920px;
  }

  .MainSection-Content > div {
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
}

  h1{
      width: 329px;
      font-size: 51.58px;
  }

  .MainSection-Header p {
      font-size: 21px;
  }

  .MainSection-Content a {
      font-size: 26px;
  }

  .MainSection-Content {
      gap: 157px;
  }

  .MainSection .Info h3 {
      font-size: 44px;
  }

  .MainSection .Info p {
    font-size: 21px;
}

  .MainSection{
      gap:134px;
      background-size: 1440px;
  background-position: center;
  }

  .MainSection-Header {
    gap: 75px;
}
}

@media (max-width: 979px) {
  /*600*/
  .MainSection{
      margin-top: -13px;
  }
  h1{
      font-size: 60px;
      color: #0485FE;
      width: auto;
  }
  h1 br{
      display: none;
  }
  .MainSection .Info h3 {
      font-size: 53px;
  }
  .MainSection > div{
      width: 600px;
  }
  .MainSection-Header {
      flex-direction: column;
      gap:20px;
  }

  .MainSection-Content{
      flex-direction: column-reverse;
      gap:16px;
  }
  .MainSection .Info:nth-child(1){
      display: none;
  }
  .MainSection .Info:first-child {
      grid-column: unset;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 1fr;
      gap:0px;
      width: 100%;
  }

  .MainSection .Info p {
      font-size: 17px;
  }

  .MainSection-Content a{
      width: 100%;
      text-align: center;
  }
}

@media (max-width: 659px) {
  /*300*/
  h1{
      font-size: 30px;
      font-weight: 600;
  }

  .MainSection{
      padding: 31px 0px 41px 0px;
      gap: 30px;
      margin-top: -6px;
  }

  .MainSection-Header p:first-child{
    margin-bottom: 5px;
  }

  
  .MainSection > div{
      width: 300px;
      gap:7px;
  }

  .MainSection-Header p {
      font-size: 11px;
      font-weight: 300;
  }

  .MainSection-Header{
      gap:12px;
  }

  .MainSection .Info h3 {
      font-size: 30px;
  }

  .MainSection .Info p {
      font-size: 10px;
  }

  .MainSection .Info::before {
      width: 2px;
  }

  .MainSection .Info {
      gap: 7px;
  }

  .MainSection-Content a {
      font-size: 12px;
      padding: 6.5px 0px;
      border-radius: 4px;
      border: 0.394px solid #8D8D8D;
      background: #181818;
      box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 3.466px 0px rgba(4, 133, 254, 0.75), 0px 0px 6.538px 0px #0485FE;
      margin-top: 13px;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 166px;
  }
}








/*Рост с аликсон*/
.GrowSection{
  padding: 63px 0px 70px 0px;
  background: #212121;
  border: 1px solid #353535;
  border-radius: 15px;
  margin-top: -11px;
  position: relative;
}

.GrowSection > *{
  width: 1280px;
  margin: auto;
}



.Grow-Header{
  display: flex;
  gap:57px;
}

.Grow-Header h2{
  width: 498px;
  flex-shrink: 0;
}

.Grow-Header p{
  font-size: 27px;
  line-height: 111%;
  letter-spacing: -0.27;
  color:#fff;
}


.Grow-Content{
  display: grid;
  margin-top: 51px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 330px;
  gap:30px;
}

.Grow-Content .Card h3{
font-weight: 500;
font-size: 29.81px;
line-height: 111%;
letter-spacing: 0px;
color:#fff;
width: 198px;
height: 58px;
background: #171717;
border: 1px solid #8D8D8D;
text-align: center;
position: absolute;
top:18px;
left:18px;
border-radius: 7px;
padding-top: 10px;
text-transform: uppercase;
}

.Grow-Content .Card h4{
  font-weight: 500;
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0px;
  color: #fff;
}

.Grow-Content .Card p{
  font-weight: 500;
  letter-spacing: 0px;
  color: #fff;
  font-size: 15px;
  line-height: 111%;
}

.Grow-Content .Card-Content{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.Grow-Content .Card-El{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:8px;
}

.Grow-Content .Card:first-child{
  border: 1px solid #8D8D8D;
  box-shadow: 0px 0px 20px 0px #0485FE,0px 0px 15px 0px #0485FE,0px 0px 2px 0px #FFFFFF;
  position: relative;
  padding: 24px 27px 6px 10px;
  border-radius: 10px;
  background: url("../../../img/investitions/Grow1.svg") no-repeat;
  background-position: 36px 17px;
}

.Grow-Content .Card:first-child .Card-El:nth-child(1) > div{
  width: 55px;
  height: 10px;
  border-radius: 3px;
  background: #0485FE;
}

.Grow-Content .Card:first-child .Card-El:nth-child(2) > div{
  width: 55px;
  height: 71px;
  border-radius: 3px;
  background: #0485FE;
}

.Grow-Content .Card:first-child .Card-El:nth-child(3) > div{
  width: 55px;
  height: 108px;
  border-radius: 3px;
  background: #0485FE;
}

.Grow-Content .Card:first-child .Card-El:nth-child(4) > div{
  width: 55px;
  height: 239px;
  border-radius: 3px;
  background: #0485FE;
}




.Grow-Content .Card:last-child{
  border: 1px solid #8D8D8D;
  box-shadow: 0px 0px 36.9px 0px #00C99A, 0px 0px 28.4px 0px #00C99A, 0px 0px 9px 0px #FFFFFF;
  position: relative;
  padding: 26px 37px 6px 52px;
  border-radius: 10px;
  background: url("../../../img/investitions/Grow2.svg") no-repeat;
  background-position: 70px 15px;
}

.Grow-Content .Card:last-child .Card-El:nth-child(1) > div{
  width: 53px;
  height: 35px;
  border-radius: 3px;
  background: #00C99A;
}

.Grow-Content .Card:last-child .Card-El:nth-child(2) > div{
  width: 53px;
  height: 85px;
  border-radius: 3px;
  background: #00C99A;
}

.Grow-Content .Card:last-child .Card-El:nth-child(3) > div{
  width: 53px;
  height: 239px;
  border-radius: 3px;
  background: #00C99A;
}

@media (max-width: 1439px){
  /*920*/
  .GrowSection > *{
    width: 920px;
  }

  .Grow-Header h2 {
    width: 384px;
  }

  .Grow-Header p {
    font-size: 20px;
  }

  .Grow-Content .Card:first-child {
    background-position: 39px 45px;
    background-size: 299px;
    padding: 73px 27px 6px 10px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(4) > div {
    height: 180px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(1) > div {
    height: 32px;
  }


  .Grow-Content .Card:last-child {
    background-position: 39px 45px;
    background-size: 299px;
    padding: 73px 27px 6px 10px;
  }

  .Grow-Content .Card:last-child .Card-El:nth-child(3) > div {
    height: 177px;
  }

}

@media (max-width: 979px) {
  /*600*/
  .GrowSection > *{
    width: 600px;
  }

  .Grow-Header{
    flex-direction: column;
    gap:30px;
  }

  .Grow-Content {
    grid-template-columns: 1fr;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(1) > div {
     height: 10px; 
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(2) > div {
    height: 55px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(3) > div {
    height: 98px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(4) > div {
    height: 219px;
  }

  .Grow-Content .Card:first-child {
    padding: 44px 27px 6px 10px;
    background-position: 36px 17px;
    background-size: auto;
  }

  .Grow-Content .Card:last-child {
    padding: 46px 37px 6px 52px;
    background-position: 70px 15px;
    background-size: auto;
  }

  .Grow-Content .Card:last-child .Card-El:nth-child(1) > div {
    height: 29px;
  }

  .Grow-Content .Card:last-child .Card-El:nth-child(2) > div {
    height: 78px;
  }

  .Grow-Content .Card:last-child .Card-El:nth-child(3) > div {
    height: 219px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .GrowSection > *{
    width: 300px;
  }

  .GrowSection{
    border-radius: 7px;
    padding: 27px 0px 30px 0px;
  }

  .Grow-Header p {
    font-size: 13px;
    font-weight: 300;
  }
  
  .Grow-Header{
    gap: 6px;
  }

  .Grow-Content{
    margin-top: 12px;
    gap:10px;
  }

  .Grow-Content .Card h3 {
    font-size: 14px;
    width: 95px;
    height: 27px;
    border-radius: 4px;
    padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    top:10px;
    left: 10px;
  }

  .Grow-Content{
    grid-auto-rows: unset;
    grid-template-rows: 170px 172px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(1) > div {
    width: 26.5px;
    height: 5px;
  }
  .Grow-Content .Card:first-child .Card-El:nth-child(2) > div {
    width: 26.5px;
    height: 34px;
  }
  .Grow-Content .Card:first-child .Card-El:nth-child(3) > div {
    width: 26.5px;
    height: 52px;
  }
  .Grow-Content .Card:first-child .Card-El:nth-child(4) > div {
    width: 26.5px;
    height: 114px;
  }

  .Grow-Content .Card h4, .Grow-Content .Card p {
    font-size: 10px;
  }

  .Grow-Content .Card:first-child {
    padding: 11px 8px 9px 3px;
    background-position: 17px 6px;
    background-size: 216px;
    border-radius: 5px;
    box-shadow: 0px 0px 9.58px 0px #0485FE,0px 0px 7.19px 0px #0485FE,0px 0px 0.96px 0px #FFFFFF;

  }


  .Grow-Content .Card:last-child .Card-El:nth-child(1) > div {
    width: 25.6px;
    height: 17px;
  }
  .Grow-Content .Card:last-child .Card-El:nth-child(2) > div {
    width: 25.6px;
    height: 41px;
  }
  .Grow-Content .Card:last-child .Card-El:nth-child(3) > div {
    width: 25.6px;
    height: 115px;
  }

  .Grow-Content .Card:last-child {
    padding: 13px 14px 9px 22px;
    background-position: 34px 6px;
    background-size: 203px;
    border-radius: 5px;
    box-shadow: 0px 0px 5.5px 0px #00C99A,0px 0px 7.6px 0px #00C99A,0px 0px 2px 0px #FFFFFF;

  }
}






/*Рост рынка*/
.MarketSection{
  background: #181818 url("../../../img/investitions/MarketBack.png") no-repeat;
  background-size: 100% 100%; 
  padding: 72px 0px 79px 0px;
  margin-top: -9px;
}

.MarketSection > *{
  width: 1280px;
  margin: auto;
}

.Market-Content{
  margin-top: 53px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 181px;
  gap: 30px;
}

.Market-Content .Card{
  border-radius: 12px;
  background: #30303061;
  border: 1px solid #0058AB;
  padding: 38px 27px 0px 43px;
  backdrop-filter: blur(19.600000381469727px);
}


.Market-Content .Card h3{
  font-weight: 400;
  letter-spacing: -0.35px;
  color:#fff;
  text-transform: uppercase;
  font-size: 35px;
  line-height: 111%;
  margin-bottom: 10px;
}

.Market-Content .Card p{
  font-weight: 300;
  letter-spacing: -0.20px;
  color:#fff;
  font-size: 20px;
  line-height: 111%;
}

@media (max-width: 1439px){
  /*920*/
  .MarketSection > *{
    width: 920px;
  }
  .Market-Content .Card h3 {
    font-size: 30px;
  }

  .Market-Content .Card p {
    font-size: 18px;
  }

  .Market-Content .Card p br{
    display: none;
  }

  .Market-Content .Card{
    padding: 28px 27px 0px 43px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .MarketSection > *{
    width: 600px;
  }

  .Market-Content{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 659px) {
  /*300*/
  .MarketSection > *{
    width: 300px;
  }

  .MarketSection{
    padding: 35px 0px 39px 0px;
    background: #181818 url("../../../img/investitions/MarketBack_mobile.png") no-repeat;
    background-size: 100% 100%;
  }

  .Market-Content .Card h3 {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .Market-Content{
    grid-auto-rows: unset;
    grid-template-rows: 68px 84px 69px 71px;
    gap:10px;
    margin-top: 9px;
  }

  .Market-Content .Card p {
    font-size: 12px;
    font-weight: 300;
  }

  .Market-Content .Card {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
  }
}








/*Инвестиции с аликсон 1*/
.ServicesSection{
  display: flex;
  padding: 63px 0px 65px 0px;
  gap:71px;
  align-items: end;
  background: #212121;
  border-radius: 15px;
  border: 1px solid #353535;
  margin-top: -9px;
  position: relative;
}

.ServicesSection h2{
  margin-left: calc((100vw - 1280px) / 2);
  margin-bottom: 65px;
}

.Services-Header{
  display: flex;
  flex-direction: column;
  width: 498px;
  flex-shrink: 0;
  width: calc((100vw - 300px) / 2);
}

.Services-Content{
  width: 100%;
}

.Services-Content p{
  color: #FFF;
  font-size: 30px;
  font-weight: 400;
  line-height: 111%;
  width: 700px;
  text-transform: uppercase;
}

.Services-Content div{
  background: #0058AB;
  height: 1px;
  width: 100%;
  margin: 23.2px 0px;
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 29px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 29px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  transition: all 0.1s ease-in-out;
  width: 456px;
  height: 250px;
}

.item img{
  width: 100%;
  height: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.h2_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .ServicesSection h2{
      margin-left: calc((100vw - 920px) / 2);
      font-size: 46px;
  }
  
  .Services-Header{
      width: calc((100vw - 150px) / 2);
  }

  .ServicesSection {
      gap: 40px;
  }

  .Services-Content p {
      font-size: 25px;
      width: 500px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .ServicesSection{
      flex-direction: column;
  }

  .ServicesSection h2{
      margin-left: calc((100vw - 600px) / 2);
      width: 500px;
  }
  
  .Services-Header{
      width: 100%;
  }

  .item {
      width: 353px;
      height: 223px;
  }

  .Services-Content > * {
      margin-left: calc((100vw - 600px) / 2) !important;
  }
}

@media (max-width: 659px) {
  /*300*/
  .ServicesSection{
      padding: 27px 0px 25px 0px;
      gap:15px;
      border-radius: 7px;
      margin-top: -5px;
  }
  .ServicesSection h2{
      margin-left: calc((100vw - 300px) / 2);
      margin-bottom: 9px;
      font-size: 23px;
      width: 300px;
  }

  .h2_mobile{
    display: block;
  }

  .h2_desktop{
    display: none;
  }

  .Services-Content > * {
      margin-left: calc((100vw - 300px) / 2) !important;
  }
  .item {
      width: 125px;
      height: 77px;
      margin: 0px;
      border: none;
      border-radius: 5px;
  }
  .items, .items-wrap {
      gap: 5px;
  }


  .Services-Content p {
      font-size: 14px;
      line-height: normal;
      width: 270px;
  }

  .Services-Content div {
      margin: 8px 0px;
  }
}

 





/*Куда стремится бизнес*/
.BuisnesSection{
  padding: 72px 0px 79px 0px;
  background: #181818 url("../../../img/investitions/BuisnesBack.png") no-repeat;
  background-size: 100% 100%;
  margin-top: -9px;
}

.BuisnesSection > *{
  width: 1280px;
  margin: auto;
}

.Buisnes-Content{
  display: grid;
  gap:37px;
  margin-top: 46px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 203px;
}

.Buisnes-Content .Card{
  background: #30303021;
  border: 1px solid #353535;
  backdrop-filter: blur(20.299999237060547px);
  padding: 0px 0px 0px 41px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Buisnes-Content .Card h3{
  color:#0485FE;
font-weight: 500;
font-size: 60px;
line-height: 111%;
letter-spacing: -0.6;
}

.Buisnes-Content .Card p{
  color:#fff;
  letter-spacing: -0.25px;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 25px;
  line-height: 111%;
  width: 514px;
}

@media (max-width: 1439px){
  /*920*/
  .BuisnesSection > *{
    width: 920px;
  }

  .Buisnes-Content .Card h3 {
    font-size: 43px;
  }

  .Buisnes-Content .Card p {
    font-size: 22px;
    width: auto;
  }
}

@media (max-width: 979px) {
  /*600*/
  .BuisnesSection > *{
    width: 600px;
  }

  .Buisnes-Content{
    grid-template-columns: 1fr;
  }
}

@media (max-width: 659px) {
  /*300*/
  .BuisnesSection > *{
    width: 300px;
  }

  .BuisnesSection{
    padding: 36px 0px 39px 0px;
    background: #181818 url("../../../img/investitions/BuisnesBack_mobile.png") no-repeat;
    background-size: 100% 100%;
  }

  .Buisnes-Content{
    grid-auto-rows: 98px;
    gap:10px;
    margin-top: 9px;
  }

  .Buisnes-Content .Card h3 {
    font-size: 25px;
  }

  .Buisnes-Content .Card p {
    font-size: 13px;
    width: 237px;
  }

  .Buisnes-Content .Card{
    border-radius: 5px;
    padding-left: 16px;
  }
}




/*Инвестиции с аликсон 2*/
.TableSection{
  background: #212121;
  border: 1px solid #353535;
  border-radius: 15px;
  padding-top: 63px;
  margin-top: -9px;
  position: relative;
}

.TableSection h2{
  width: 1280px;
  margin: auto;
}

.Table-Content{
  margin-top: 54px;
}

.Table-Content h3{
font-weight: 500;
font-size: 25px;
line-height: 111%;
letter-spacing: 0px;
color: #0485FE;
width: 530px;
flex-shrink: 0;
}

.Table-Content p{
  color:#fff;
  letter-spacing: 0px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 23px;
  line-height: 111%;
  padding: 40px 0px 40px 70px;
  border-left: 1.47px solid #FFFFFF30;
}

.Table-Content ul{
  padding: 40px 0px 40px 70px;
  border-left: 1.47px solid #FFFFFF30;
}

.Table-Content li{
  color:#fff;
  letter-spacing: 0px;
  font-family: 'Mulish';
  font-weight: 400;
  font-size: 23px;
  line-height: 111%;
  list-style: disc;
}

.Table-El{
  border-top: 1.47px solid #FFFFFF30;
}

.Table-El > div{
  width: 1280px;
  margin: auto;
  display: flex;
  align-items: center;
}

@media (max-width: 1439px){
  /*920*/
  .Table-El > div{
    width: 920px;
  }

  .TableSection h2{
    width: 920px;
  }

  .Table-Content h3 {
    width: 353px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .Table-El > div{
    width: 600px;
  }
  
  .TableSection h2{
    width: 600px;
  }

  .Table-Content h3 {
    width: 270px;
  }

  .Table-Content p, .Table-Content li {
    font-size: 19px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .Table-El > div{
    width: 300px;
    flex-direction: column;
    align-items: start;
    padding: 20px 0px 10px 0px;
    gap:10px;
  }
  
  .TableSection h2{
    width: 300px;
  }

  .TableSection{
    padding: 27px 0px 22px 0px;
    border-radius: 7px;
  }

  .Table-Content{
    margin-top: 8px;
  }

  .Table-Content p, .Table-Content li, .Table-Content ul{
    font-size: 13px;
    padding: 0px;
    border:none;
    list-style: none;
    font-weight: 300;
  }

  .Table-Content ul{
    display: flex;
    flex-direction: column;
    gap:5px;
  }

}







/*Наши клиенты*/
.PartnersSection{
  background: #181818 url("../../../img/investitions/PartnersBack.png") no-repeat;
  background-size: 100% 100%;
  padding: 72px 0px 82px 0px;
  margin-top: -9px;
}

.PartnersSection > *{
  width: 1280px;
  margin: auto;
}

.Partners-Content{
  margin-top: 46px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 105px;
  gap:30px;
}

.Partners-Content .Card{
  border-radius:11px;
  border: 1px solid #0058AB;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(23, 23, 23, 0.10);
  backdrop-filter: blur(10.050000190734863px);
}

.Partners-Content .Card:nth-last-child(3){
  grid-column-start: 2;
}

.Partners-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .PartnersSection > *{
    width: 920px;
  }

  .Partners-Content{
    grid-template-columns: repeat(4, 1fr);
  }

  .Partners-Content .Card:nth-last-child(3){
    grid-column-start: unset;
  }
}

@media (max-width: 979px) {
  /*600*/
  .PartnersSection > *{
    width: 600px;
  }

  .Partners-Content{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 659px) {
  /*300*/
  .PartnersSection h2{
    width: 300px;
  }

  .PartnersSection{
    padding: 36px 0px 32px 0px;
    background: #181818 url("../../../img/investitions/PartnersBack_mobile.png") no-repeat;
    background-size: 100% 100%;
  }


  .Partners-Content_mobile{
    display: block;
    width: 100%;
    margin-top: 9px;
  }

  .Partners-Content{
      display: none;
  }

  .Partners-Content_mobile .item{
      width: 121px;
      height: 53px;
      border-radius: 5px;
      border: 1px solid #0058AB;
      background: rgba(23, 23, 23, 0.10);
      backdrop-filter: blur(5.081792831420898px); 
  }

  .Partners-Content_mobile .item img{
      width: 50%;
  }

  .Partners-Content_mobile .items, .items-wrap {
      gap: 10px;
  }

  .Partners-Content_mobile .wrap{
      margin-bottom: 10px;
  }
}












/* Секция форма */

.Form-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  
  .Form-Header p {
    font-weight: 300;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#fff;
    width: 729px;
  }
  
  .Form-Header h2 {
    color: #0485FE;
  }
  
  .FormSection {
    background: #212121 url("../../../img/Back_2.svg") no-repeat;
    background-size: 760px;
    background-position: -131px -10px;
    padding: 77px 0px 104px 0px;
    border-radius: 15px;
    border: 1px solid #353535;
    position: relative;
    margin-top: -12px;
  }
  
  .Form-Main {
    display: flex;
    justify-content: end;
  }
  
  .FormSection > div {
    width: 1280px;
    margin: auto;
  }
  
  .FormSection form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 734px;
  }
  
  .FormSection form p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#666;
  }
  
  .FormSection form > div {
    padding: 27px 36px;
    border-radius: 10px;
    background: #353535;
    display: flex;
    gap: 26px;
  }
  
  .FormSection form [type="text"],
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    outline: none;
    width: 100%;
    font-weight: 300;
  }
  
  .FormSection form [type="submit"] {
    margin-bottom: 10px;
    transition: 0.5s ease;
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 25px 0px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #232323;
    cursor: pointer;
  }
  
  .FormSection form [type="submit"]:hover {
    backdrop-filter: blur(19.4209041595459px);

box-shadow: 0px 0px 32.7px 0px #0666DF, 0px 0px 7.3px 0px #0485FE91, 0px 0px 5.5px 0px #FFFFFF59;

  }


  @media (max-width: 1439px) {
    .FormSection > div {
      width: 920px;
    }
  
    .Form-Header p {
      width: 401px;
      font-size: 19px;
    }
  
    .Form-Header h2 {
      font-size: 43px;
    }
  
    .Form-Header {
      gap: 44px;
    }
  
    .FormSection form {
      width: 544px;
    }
  
    .FormSection form p br {
      display: none;
    }
  }
  
  @media (max-width: 979px) {
    .FormSection {
      padding: 30px 0px 40px 0px;
    }
  
    .Form-Header {
      margin-bottom: 30px !important;
      flex-direction: column;
    }
  
    .FormSection > div {
      width: 600px;
    }
  
    .Form-Header p {
      width: auto;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: -0.12px;
      line-height: 111%;
      /* display: none; */
    }
  
    .Form-Header h2 {
      font-size: 23px;
    }
  
    .FormSection form [type="submit"] {
      width: 100%;
      font-size: 12px;
      padding: 15px 0px;
    }
  
    .FormSection form [type="text"],
    .FormSection form [type="text"]::placeholder,
    .FormSection form [type="text"]::-webkit-input-placeholder {
      font-size: 12px;
    }
  
    .FormSection form > div {
      padding: 14px 16px;
    }
  
    .FormSection form {
      width: 100%;
      gap: 12px;
    }
  }
  
  @media (max-width: 659px) {
    .FormSection {
        background-size: 316px;
        background-position: -9px 34px;
      border-radius: 7px;
    }
    
    .FormSection > div {
      width: 300px;
      gap: 20px;
    }
  
    .FormSection form [type="submit"] {
      padding: 12px 0px;
      border-radius: 5px;
      border-color: #353535;
      opacity: 1;
      box-shadow: 0px 0px 12.2px 0px rgba(6, 102, 223, 1),
        0px 0px 6.26px 0px rgba(4, 133, 254, 0.57),
        0px 0px 2.58px 0px rgba(255, 255, 255, 0.35);
      margin-bottom: 14px;
    }
  
    .FormSection form p {
      font-size: 10px;
      line-height: 100%;
    }
  
    .FormSection form p br {
      display: block;
    }
  
    .FormSection form > div {
      padding: 13px 16px;
      border-radius: 5px;
      gap:11px;
    }
  
    .FormSection form > div img{
      width: 13px;
    }
  }


  /*ФУТЕР*/
  footer{
    margin-top: -12px;
  }