/* ОБЩИЕ */
body{
    background: #212121;
}

h2{
    color: #FFF;
    font-size: 52.127px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: -0.521px;
    text-transform: uppercase;
}



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:247px;
    padding: 47px 0px 85px 0px;
    background: url("../../../img/company/MainBack.jpg") no-repeat;
    background-size: 100% 110%;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:24px;
    align-items: start;
}
h1{
    color: #FFF;
    font-size: 69.58px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.696px;
    text-transform: uppercase;
    width: 532px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 27px;
    font-weight: 400;
    line-height: 111%;
    letter-spacing: -0.27px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:259px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 30.881px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.618px;
    padding: 17.156px 25.734px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #181818;
    flex-shrink: 0;
    transition: 0.5s ease;
    margin-left: 555px;
}

.MainSection-Content a:hover{
    box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}








/*Наши ценности*/
.ValuesSection{
    display: flex;
    border-radius: 15px;
    border: 1px solid #353535;
    padding: 63px 0px 72px 0px;
    gap:88px;
    align-items: start;
  }
  
  .ValuesSection h2{
    margin-left: calc((100vw - 1280px) / 2);
    margin-bottom: 67px;
    font-size: 50px;
  }
  
  .Values-Header{
    display: flex;
    flex-direction: column;
    width: 498px;
    flex-shrink: 0;
    width: calc((100vw - 170px) / 2);
  }
  
  .Values-Content{
    display: grid;
    grid-template-columns: 628px;
    grid-template-rows: repeat(4, 103px);
    gap:16px;
    padding-top: 7px;
  }
  
  .Values-Content .Card{
    border: 1px solid #0058AB;
    border-radius: 10px;
    background: #30303061;
    backdrop-filter: blur(19.600000381469727px);
    display: flex;
    gap:44px;
    align-items: center;
    padding-left: 32px;
  }

  .Values-Content .Card > div{
    width: 91px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .Values-Content .Card p{
    color: #FFF;
    font-size: 35px;
    font-weight: 400;
    line-height: 111%;
    text-transform: uppercase;
    letter-spacing: -0.35px;
  }
  
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 29px;
  }
  
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 29px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    transition: all 0.1s ease-in-out;
    width: 608px;
    height: 328px;
  }
  
  .item img{
    width: 100%;
    height: 100%;
  }
  
  .marquee {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }












/*Наша команда*/
.TeamSection{
    background: #181818 url("../../../img/apart_sharing/TeamBack.png") no-repeat;
    background-size: 100% 330%;
    background-position: right -881px;
    padding: 69px 0px 80px 0px;
  }
  
  .TeamSection > *{
    width: 1280px;
    margin: auto;
  }
  
  .Team-Content{
    margin-top: 230px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 319px;
    gap:84px;
  }
  
  .Team-Content .Card{
    border-radius: 11px;
    border: 1px solid #8D8D8D;
    background: #242424AD;
    backdrop-filter: blur(6.851749897003174px);
    box-shadow: 0px 0px 17.1px 0px #0666DF,0px 0px 5px 0px #0485FE91,0px 0px 1.8px 0px #FFFFFF59;
  }
  
  
  
  .Team-Content .Card-Header{
    height: 195px;
    border-radius:11px;
    border-bottom: 1px solid #8D8D8D;
    box-shadow: 0px 0px 17.1px 0px #0666DF,0px 0px 5px 0px #0485FE91,0px 0px 1.8px 0px #FFFFFF59;
    position: relative;
  }
  
  .Team-Content .Card-Header img{
    position: absolute;
    bottom: 0px;
  }
  
  .Team-Content .Card h3{
    color: #FFF;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 25.42px;
    line-height: 29.49px;
    letter-spacing: -4%;
    text-align: center;
  }

  .Team-Content .Card p{
    font-family: 'Mulish';
font-weight: 300;
font-size: 21.79px;
line-height: 24.19px;
letter-spacing: -4%;
text-align: center;
color: #FFF;
width: 280px;
margin: auto;

  }
  
  .Team-Content .Card-Content{
    padding-top: 22px;
  }
  









/*Карьера*/
.CareerSection{
    padding: 61px 0px 80px 0px;
    background: #212121;
    border: 1px solid #353535;
    border-radius: 15px;
  }
  
  .CareerSection > *{
    width: 1280px;
    margin: auto;
  }
  
  .Career-Content{
    display: grid;
    gap:64px;
    margin-top: 40px;
    grid-template-columns: 486px 1fr;
    grid-template-rows: 261px;
  }
  
  .Career-Left{
    border: 1px solid #8D8D8D;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .Career-Left > img{
    width: 100%;
    height: 100%;
  }
  
  .Career-Right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .Career-Right p{
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -0.27px;
    color:#fff;
  }
  
  .Career-Right a{
    font-weight: 400;
    font-size: 30px;
    line-height: 33.3px;
    letter-spacing: -0.3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 88px;
    padding: 0px 40px 0px 50px;
    background: #181818;
    color:#fff;
    text-transform: uppercase;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    transition: 0.5s ease;
  }


  .Career-Right a:hover{
    box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}







/*Что для нас важно*/
.ImportantSection{
    display: flex;
    border: 1px solid #181818;
    padding: 107px 0px 111px 0px;
    gap:45px;
    align-items: start;
  }
  
  .ImportantSection h2{
    margin-bottom: 67px;
  }
  
  .Important-Header{
    flex-shrink: 0;
    width: 510px;
    margin-left: calc((100vw - 1280px) / 2);
  }
  
  .Important-Content{
    display: grid;
    grid-template-columns: 716px;
    grid-template-rows: repeat(3, 103px);
    gap:16px;
    padding-top: 7px;
  }
  
  .Important-Content .Card{
    border: 1px solid #0058AB;
    border-radius: 10px;
    background: #30303061;
    backdrop-filter: blur(19.600000381469727px);
    display: flex;
    gap:58px;
    align-items: center;
    padding-left: 32px;
  }

  .Important-Content .Card > div{
    width: 69px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  
  .Important-Content .Card p{
    color: #FFF;
    font-size: 35px;
    font-weight: 400;
    line-height: 111%;
    text-transform: uppercase;
    letter-spacing: -0.35px;
  }
  







/* Секция форма */

.Form-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  
  .Form-Header p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#fff;
    width: 729px;
  }
  
  .Form-Header h2 {
    color: #0485FE;
  }
  
  .FormSection {
    background: #181818 url("../../../img/Back_2.svg") no-repeat;
    background-size: 760px;
    background-position: -131px -10px;
    padding: 77px 0px 104px 0px;
    border-radius: 20px;
    border: 2px solid #3535358f;
    position: relative;
  }
  
  .Form-Main {
    display: flex;
    justify-content: end;
  }
  
  .FormSection > div {
    width: 1280px;
    margin: auto;
  }
  
  .FormSection form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 734px;
  }
  
  .FormSection form p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#666;
  }
  
  .FormSection form > div {
    padding: 27px 36px;
    border-radius: 10px;
    background: #353535;
    display: flex;
    gap: 26px;
  }
  
  .FormSection form [type="text"],
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    outline: none;
    width: 100%;
  }
  
  .FormSection form [type="submit"] {
    margin-bottom: 10px;
    transition: 0.5s ease;
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 0px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #232323;
    cursor: pointer;
  }
  
  .FormSection form [type="submit"]:hover {
    backdrop-filter: blur(19.4209041595459px);

box-shadow: 0px 0px 32.7px 0px #0666DF, 0px 0px 7.3px 0px #0485FE91, 0px 0px 5.5px 0px #FFFFFF59;

  }
  
