/* ОБЩИЕ */
body{
    background: #212121;
}

h2{
    color: #FFF;
    font-size: 52.127px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: -0.521px;
    text-transform: uppercase;
}



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:174px;
    padding: 59px 0px 110px 0px;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:24px;
    align-items: start;
}
h1{
    color: #FFF;
    font-size: 69.58px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.696px;
    text-transform: uppercase;
    width: 532px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 27px;
    font-weight: 400;
    line-height: 111%;
    letter-spacing: -0.27px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:259px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 30.881px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.618px;
    padding: 17.156px 25.734px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #181818;
    flex-shrink: 0;
    transition: 0.5s ease;
}

.MainSection-Content a:hover{
    box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1.9fr 1fr;
    row-gap:36px;
    column-gap: 10px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:18px;
}

.MainSection .Info::before{
    content: "";
    height: 90%;
    width: 4px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}

.MainSection .Info:first-child{
    grid-column: span 2;
}

.MainSection .Info h3{
    color: #0485FE;
font-size: 69px;
font-weight: 500;
line-height: 80%;
letter-spacing: -0.69px;
text-transform: uppercase;
}

.MainSection .Info p{
    color: #FFF;
    letter-spacing: -0.25px;
    font-family: "Mulish";
    font-weight: 400;
    font-size: 25px;
    line-height: 27.75px;
}



/*Рост*/
.GrowSection{
    margin: auto;
    padding: 64px 0px 80px 0px;
    border-radius: 15px;
    border: 1px solid #353535;
    background: #212121 url("../../../img/tender/GrowBack.svg") no-repeat;
    background-position: calc((100vw - 671px) / 2) 43px;
}

.GrowSection > div{
    width: 1280px;
    margin: auto;
    display: flex;
}

.GrowSection h2{
    font-size: 48.1px;
    line-height: 53.4px;
    letter-spacing: -0.481px;
    position: absolute;
}

.Grow-Header > div > div{
    width: 306;
    height: 89;
    border-radius: 10px;
    background: #171717;
    border: 0.83px solid #0485FE;
    display: flex;
    align-items: center;
    gap:25px;
    padding-left: 25px;
    box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
    backdrop-filter: blur(16.980453491210938px);
    margin: 112px 0px 15px 0px;
}

.Grow-Header span{
    font-weight: 500;
    font-size: 48.31px;
    line-height: 62.32px;
    color:#fff;
}

.Grow-Header p{
    font-family: Mulish;
    font-weight: 500;
    font-size: 21.78px;
    line-height: 27.33px;
    letter-spacing: 0px;
    color:#fff;
}

.Grow-Content{
    display: flex;
    align-items: end;
}

.Grow-Content h3{
    font-weight: 500;
    font-size: 30px;
    line-height: 38.7px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}

.Grow-Content p{
    font-weight: 500;
    font-size: 15px;
    line-height: 19.35px;
    letter-spacing: 0px;
    text-align: center;
    color:#fff;
}

.Grow-Content > div > div{
    font-weight: 600;
    font-size: 30px;
    line-height: 38.7px;
    letter-spacing: 0px;
    text-align: center;
    color: #fff;
}

.Grow-Content .Graph1 div{
    width: 278;
    height: 24;
    border-radius: 6px;
    background: #0485FE;
    margin: 5px 0px 18px 0px;
}

.Grow-Content .Graph2 div{
    width: 280;
    height: 191;
    border-radius: 6px;
    background: #0485FE;
    margin: 18px 0px;
    padding-top: 110px;
}

.Grow-Content .Graph3 div{
    width: 278;
    height: 432;
    border-radius: 6px;
    background: #0485FE;
    margin: 12px 0px 18px 0px;
    padding-top: 212px;
}

.Grow-Content .Graph2{
    margin: 0px 68.68px 0px 71.68px;
}




/*Преимущества секция*/
.AdvantagesSection{
    background: #181818 url("../../../img/tender/AdvantagesBack.png") no-repeat;
    background-size: 100% 2542px;
    background-position: center -1453px;
    padding: 87px 0px 84px 0px;
}

.AdvantagesSection > *{
    width: 1280px;
    margin: auto;
}

.Advantages-Content{
    margin-top: 57px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 27px;
    grid-column-gap: 25px;
}

.Advantages-Content .Card{
    display: flex;
    gap:30.82px;
    align-items: center;
}

.Advantages-Content .Card > div{
    width: 105px;
    height: 92px;
    border-radius: 12px;
    background: #212121;
    border: 1px solid #8D8D8D;
    backdrop-filter: blur(7.695504665374756px);
    box-shadow: 0px 0px 17.9px 0px #0666DF, 0px 0px 6.41px 0px #0485FE91, 0px 0px 2.65px 0px #FFFFFF59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Advantages-Content .Card h3{
    font-weight: 400;
    font-size: 30px;
    line-height: 38.7px;
    letter-spacing: 0px;
    color:#fff;
    text-transform: uppercase;
}




/*Услуги секция*/
.ServicesSection{
    display: flex;
    border-radius: 15px;
    border: 1px solid #353535;
    padding: 85px 0px 81px 0px;
    gap:71px;
    align-items: end;
}

.ServicesSection h2{
    margin-left: calc((100vw - 1280px) / 2);
    margin-bottom: 60px;
}

.Services-Header{
    display: flex;
    flex-direction: column;
    width: 498px;
    flex-shrink: 0;
    width: calc((100vw - 300px) / 2);
}

.Services-Content{
    width: 100%;
}

.Services-Content p{
    color: #FFF;
    font-size: 30px;
    font-weight: 400;
    line-height: 111%;
    text-transform: uppercase;
}

.Services-Content div{
    background: #0058AB;
    height: 1px;
    width: 100%;
    margin: 22px 0px;
}
  
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 29px;
  }
  
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 29px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    transition: all 0.1s ease-in-out;
    width: 553px;
    height: 423px;
  }

  .item img{
    width: 100%;
    height: 100%;
  }
  
  .marquee {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }



  /*Направления секция*/
.DirectionsSection{
    margin: auto;
    padding: 98px 0px 81px 0px;
    border: 1px solid #353535;
    background: #181818 url("../../../img/tender/DirectionsBack.png") no-repeat;
    background-size: 100% 3784px;
    background-position: center -1210px;
}

.DirectionsSection > *{
    width: 1280px;
    margin: auto;
}

.Directions-Body{
    margin-top: 51px;
    display: flex;
    gap:56px;
}

.Directions-Img{
    width: 495px;
    height: 500px;
    box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
    backdrop-filter: blur(16.980453491210938px);
    border-radius: 10px;
    overflow: hidden;
}

.Directions-Img img{
    width: 100%;
    height: 100%;
}

.Directions-Content{
    display: flex;
    flex-direction: column;
    gap:18px;
    width: 732px;
    margin-left: auto;
}

.Directions-Content .Card{
    background: #30303061;
    border: 1px solid #0058AB;
    backdrop-filter: blur(19.600000381469727px);
    border-radius: 10px;
    display: flex;
    gap:40px;
    align-items: center;
    width: 100%;
    height: 111px;
    padding-left: 50px;
}

.Directions-Content .Card > div{
    width: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.Directions-Content .Card h3{
    color: #FFF;
    font-weight: 500;
    font-size: 30px;
    line-height: 38.7px;
    letter-spacing: 0px;
    text-transform: uppercase;
}




/*Наши клиенты*/
.ClientsSection{
    background: #212121;
    border: 1px solid #353535;
    border-radius: 15px;
    padding: 71px 0px 85px 0px;
}

.ClientsSection > *{
    width: 1280px;
    margin: auto;
}

.Clients-Content{
    margin-top: 41px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 104px);
    grid-column-gap: 22px;
    grid-row-gap: 14px;
}

.Clients-Content .Card{
    border-radius:11px;
    border: 1px solid #0058AB;
    display: flex;
    justify-content: center;
    align-items: center;
}







/* Секция форма */

.Form-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  
  .Form-Header p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#fff;
    width: 729px;
  }
  
  .Form-Header h2 {
    color: #0485FE;
  }
  
  .FormSection {
    background: #181818 url("../../../img/Back_2.svg") no-repeat;
    background-size: 760px;
    background-position: -131px -10px;
    padding: 77px 0px 104px 0px;
    border-radius: 20px;
    border: 2px solid #3535358f;
    position: relative;
  }
  
  .Form-Main {
    display: flex;
    justify-content: end;
  }
  
  .FormSection > div {
    width: 1280px;
    margin: auto;
  }
  
  .FormSection form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 734px;
  }
  
  .FormSection form p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#666;
  }
  
  .FormSection form > div {
    padding: 27px 36px;
    border-radius: 10px;
    background: #353535;
    display: flex;
    gap: 26px;
  }
  
  .FormSection form [type="text"],
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    outline: none;
    width: 100%;
  }
  
  .FormSection form [type="submit"] {
    margin-bottom: 10px;
    transition: 0.5s ease;
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 0px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #232323;
    cursor: pointer;
  }
  
  .FormSection form [type="submit"]:hover {
    backdrop-filter: blur(19.4209041595459px);

box-shadow: 0px 0px 32.7px 0px #0666DF, 0px 0px 7.3px 0px #0485FE91, 0px 0px 5.5px 0px #FFFFFF59;

  }
  
