/* ОБЩИЕ */
body{
    background: #212121;
}

.Services-Content .Card:hover, .Advantages-Content .Card:hover{
    background: #113058;
    box-shadow: 0px 0px 6px 2px #0485FE;
  }



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:70px;
    padding: 130px 0px 105px 0px;
    background: #181818 url("../../img/apart_sharing/MainBack.png") center no-repeat;
    background-size: 1920px 100%;
    margin-top: -4px;
}

.MainSection > div{
    width: 1280px;
    margin: auto;
}

.MainSection-Header{
    display: flex;
    gap:10px;
    align-items: start;
}
h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 626px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.25px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:365px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
    transition: 0.5s ease;
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #112A4D;
    box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
    width: 272px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainSection-Content a:hover{
    background: #fff;
    color:#000;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1fr;
    gap:40px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:20px;
}

.MainSection .Info::before{
    content: "";
    height: 72px;
    width: 3px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}

.MainSection .Info h3{
    color: #fff;        
font-size: 64px;
font-weight: 700;
line-height: 40px;
margin-bottom: 10px;
text-transform: uppercase;
}

.MainSection .Info p{
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}

.p_mobile{
    display: none;
}

@media (max-width: 1439px){
    .MainSection > div{
        width: 920px;
    }

    h1{
        width: 333px;
    }

    .MainSection-Header p{
        font-size: 20px;
    }

    .MainSection-Content{
        gap: 71px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .MainSection{
        background: url('../../img/mainBackMobile.jpg') center;
        background-size: 100% 100%;
        padding: 0px;
        gap: 20px;
        height: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }

    h1{
        font-size: 48px;
    }

    .MainSection > div{
        width: 600px;
        margin: 0px;
    }

    .MainSection-Header{
        flex-direction: column;
    }

    .MainSection-Header p{
        font-size: 16px;
        gap:30px;
    }

    .MainSection-Content{
        flex-direction: column-reverse;
        gap: 20px;

    }

    .MainSection-Content a{
        width: 100%;
        height: 55px;
        font-size: 16px;
    }

    .MainSection .Info h3{
        font-size: 32px;
        margin-bottom: 5px;
    }

    .MainSection .Info p{
        font-size: 14px;
    }

    .MainSection-Content > div{
        gap: 20px;
        width: 100%;
    }

    .MainSection .Info{
        gap: 10px;
    }

    .p_mobile{
        display: block;
    }

    .p_desktop{
        display: none;
    }

    .MainSection .Info:last-child{
        display: none;
    }

    @media (max-height: 630px) {
        .MainSection{
          height: auto;
          padding: 60px;
        }
      }
  }

  @media (max-width: 659px) {
    /*320*/
    .MainSection > div{
        width: 320px;
    }
  }



/*Наши сервисы*/
.ServicesSection{
    padding: 90px 0px 105px 0px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #212121 url("../../img/apart_sharing/ServicesBack.png") no-repeat;
    background-position: calc((100vw - 1765px) / 2) -139px;
    position: relative;
    margin-top: -15px;
}

.ServicesSection > div{
    width: 1280px;
    margin: auto;
    display: flex;
}

.Services-Content{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-left: auto;
    width: 712px;
}

.Services-Content .Card{
    transition: 0.5s ease;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: flex;
    gap:20px;
    width: 100%;
    height: 74px;
    padding: 20px;
    align-items: center;
    background: #2C2C2C;
}

.Services-Content .Card > div{
    width: 35px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.Services-Content .Card h3{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1439px){
    .ServicesSection > div{
        width: 920px;
    }

    .Services-Content{
        width: 500px;
    }

    .Services-Content .Card h3{
        font-size: 19px;
    }

    .ServicesSection{
        background-position: calc((100vw - 1504px) / 2) -139px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .ServicesSection{
        background: #212121;
        padding: 60px 0px 75px 0px;
        border: 1px solid #353535;
        border-radius:  10px 10px 0px 0px;
    }

    .ServicesSection > div{
        width: 600px;
        flex-direction: column;
        gap: 25px;
    }

    .Services-Content{
        width: 100%;
    }

    .Services-Content .Card h3{
        font-size: 16px;
    }

    

  }

  @media (max-width: 659px) {
    /*320*/
    .ServicesSection > div{
        width: 320px;
    }
  }



/*Система автоматизации*/
.AutoSection{
    background: #181818 url("../../img/apart_sharing/AutoBack.png") center;
    background-size: 1920px 100%;
    padding: 90px 0px 105px 0px;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid #2f2f2f;
    margin-top: -15px;
    position: relative;
}

.AutoSection h2{
    color: #0485FE;
}

.AutoSection > *{
    width: 1280px;
    margin: auto;
}

.Auto-Content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 323px;
    gap: 20px;
}

.Auto-Content .Card{
    transition: 0.5s ease;
    padding: 20px;
    flex-shrink: 0;
    border-radius: 11px;
    border: 2px solid #393939;
    background: rgba(23, 23, 23, 0.40);
    backdrop-filter: blur(16.980453491210938px);
}

.Auto-Content .Card:hover{
box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
backdrop-filter: blur(16.980453491210938px);
}

.Auto-Content .Card h3{
    color: #0485FE;
    font-size: 32px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.Auto-Content .Card p{
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin: 10px 0px 25px 0px;
}


.Auto-Content .Card-Content li{
    color: #FFF;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    list-style: disc;
    margin-left: 18px;
    gap:10px;
}

.Auto-Content_mobile{
    display: none;
}
@media (max-width: 1439px){
    .AutoSection > *{
        width: 920px;
    }

    .Auto-Content {
        grid-auto-rows: 477px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .AutoSection{
        padding: 60px 0px 75px 0px;
        border: 1px solid #353535;
        border-radius: 10px 10px 0px 0px;
    }

    .AutoSection h2{
        color: #fff;
        margin-bottom: 25px;
    }

    .Auto-Content{
        display: none;
    }
    .Auto-Content_mobile{
        display: block;
        width: 100% !important;
    }
    
    .AutoSection > *{
        width: 600px;
    }

    .Auto-Content_mobile .Card{
        transition: 0.5s ease;
        padding: 20px;
        background: rgba(23, 23, 23, 0.40);
        width: 300px;
        height: 364px;
        border-radius: 10px;
        border: 1px solid rgba(170, 170, 170, 0.15);
        background: #171717;
    }
    
    .Auto-Content_mobile .Card:hover{
    box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
    backdrop-filter: blur(16.980453491210938px);
    }
    
    .Auto-Content_mobile .Card h3{
        color: #0485FE;
        font-size: 24px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
    }
    
    .Auto-Content_mobile .Card p{
        color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        margin: 10px 0px;
    }
    
    
    .Auto-Content_mobile .Card-Content li{
        color: #FFF;
        font-size: 16px;
        font-weight: 300;
        line-height: normal;
        list-style: disc;
        margin-left: 16px;
        gap:10px;
    }

    .Auto-Content_mobile .swiper-wrapper {
        padding-left: calc((100vw - 600px) / 2);
        height: auto;
      }

      .Auto-Content_mobile .swiper {
        width: 980px;
        overflow: visible;
      }
    

      .Swiper-Control{
        width: 600px;
        margin-left: calc((100vw - 600px) / 2);
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
      }

      .Swiper-Control > button {
        width: 66px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        background: #2C2C2C;  
      }
      
      .Swiper-Control > button:hover {
        opacity: 0.8;
      }

    
  }

  @media (max-width: 659px) {
    /*300*/
    .AutoSection > *{
        width: 320px;
    }

    .Swiper-Control{
        width: 320px;
        margin-left: calc((100vw - 320px) / 2);
      }

      .Auto-Content_mobile .swiper-wrapper {
        padding-left: calc((100vw - 320px) / 2);
      }

      .Auto-Content_mobile .swiper {
        width: 660px;
      }
  }




/*Преимущества секция*/
.AdvantagesSection{
    display: flex;
    background: #212121 url("../../img/apart_sharing/AdvantagesBack.png") no-repeat;
    background-position: calc((100vw - 1803px) / 2) -11px;
    padding: 90px 0px;
    gap:62px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    margin-top: -15px;
}

.Advantages-Container{
    width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: 568px 1fr;
}

.Advantages-Content{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.Advantages-Content .Card{
    transition: 0.5s ease;
    border-radius: 10px;
    border: 1px solid #ffffff60;
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    gap:20px;
    align-items: center;
}

.Advantages-Content p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
}


@media (max-width: 1439px){
    .Advantages-Container{
        width: 920px;
        grid-template-columns: 430px 1fr;
    }

    .AdvantagesSection {
        background-position: calc((100vw - 1579px) / 2) -11px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .AdvantagesSection{
        background: #212121;
        padding: 60px 0px 75px 0px;
        border: 1px solid #353535;
        border-radius:  10px 10px 0px 0px;
    }

    .Advantages-Container{
        width: 600px;
        grid-template-columns: 1fr;
        gap: 25px;
    }

   .Advantages-Header h2{
    width: 300px;
   }

    .Advantages-Content .Card p{
        font-size: 16px;
    }

    .Advantages-Content .Card:nth-child(5){
        display: none;
    }

  }

  @media (max-width: 659px) {
    /*320*/
    .Advantages-Container{
        width: 320px;
    }
  }


/*Как это работает секция*/
.HowSection{
    background: #181818 url("../../img/apart_sharing/HowBack.png") center;
    background-size: 1920px 100%;
    padding: 90px 0px 105px 0px;
    margin-top: -15px;
    border-radius: 20px 20px 0px 0px;
    border: 2px solid #2f2f2f;
    position: relative;
}

.HowSection > *{
    width: 1280px;
    margin: auto;
}

.How-Content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
    grid-auto-columns: 93px;
}

.How-Content .Card{
    border-radius: 10px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #171717;
    display: flex;
    align-items: center;
    gap:20px;
    padding: 20px;
}

.How-Content .Card h3{
    font-weight: 500;
    font-size: 72px;
    color: #0485FE;
}

.How-Content .Card p{
    font-weight: 300;
    font-size: 18px;
    line-height: normal;
    color:#fff;
}

@media (max-width: 1439px){
    .HowSection > *{
        width: 920px;
    }

    .How-Content .Card p{
        font-size: 16px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .HowSection{
        padding: 60px 0px 75px 0px;
        border-radius: 10px 10px 0px 0px;
        border: 1px solid #353535;
    }
    .HowSection > *{
        width: 600px;
    }

    .How-Content{
        grid-template-columns: 1fr;
        margin-top: 25px;
    }

    .How-Content .Card{
        padding: 18px;
    }

    .How-Content .Card h3{
        font-size: 48px;
    }

  }

  @media (max-width: 659px) {
    /*300*/
    .HowSection > *{
        width: 320px;
    }

    .How-Content .Card{
        align-items: start;
    }
  }





