/* ОБЩИЕ */
body{
  background: #212121;
}


.Values-Content .Card:hover, .Important-Content .Card:hover{
  background: #113058;
  box-shadow: 0px 0px 6px 2px #0485FE;
}



/* Главная секция*/
.MainSection {
  margin-top: -6px;
  z-index: 0;
  position: relative;
}

.MainSection .MainContainer {
  padding: 60px 0px;
  position: absolute;
  top: 0px;
  z-index: 1;
  margin-left: calc((100% - 1280px) / 2);
  display: flex;
  flex-direction: column;
  gap: 280px;
}

.MainSection .VideoContainer {
  display: flex;
  justify-content: center;
  height: 696px;
}

.Video_desktop{
  width: 1920px;
  height: fit-content;
}



.Video_mobile {
  display: none;
}



.MainSection-Header{
    display: flex;
    gap:10px;
    align-items: start;
}
h1{
  color: #FFF;
  font-size: 72px;
  font-weight: 500;
  line-height: 111%; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 626px;
}

.MainSection-Header p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
  width: 644px;
  flex-shrink: 0;
}


.MainSection-Content a{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  transition: 0.5s ease;
  border-radius: 5px;
  border: 1px solid rgba(170, 170, 170, 0.15);
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
  width: 272px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 635px;
}

.MainSection-Content a:hover{
  background: #fff;
  color:#000;
}




.p_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .MainSection > div{
    width: 920px;
  }
  
  h1{
    font-size: 60px;
    width: 422px;
  }

  .MainSection-Header p {
    font-size: 24px;
  }

  .MainSection {
    gap: 170px;
  }

  .MainSection-Content a {
    margin-left: 445px;
  }

  .MainSection img{
    width: 550px;
    left: calc((100vw - 1065px) / 2);
  }
  
}

@media (max-width: 979px) {
  /*600*/
  .MainSection > div{
    width: 600px;
  }

  .MainSection-Header{
    flex-direction: column;
  }

  .MainSection img{
    display: none;
  }

  .MainSection-Content a {
    margin-left: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  h1{
    color: #0485FE;
  }
}

@media (max-width: 659px) {
  /*300*/
  .MainSection > div{
    width: 300px;
  }

  .MainSection{
    padding: 15px 0px 39px 0px;
    gap: 55px;
    background: url("../../img/company/MainBack_mobile.png") no-repeat;
    background-size: 100% 100%;
  }

  .MainSection-Header{
    gap: 0px;
  }

  h1{
    font-size: 30px;
    font-weight: 600;
  }

  .MainSection-Header p {
    font-size: 13px;
  }

  .MainSection-Content a {
    font-size: 12px;
    box-shadow: 0px 0px 6.54px 0px #0485FE,0px 0px 3.47px 0px #0485FEBF,0px 0px 0px 0px #FFFFFF;
    padding: 6px 0px;
    border-radius: 4px;
    font-weight: 400;
  }

  .p_mobile{
    display: block;
  }

  .p_desktop{
    display: none;
  }
}








/*Наши ценности*/
.ValuesSection{
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #171717;
}

.ValuesSection > div{
  width: 1280px;
  margin: auto;
}



.Values-Header .wrap{
  margin: 50px 0px;
}


.Values-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.Values-Content .Card{
  transition: 0.5s ease;
  border-radius: 10px;
  background: #2C2C2C;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  gap:20px;
  align-items: center;
}

.Values-Content .Card img{
  width: 30px;
}

.Values-Content p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}



.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  height: 256px;
  width: 423px;
}

.item img{
  height: 100%;
  width: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

  @media (max-width: 1439px){
    /*920*/
    .ValuesSection{
      padding: 63px calc((100% - 920px) / 2) 67px 0px;
      gap:30px;
    }
  
    .ValuesSection h2{
      font-size: 49px;
      padding-right: 0px;
      margin-bottom: 82px;
    }

    .item{
      margin: 0px;
    }
    
  
    .Values-Content {
      grid-template-columns: 450px;
    }
    
    .Values-Content .Card p {
      font-size: 25px;
    }
  }
  
  @media (max-width: 979px) {
    /*600*/
    .ValuesSection h2{
      margin-left: calc((100% - 600px) / 2);
      margin-bottom: 50px;
      justify-content: start;
    }
  
    .ValuesSection{
      flex-direction: column;
    }
  
    .Values-Header{
      width: 100%;
    }
  
    .Values-Content {
      width: 600px;
      margin: auto;
      grid-template-columns: 100%;
    }
  
    .item {
      height: 265px;
      border-radius: 5px;
      overflow: hidden;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    .ValuesSection{
      padding: 27px 0px 30px 0px;
      border-radius: 7px;
      gap:15px;
    }
  
    .ValuesSection h2{
      margin: auto;
      margin-bottom: 17px;
      font-size: 23px;
      width: 300px;
    }
  
    .Values-Content {
      width: 300px;
      grid-auto-rows: 49px;
      gap:10px;
    }
  
    .item {
      height: 92px;
    }
    .item img{
      width: auto;
    }
  
    .items-wrap, .items {
      gap: 5px;
    }
  
    .Values-Content .Card p {
      font-size: 16px;
    }
  
    
    .Values-Content .Card {
      padding-left: 15px;
      border-radius: 4px;
      gap:20px;
    }

    .Values-Content .Card > div {
      width: 43px;
    }

    .Values-Content .Card:nth-child(1) > div img{
      width: 40px;
    }
    .Values-Content .Card:nth-child(2) > div img{
      width: 24px;
    }
    .Values-Content .Card:nth-child(3) > div img{
      width: 37px;
    }
    .Values-Content .Card:nth-child(4) > div img{
      width: 36px;
    }
  }











/*Наша команда*/
.TeamSection{
  background: #181818 url("../../img/company/TeamBack.png") center;
  background-size: 1920px 100%;
  padding: 90px 0px 105px 0px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3535354D;
  position: relative;
  margin-top: -15px;
  }
  
  .TeamSection > *{
    width: 1280px;
    margin: auto;
  }
  
  .Team-Content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
  }
  
  .Team-Content .Card{
    transition: 0.5s ease;
    background: #2C2C2C;
    border-radius: 15px;
  }

  .Team-Content .Card:hover{
    box-shadow: 0px 0px 6px 2px #0485fec4;
  }
  
  
  
  .Team-Content .Card-Header{
    background: #1D1D1D;
    border-radius: 15px;
    height: 420px;
    overflow: hidden;
  }

  .Team-Content .Card-Content{
    border-radius: 0px 0px 15px 15px;
    height: 131px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
  }
  
  .Team-Content .Card-Header img{
    position: relative;
    width: 100%;
    top:70px;
  }
  
  .Team-Content .Card h3{
    color: #FFF;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    text-transform: uppercase;
  }

  .Team-Content .Card p{
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF99;
  }
  
  .Team-Content .Card-Content{
    padding-top: 22px;
  }

  .Team-Content_mobile{
    display: none;
  }
  
  @media (max-width: 1439px){
    /*920*/
    .TeamSection > *{
      width: 920px;
    }

    .Team-Content {
      gap: 37px;
      margin-top: 140px;
    }

    .Team-Content .Card-Header img {
      width: 100%;
    }
  }
  
  @media (max-width: 979px) {
    /*600*/
    .TeamSection > *{
      width: 600px;
    }

    .Team-Content_mobile{
      display: block;
      margin-top: 250px;
    }

    .Team-Content{
      display: none;
    }
    
    .Team-Content_mobile .Card{
      border-radius: 11px;
      border: 1px solid #8D8D8D;
      background: #242424AD;
      backdrop-filter: blur(6.851749897003174px);
      box-shadow: 0px 0px 17.1px 0px #0666DF,0px 0px 5px 0px #0485FE91,0px 0px 1.8px 0px #FFFFFF59;
      width: 380px;
    }
    
    
    
    .Team-Content_mobile .Card-Header{
      height: 195px;
      border-radius:11px;
      border-bottom: 1px solid #8D8D8D;
      box-shadow: 0px 0px 17.1px 0px #0666DF,0px 0px 5px 0px #0485FE91,0px 0px 1.8px 0px #FFFFFF59;
      position: relative;
    }
    
    .Team-Content_mobile .Card-Header img{
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
    
    .Team-Content_mobile .Card h3{
      color: #FFF;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 25.42px;
      line-height: 111%;
      letter-spacing: -1px;
      text-align: center;
    }
  
    .Team-Content_mobile .Card p{
      font-family: 'Mulish';
      font-weight: 300;
      font-size: 21.79px;
      line-height: 111%;
      letter-spacing: -4%;
      text-align: center;
      color: #FFF;
      width: 280px;
      margin: auto;
    }
    
    .Team-Content_mobile .Card-Content{
      padding: 22px 0px 10px 0px;
    }

    .Swiper-Control {
      display: flex;
      justify-content: space-between;
      gap: 11px;
      margin-top: 20px;
      width: 100%;
    }
    
    .Swiper-Control > button {
      color: #fff;
      font-size: 24px;
      padding: 12px 30px;
      border-radius: 4px;
      background: #ffffff29;
    }
    
    .Swiper-Control > button:hover {
      opacity: 0.8;
    }
  
   
    .swiper{
      overflow: visible;
    }
    .swiper-wrapper{
      height: auto;
      overflow: visible;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    .TeamSection > *{
      width: 300px;
    }

    .TeamSection{
      padding: 36px 0px 39px 0px;
      background: #181818 url("../../img/company/TeamBack_mobile.png") no-repeat;
      background-size: 100% 100%;
    }

    .Team-Content_mobile {
      margin-top: 96px;
    }

    .Team-Content_mobile .Card{
      width: 158px;
      backdrop-filter: blur(2.9456818103790283px);
      box-shadow: 0px 0px 7.35px 0px #0666DF,0px 0px 2.15px 0px #0485FE91,0px 0px 0.77px 0px #FFFFFF59;
    }

    .Team-Content_mobile .Card h3{
      font-size: 13px;
      letter-spacing: -0.52px;
    }

    .Team-Content_mobile .Card p {
      font-size: 11px;
      letter-spacing: -0.44px;
      width: 140px;
    }

    .Team-Content_mobile .Card-Content{
      padding: 13px 0px 11px 0px;
    }

    .Team-Content_mobile .Card-Header{
      height: 84px;
      backdrop-filter: blur(2.9456818103790283px);
      box-shadow: 0px 0px 7.35px 0px #0666DF,0px 0px 2.15px 0px #0485FE91,0px 0px 0.77px 0px #FFFFFF59;
    }

    .Swiper-Control {
      margin-top: 10px;
    }
  
    .Swiper-Control > button {
      padding: 5.7px 16px;
      border-radius: 4px;
    }
  
    .Swiper-Control > button img {
      width: 6px;
    }
  }




/*Цифры компании*/
.NumbersSection{
  padding: 90px 0px 105px 0px;
  background: #171717;
  border: 1px solid #3535354D;
  border-radius: 20px 20px 0px 0px;
  margin-top: -15px;
  position: relative;

}

.NumbersSection > *{
  width: 1280px;
  margin: auto;
}

.Numbers-Content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:20px;
  grid-auto-rows: 420px;
  margin-top: 50px;
}

.Numbers-Content .Card{
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
  border-radius: 10px;
  background-size: 100% !important;
  background-repeat: no-repeat !important;
}

.Numbers-Content .Card h3{
  color: #FFF;
  font-size: 48px;
  font-weight: 700;
  line-height:  83.333%;
  text-transform: uppercase;
}

.Numbers-Content .Card p{
  color: rgba(255, 255, 255, 0.80);
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
}

.Numbers-Content .Card:nth-child(1){
  background: url("../../img/company/Numbers1.png");
}
.Numbers-Content .Card:nth-child(2){
  background: url("../../img/company/Numbers2.png");
}
.Numbers-Content .Card:nth-child(3){
  background: url("../../img/company/Numbers3.png");
}
.Numbers-Content .Card:nth-child(4){
  background: url("../../img/company/Numbers4.png");
}




/*Карьера*/
.CareerSection{
  padding: 90px 0px 105px 0px;
  background: #171717;
  border: 1px solid #3535354D;
  border-radius: 20px 20px 0px 0px;
  margin-top: -15px;
  position: relative;
}

.CareerSection > *{
  width: 1280px;
  margin: auto;
}

.Career-Content{
  display: grid;
  gap:95px;
  margin-top: 50px;
  grid-template-columns: 555px 1fr;
  grid-template-rows: 391px;
}

.Career-Left{
  border: 1px solid #8D8D8D;
  border-radius: 10px;
  overflow: hidden;
}

.Career-Left > img{
  width: 100%;
  height: 100%;
}

.Career-Right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Career-Right p{
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  letter-spacing: -0.25px;
  color:#fff;
}

.Career-Right a{
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px #006AFF26;
  border: 1px solid #AAAAAA26;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 61px;
  color:#fff;
  border-radius: 5px;
  transition: 0.5s ease;
}

.Career-Right a:hover{
  background: #fff;
  color: #000;
}

.Career-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .CareerSection > *{
    width: 920px;
  }

  .Career-Right p {
    font-size: 24px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .CareerSection > *{
    width: 600px;
  }

  .CareerSection h2{
    font-size: 50px;
  }

  .Career-Content_mobile{
    display: flex;
    flex-direction: column;
    gap:30px;
    margin-top: 30px;
  }

  .Career-Left{
    border: none;
  }

  .Career-Left > img{
    width: 100%;
    height: auto;
  }

  .Career-Right{
    gap: 15px;
  }

  .Career-Content{
    display: none;
  }
}

@media (max-width: 659px) {
  /*300*/
  .CareerSection > *{
    width: 300px;
  }

  .CareerSection{
    padding: 27px 0px 30px 0px;
    border-radius: 7px;
  }

  .CareerSection h2{
    font-size: 23px;
  }

  .Career-Right p {
    font-size: 13px;
  }
  
  .Career-Right a{
    font-size: 14px;
    height: 42px;
    backdrop-filter: blur(3.866410493850708px);
    box-shadow: 0px 0px 8.5px 0px #0485FE,0px 0px 2.9px 0px #0485FEA6,0px 0px 1.33px 0px #FFFFFF59;
    padding: 5px 20px 0px 20px;
    border-radius: 5px;
  }

  .Career-Right a img{
    width: 28px;
    padding-bottom: 5px;
  }

  .Career-Content_mobile{
    gap:11px;
    margin-top: 8px;
  }
}





/*Что для нас важно*/
.ImportantSection{
  background: #181818 url("../../img/company/TeamBack.png") center;
  background-size: 1920px 100%;
  padding: 90px 0px 105px 0px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3535354D;
  position: relative;
  margin-top: -15px;
  }

  .ImportantSection > div{
    width: 1280px;
    margin: auto;
  }
  

  .Important-Content{
    margin-top: 50px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
  }
  
  .Important-Content .Card{
    transition: 0.5s ease;
    background: #171717;
    border: 1px solid #FFFFFF60;
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    gap:20px;
    align-items: center;
    border-radius: 10px;
  }

  .Important-Content .Card img{
    width: 30px;
  }
  
  .Important-Content .Card p{
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  .h2_mobile{
    display: none;
  }
  

  @media (max-width: 1439px){
    /*920*/
    .Important-Header{
      margin-left: calc((100% - 920px) / 2);
      width: 446px;
    }

    .ImportantSection h2 {
      font-size: 32px;
    }

    .Important-Content {
      grid-template-columns: 430px;
    }

    .Important-Content .Card p {
      font-size: 22px;
    }

    .Important-Content .Card {
      gap: 19px;
    }
  }
  
  @media (max-width: 979px) {
    /*600*/
    .ImportantSection{
      flex-direction: column;
      gap:30px;
    }

    .ImportantSection > *{
      width: 600px;
      margin: auto;
    }

    .ImportantSection h2 {
      width: 472px;
      margin: 0px;
    }

    .Important-Content {
      grid-template-columns: 1fr;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    .ImportantSection > *{
      width: 300px;
    }

    .ImportantSection{
      padding: 36px 0px 43px 0px;
      gap:15px;
      background: #181818;
    }

    .ImportantSection h2 {
      width: 260px;
      font-size: 22px;
    }

    .h2_desktop{
      display: none;
    }

    .h2_mobile{
      display: block;
    }

    .Important-Content{
      grid-auto-rows: 42px;
      gap:10px;
      padding: 0px;
    }

    .Important-Content .Card p {
      font-size: 14px;
      padding-top: 4px;
    }

    .Important-Content .Card {
      border-radius: 4px;
      gap:23px;
      padding-left: 22px;
    }

    .Important-Content .Card > div {
      width: 28px;
    }

    .Important-Content .Card:nth-child(1) > div img{
      width: 20px;
    }
    .Important-Content .Card:nth-child(2) > div img{
      width: 25px;
    }
    .Important-Content .Card:nth-child(3) > div img{
      width: 25px;
    }
  }
