/* ОБЩИЕ */
body{
  background: #212121;
}


.Why-Content .Card:hover{
  background: #113058;
  box-shadow: 0px 0px 6px 2px #0485FE;
}



/* Главная секция*/
.MainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:35px;
  padding: 130px 0px 91px 0px;
  background: #181818 url("../../img/development/MainBack.jpg") center;
  background-size: 1920px 100%;
  margin-top: -4px;
}

.MainSection > div{
  width: 1280px;
}

.MainSection-Header{
  display: flex;
  gap:10px;
  align-items: start;
}

h1{
  color: #FFF;
  font-size: 72px;
  font-weight: 500;
  line-height: 111%; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 626px;
  flex-shrink: 0;
}

.MainSection-Header p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
}

.MainSection-Content{
  display: flex;
  align-items: end;
  gap:365px;
}

.MainSection-Content a{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  transition: 0.5s ease;
  border-radius: 5px;
  border: 1px solid rgba(170, 170, 170, 0.15);
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
  width: 272px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.MainSection-Content a:hover{
  background: #fff;
  color:#000;
}

.MainSection-Content > div{
  display: grid;
  grid-template-columns: 1fr;
  gap:40px;
}

.MainSection .Info{
  display: flex;
  align-items: center;
  gap:20px;
}

.MainSection .Info::before {
  content: "";
  height: 72px;
  width: 3px;
  background: #0485FE;
  display: block;
  flex-shrink: 0;
  margin-bottom: 14px;
}

.MainSection .Info h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.MainSection .Info p {
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 1439px){
  .MainSection > div{
      width: 920px;
  }

  .MainSection-Content > div {
    grid-template-columns: 1fr 1fr;
}

  h1{
      width: 329px;
      font-size: 51.58px;
  }

  .MainSection-Header p {
      font-size: 21px;
  }

  .MainSection-Content a {
      font-size: 26px;
  }

  .MainSection-Content {
      gap: 157px;
  }

  .MainSection .Info h3 {
      font-size: 52px;
  }

  .MainSection .Info p {
    font-size: 21px;
}

  .MainSection{
      gap:134px;
      background-size: 1440px;
  background-position: center;
  }

  .MainSection-Header {
    gap: 75px;
}
}

@media (max-width: 979px) {
  /*600*/
  .MainSection{
      margin-top: -13px;
  }
  h1{
      font-size: 60px;
      color: #0485FE;
      width: auto;
  }
  h1 br{
      display: none;
  }
  .MainSection .Info h3 {
      font-size: 53px;
  }
  .MainSection > div{
      width: 600px;
  }
  .MainSection-Header {
      flex-direction: column;
      gap:20px;
  }

  .MainSection-Content{
      flex-direction: column-reverse;
      gap:16px;
  }
  .MainSection .Info:nth-child(1){
      display: none;
  }
  .MainSection .Info:first-child {
      grid-column: unset;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 1fr;
      gap:0px;
  }

  .MainSection .Info p {
      font-size: 17px;
  }

  .MainSection-Content a{
      width: 100%;
      text-align: center;
  }
}

@media (max-width: 659px) {
  /*300*/
  h1{
      font-size: 30px;
      font-weight: 600;
  }

  .MainSection{
      padding: 19px 0px 33px 0px;
      gap: 67px;
      margin-top: -3px;
  }

  
  .MainSection > div{
      width: 300px;
  }

  .MainSection-Header p {
      font-size: 11px;
      font-weight: 300;
  }

  .MainSection-Header{
      gap:12px;
  }

  .MainSection .Info h3 {
      font-size: 30px;
  }

  .MainSection .Info p {
      font-size: 10px;
  }

  .MainSection .Info::before {
      width: 2px;
  }

  .MainSection .Info {
      gap: 7px;
  }

  .MainSection-Content a {
      font-size: 12px;
      padding: 6.5px 0px;
      border-radius: 4px;
      border: 0.394px solid #8D8D8D;
      background: #181818;
      box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 3.466px 0px rgba(4, 133, 254, 0.75), 0px 0px 6.538px 0px #0485FE;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 1.1fr;
  }
}







/*Наши проекты*/
.ProjectsSection{
  padding: 90px 0px 105px 0px;
  background: #171717;
  border: 1px solid #3535354D;
  border-radius: 20px 20px 0px 0px;
  margin-top: -15px;
  position: relative;
}

.ProjectsSection > *{
  width: 1280px;
  margin: auto;
}

.Projects-Content{
  display: grid;
  gap:20px;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
}

.Projects-Content .Card{
  background: #2C2C2C;
  backdrop-filter: blur(10px);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:10px;
}

.Projects-Content .Card h3{
  color:#0485FE;
  font-weight: 500;
  font-size: 32px;
  line-height: normal;
  text-transform: uppercase;
}

.Projects-Content .Card p{
  color:#fff;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
}

.Projects-Content .Card .info{
  color:#FFFFFF99;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;

}

.Projects-Content .Card li{
  color:#FFFFFF99;
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  margin-left: 24px;
  list-style: disc;
}

.Projects-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .ProjectsSection > *{
    width: 920px;
  }

  .Projects-Content{
    grid-template-rows: 300px;
  }

  .Projects-Content .Card{
    padding: 28px 0px 0px 31px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .ProjectsSection > *{
    width: 600px;
  }

  .Projects-Content{
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-auto-rows: 250px;
  }

  .Projects-Content .Card{
    padding: 28px 20px 0px 31px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .ProjectsSection{
    padding: 32px 0px 28px 0px;
  }
  .ProjectsSection > *{
    width: 300px;
  }

  .Swiper-Control {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    margin-top: 17px;
    width: 100%;
  }
  
  .Swiper-Control > button {
    color: #fff;
    font-size: 24px;
    padding: 5.7px 16px;
    border-radius: 4px;
    background: #ffffff29;
  }
  
  .Swiper-Control > button:hover {
    opacity: 0.8;
  }

 
  .swiper{
    overflow: visible !important;
  }
  .swiper-wrapper{
    height: auto !important;
    overflow: visible;
  }

  .Swiper-Control > button img {
    width: 6px;
  }

  .Projects-Content_mobile{
    display: block;
    margin-top: 15px;
  }

  .Projects-Content{
    display: none;
  }

  .Projects-Content_mobile .Card{
    background: #242424A8;
    padding: 16px 0px 0px 27px;
    width: 262px;
    height: 201px;
    border-radius: 5px;
    border: 1px solid #353535;
    background: rgba(36, 36, 36, 0.26);
    transition: 0.5s ease;
  }
  
  .Projects-Content_mobile .Card h3{
    color:#fff;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  
  .Projects-Content_mobile .Card p{
    color:#fff;
    letter-spacing: 0px;
    font-family: 'Mulish';
  font-weight: 300;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 5px;
  width: 198px;
  }
  
  .Projects-Content_mobile .Card li{
    color:#fff;
    list-style: disc;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0px;
  }

  .Projects-Content_mobile .Card > div{
    width: 260px;
    height: 1px;
    background: #353535;
    margin-left: -27px;
    margin-bottom: 10px;
  }

  .Projects-Content_mobile .swiper-slide-active .Card{
    box-shadow: 0px 0px 1.3px 0px #FFF, 0px 0px 0.6px 0px rgba(4, 133, 254, 0.75), 0px 0px 12.1px 0px #0485FE;
    backdrop-filter: blur(17.08548355102539px);
  }
}








/*Офисный шеринг*/
.AboutSection{
  padding: 90px 0px 105px 0px;
  background: #171717;
  border: 1px solid #3535354D;
  border-radius: 20px 20px 0px 0px;
  margin-top: -15px;
  position: relative;
}

.AboutSection > *{
  width: 1280px;
  margin: auto;
}

.About-Content{
  display: grid;
  gap:95px;
  margin-top: 50px;
  grid-template-columns: 555px 1fr;
  grid-template-rows: 391px;
}

.About-Left{
  border: 1px solid #8D8D8D;
  border-radius: 10px;
  overflow: hidden;
}

.About-Left > img{
  width: 100%;
  height: 100%;
}

.About-Right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.About-Right p{
  font-weight: 300;
  font-size: 24px;
  line-height: normal;
  letter-spacing: -0.25px;
  color:#fff;
}

.About-Right a{
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px #006AFF26;
  border: 1px solid #AAAAAA26;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 61px;
  color:#fff;
  border-radius: 5px;
  transition: 0.5s ease;
}

.About-Right a:hover{
  background: #fff;
  color: #000;
}

.AboutSection .h2_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .AboutSection > *{
    width: 920px;
  }

  .AboutSection h2 br{
    display: none;
  }

  .AboutSection h2{
    font-size: 47px;
  }

  .About-Content {
    gap: 34px;
    grid-template-columns: 409px 1fr;
    grid-template-rows: 225px;
}

.About-Right p {
  font-size: 22px;
  line-height: 100%;
}

.About-Right a {
  font-size: 24px;
  height: 65px;
  line-height: normal;
}
}

@media (max-width: 979px) {
  /*600*/
  .AboutSection > *{
    width: 600px;
  }

  .About-Left{
    display: none;
  }

  .AboutSection .h2_desktop{
    display: none;
  }

  .AboutSection .h2_mobile{
    display: block;
  }

  .About-Content {
    display: block;
    margin-top: 30px;
  }

  .About-Right p {
    margin-bottom: 20px;
}
}

@media (max-width: 659px) {
  /*300*/
  .AboutSection{
    padding: 31px 0px;
  }
  .AboutSection > *{
    width: 300px;
  }

  .AboutSection .h2_mobile {
    font-size: 23px;
  }

  .About-Right p {
    font-size: 12px;
    margin-bottom: 23px;
  }

  .About-Content {
    margin-top: 28px;
  }

  .About-Right a {
    font-size: 14px;
    height: 36px;
    border-radius: 4px;
    padding: 0px 15px;
  }
  .About-Right a img{
    width: 27px;
  }
}





/*Почему популярен*/
.WhySection{
  padding: 90px 0px 105px 0px;
  background: #171717;
  border: 1px solid #3535354D;
  border-radius: 20px 20px 0px 0px;
  margin-top: -15px;
  position: relative;
}

.WhySection > div{
  width: 1280px;
  margin: auto;
}

.Why-Header .wrap{
  margin: 50px 0px;
}

.Why-Content{
  display: grid;
  grid-template-columns: 1fr;
  gap:20px;
}

.Why-Content .Card{
  transition: 0.5s ease;
  background: #2C2C2C;
  backdrop-filter: blur(10px);
  gap:5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.Why-Content .Card h3{
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  line-height: 100%;
}

.Why-Content .Card p{
  color: #FFFFFF99;
  font-size: 18px;
  font-weight: 300;
  line-height: 100%;
}



.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  width: 426px;
  height: 256px;
}

.item img{
  width: 100%;
  height: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media (max-width: 1439px){
  /*920*/
  .WhySection {
    gap: 30px;
}

  .WhySection h2{
    margin-left: calc((100vw - 920px) / 2);
    font-size: 40px;
    margin-bottom: 109px;
  }
  
  .Why-Header{
    width: calc((100vw - 40px) / 2);
  }

  .Why-Content {
    grid-template-columns: 450px;
  }
  .Why-Content .Card h3 {
    font-size: 30px;
}

.Why-Content .Card p {
  font-size: 17px;
}
}

@media (max-width: 979px) {
  /*600*/
  .WhySection h2{
    margin-left: calc((100vw - 600px) / 2);
    margin-bottom: 50px;
  }

  .WhySection{
    flex-direction: column;
  }

  .Why-Header{
    width: 100%;
  }

  .Why-Content {
    width: 600px;
    margin: auto;
    grid-template-columns: 100%;
  }

  .item {
    width: 450px;
    height: 265px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .WhySection{
    padding: 31px 0px;
  }

  .WhySection h2{
    margin: auto;
    margin-bottom: 23px;
    font-size: 23px;
    width: 300px;
  }

  .Why-Content {
    width: 300px;
  }

  .item {
    width: 205px;
    height: 95px;
  }

  .items-wrap, .items {
    gap: 5px;
  }

  .Why-Content .Card h3 {
    font-size: 14px;
  }

  .Why-Content .Card p {
    font-size: 10px;
  }

  .Why-Content {
    grid-template-rows: repeat(3, 69px);
}

.Why-Content .Card {
  padding: 18px 12px 16px 16px;
  border-radius: 4px;
}
}





/*Инвестиции*/
.InvestitionsSection{
  padding: 90px 0px 105px 0px;
  background: #181818 url("../../img/development/InvestitionsBack.png") center;
  background-size: 1920px 100%;
  border: 1px solid #3535354D;
  border-radius: 20px 20px 0px 0px;
  margin-top: -15px;
  position: relative;
}

.InvestitionsSection > *{
  width: 1280px;
  margin: auto;
}

.Investitions-Content{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:20px;
}

.Investitions-Content .Card{
  transition: 0.5s ease;
  background: #2C2C2C;
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:10px;
  border-radius: 10px;
}

.Investitions-Content .Card:hover{
box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
backdrop-filter: blur(16px);
}




.Investitions-Content .Card h3{
  color: #0485FE;
  font-size: 32px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.Investitions-Content .Card-Content{
  display: flex;
  gap:30px;
  flex-direction: column;
}

.Investitions-Content .Card-Content li{
  color: #fff;
  font-size: 24px;
  line-height: normal;
  font-weight: 300;
}

.Investitions-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .InvestitionsSection > *{
    width: 920px;
  }
  .Investitions-Content {
    grid-template-columns: repeat(3, 300px);
  }

  .Investitions-Content .Card h3 {
    font-size: 18.48px;
    line-height: normal;
  }

  .Investitions-Content .Card-Content li {
    margin-left: 15px;
    font-size: 15.25px;
    line-height: normal;
  }
}

@media (max-width: 979px) {
  /*600*/
  .InvestitionsSection > *{
    width: 600px;
  }
  .Investitions-Content {
    grid-template-columns: 1fr;
    grid-auto-rows: 200px;
    grid-template-rows: unset;
    gap:10px;
  }

  .Investitions-Content .Card-Header {
    height: 60px;
    padding: 15px 0px 0px 25px;
}
  
}

@media (max-width: 659px) {
  /*300*/
  .InvestitionsSection{
    padding: 31px 0px 26px 0px;
  }
  
  .InvestitionsSection > *{
    width: 300px;
  }
  .Investitions-Content_mobile{
    display: block;
    margin-top: 26px;
  }

  .Investitions-Content{
    display: none;
  }
  
  .Investitions-Content_mobile .Card{
    transition: 0.5s ease;
    flex-shrink: 0;
    border-radius: 11px;
    border: 1px solid #393939;
    background: #242424AD;
    backdrop-filter: blur(16.980453491210938px);
    width: 237px;
    height: 185px;
  }
  
  /* .Investitions-Content_mobile .Card:hover{
  box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
  backdrop-filter: blur(16.980453491210938px);
  } */
  
  
  .Investitions-Content_mobile .Card-Header{
    border-bottom: 1px solid #393939;
    height: 62px;
    padding: 14px 14px 12px 16px;
  }
  
  
  
  .Investitions-Content_mobile .Card h3{
    color: #FFF;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    text-transform: uppercase;
  }
  
  .Investitions-Content_mobile .Card-Content{
    padding: 15px 14px 0px 16px;
    display: flex;
    flex-direction: column;
    gap:10px;
  }
  
  .Investitions-Content_mobile .Card-Content li{
    color: #FFF;
    list-style: disc;
    margin-left: 12px;
    font-family: "Mulish";
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0px;
  }

  .InvestitionsSection .swiper-slide{
    margin-right: -50px !important;
  }
}

