/* ОБЩИЕ */
body{
  background: #212121;
}


.Services-Content .Card:hover, .Market-Content .Card:hover{
  background: #113058;
  box-shadow: 0px 0px 6px 2px #0485FE;
}



/* Главная секция*/
.MainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:35px;
  padding: 130px 0px 105px 0px;
  background: #181818 url("../../img/investitions/MainBack.jpg") center;
  background-size: 1920px 100%;
  margin-top: -4px;
}

.MainSection > div{
  width: 1280px;
}

.MainSection-Header{
  display: flex;
  gap:10px;
  align-items: start;
}

.MainSection-Header > div{
  display: flex;
  flex-direction: column;
  gap:20px;
}

h1{
  color: #FFF;
  font-size: 72px;
  font-weight: 500;
  line-height: 111%; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 626px;
  flex-shrink: 0;
}

.MainSection-Header p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
}

.MainSection-Content{
  display: flex;
  align-items: end;
  gap:365px;
}

.MainSection-Content a{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  transition: 0.5s ease;
  border-radius: 5px;
  border: 1px solid rgba(170, 170, 170, 0.15);
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
  width: 272px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.MainSection-Content a:hover{
  background: #fff;
  color:#000;
}

.MainSection-Content > div{
  display: grid;
  grid-template-columns: 1fr;
  gap:40px;
}

/* .MainSection-Content > div .Info:first-child{
  grid-column: span 2;
} */

.MainSection .Info{
  display: flex;
  align-items: center;
  gap:20px;
}

.MainSection .Info::before {
  content: "";
  height: 72px;
  width: 3px;
  background: #0485FE;
  display: block;
  flex-shrink: 0;
}

.MainSection .Info h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.MainSection .Info p {
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 1439px){
  .MainSection > div{
      width: 920px;
  }

  h1{
      width: 446px;
      font-size: 58px;
  }


  .MainSection-Header p{
      font-size: 20px;
  }

  .MainSection-Content{
      gap: 185px;
  }

  .MainSection .Info h3{
    font-size: 53px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .MainSection{
      /* padding: 60px 0px 75px 0px;
      gap:50px; */
      padding: 0px;
      gap: 20px;
      height: 100%;
      justify-content: center;
      margin-bottom: 15px;
  }

  .p_mobile{
    display: block;
  }

  .p_desktop{
    display: none;
  }

  h1{
      font-size: 32px;
      width: auto;
  }

  .MainSection > div{
      width: 600px;
  }

  .MainSection-Header{
      flex-direction: column;
  }

  .MainSection-Header p{
      font-size: 16px;
      gap:30px;
  }

  .MainSection-Content{
      flex-direction: column-reverse;
      gap: 20px;
  }

  .MainSection-Content a{
      width: 100%;
      height: 55px;
      font-size: 16px;
  }

  .MainSection .Info h3{
      font-size: 32px;
      margin-bottom: 5px;
  }

  .MainSection .Info p{
      font-size: 14px;
  }

  .MainSection-Content > div{
      gap: 20px;
      width: 100%;
  }

  .MainSection .Info{
      gap: 10px;
  }

  .MainSection .Info:last-child{
      display: none;
  }
}

@media (max-width: 659px) {
  /*320*/
  .MainSection > div{
      width: 320px;
  }
}








/*Рост с аликсон*/
.GrowSection{
  padding: 90px 0px 105px 0px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #171717;
  margin-top: -15px;
  position: relative;
}

.GrowSection > *{
  width: 1280px;
  margin: auto;
}



.Grow-Header{
  display: flex;
  justify-content: space-between;
}

.Grow-Header p{
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.25px;
  width: 640px;
  flex-shrink: 0;
}


.Grow-Content{
  display: grid;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 340px;
  gap:20px;
}

.Grow-Content .Card h3{
font-weight: 500;
font-size: 32px;
line-height: normal;
color:#fff;
width: 206px;
height: 61px;
text-align: center;
position: absolute;
top:20px;
left:20px;
text-transform: uppercase;
border-radius: 100px;
border: 1px solid #8D8D8D;
background: rgba(4, 133, 254, 0.05);
display: flex;
align-items: center;
justify-content: center;
padding-top: 5px;
}

.Grow-Content .Card:last-child h3{
  background: linear-gradient(180deg, rgba(0, 171, 0, 0.05) 0%, rgba(0, 111, 0, 0.05) 100%);
}

.Grow-Content .Card h4{
  color: #FFF;
text-align: center;
font-size: 18px;
font-weight: 500;
line-height: normal;
text-transform: uppercase;
}

.Grow-Content .Card p{
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.Grow-Content .Card-Content{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.Grow-Content .Card-El{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.Grow-Content .Card:first-child{
  transition: 0.5s ease;
  border-radius: 10px;
  background: #2C2C2C url("../../img/investitions/Grow1.svg") no-repeat bottom left;
  box-shadow: 0px 0px 6px 2px rgba(4, 133, 254, 0.50);
  padding: 20px;
  position: relative;
}

.Grow-Content .Card:first-child:hover{
  background: #113058 url("../../img/investitions/Grow1.svg") no-repeat bottom left;
  box-shadow: 0px 0px 6px 2px #0485FE;
}

.Grow-Content .Card:first-child .Card-El:nth-child(1) > div{
  width: 55px;
  height: 10px;
  border-radius: 3px;
background: linear-gradient(180deg, #0058AB 0%, #0485FE 100%);
}

.Grow-Content .Card:first-child .Card-El:nth-child(2) > div{
  width: 55px;
  height: 71px;
  border-radius: 3px;
background: linear-gradient(180deg, #0058AB 0%, #0485FE 100%);
}

.Grow-Content .Card:first-child .Card-El:nth-child(3) > div{
  width: 55px;
  height: 108px;
  border-radius: 3px;
background: linear-gradient(180deg, #0058AB 0%, #0485FE 100%);
}

.Grow-Content .Card:first-child .Card-El:nth-child(4) > div{
  width: 55px;
  height: 239px;
  border-radius: 3px;
background: linear-gradient(180deg, #0058AB 0%, #0485FE 100%);
}




.Grow-Content .Card:last-child{
  transition: 0.5s ease;
  border-radius: 10px;
  background: #2C2C2C url("../../img/investitions/Grow2.svg") no-repeat bottom left;
  padding: 20px;
  position: relative;
  box-shadow: 0px 0px 6px 2px rgba(1, 159, 1, 0.50);
}
.Grow-Content .Card:last-child:hover{
  background: #0c380c url("../../img/investitions/Grow2.svg") no-repeat bottom left;
  box-shadow: 0px 0px 6px 2px #00AB00;
}

.Grow-Content .Card:last-child .Card-El:nth-child(1) > div{
  width: 55px;
  height: 56px;
  border-radius: 3px;
  background: linear-gradient(180deg, #00AB00 0%, #006F00 100%);
}

.Grow-Content .Card:last-child .Card-El:nth-child(2) > div{
  width: 55px;
  height: 142px;
  border-radius: 3px;
  background: linear-gradient(180deg, #00AB00 0%, #006F00 100%);
}

.Grow-Content .Card:last-child .Card-El:nth-child(3) > div{
  width: 55px;
  height: 239px;
  border-radius: 3px;
  background: linear-gradient(180deg, #00AB00 0%, #006F00 100%);
}

@media (max-width: 1439px){
  /*920*/
  .GrowSection > *{
    width: 920px;
  }

  .Grow-Header p {
    font-size: 20px;
    width: 551px;
  }

  .Grow-Content .Card:first-child, .Grow-Content .Card:last-child{
    background-size: 100% !important;
    background-position: center !important;
  }

}

@media (max-width: 979px) {
  /*600*/
  .GrowSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .GrowSection > *{
    width: 600px;
  }

  .Grow-Header{
    flex-direction: column;
    gap:25px;
  }

  .Grow-Content {
    grid-template-columns: 1fr;
    margin-top: 25px;
    gap:30px;
    grid-auto-rows: 280px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(1) > div {
     height: 30px; 
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(2) > div {
    height: 70px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(3) > div {
    height: 130px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(4) > div {
    height: 200px;
  }

  .Grow-Content .Card:first-child {
    padding: 10px;
    background-size: 100% 100% !important;
    background-position-y: 10px !important;
  }

  .Grow-Content .Card h3{
    top: 10px;
    left: 10px;
    width: 109px;
    height: 32px;
    font-size: 16px;
    padding-top: 2px;
  }

  .Grow-Content .Card:last-child {
    padding: 10px;
    background-size: 100% 100% !important;
    background-position-y: 10px !important;
  }

  .Grow-Content .Card:last-child .Card-El:nth-child(1) > div {
    height: 30px;
  }

  .Grow-Content .Card:last-child .Card-El:nth-child(2) > div {
    height: 110px;
  }

  .Grow-Content .Card:last-child .Card-El:nth-child(3) > div {
    height: 200px;
  }

  .Grow-Header p{
    font-size: 16px;
    width: auto;
  }
}

@media (max-width: 659px) {
  /*320*/
  .GrowSection > *{
    width: 320px;
  }

  .Grow-Content {
    grid-auto-rows: 180px;
  }

  .Grow-Content .Card:first-child .Card-El:nth-child(1) > div {
    height: 5px;
    width: 29px;
 }

 .Grow-Content .Card:first-child .Card-El:nth-child(2) > div {
   height: 38px;
   width: 29px;
 }

 .Grow-Content .Card:first-child .Card-El:nth-child(3) > div {
   height: 57px;
   width: 29px;
 }

 .Grow-Content .Card:first-child .Card-El:nth-child(4) > div {
   height: 127px;
   width: 29px;
 }

 .Grow-Content .Card:last-child .Card-El:nth-child(1) > div {
  height: 30px;
  width: 29px;
}

.Grow-Content .Card:last-child .Card-El:nth-child(2) > div {
  height: 75px;
  width: 29px;
}

.Grow-Content .Card:last-child .Card-El:nth-child(3) > div {
  height: 127px;
  width: 29px;
}

.Grow-Content .Card h4{
  font-size: 9px;
}

.Grow-Content .Card p{
  font-size: 7px;
}
.Grow-Content .Card:first-child {
  background-position-y: unset !important;
}
.Grow-Content .Card:last-child {
  background-position-y: unset !important;
}


}






/*Рост рынка*/
.MarketSection{
  padding: 90px 0px 105px 0px;
  border: 1px solid #3535354D;
  background: #181818 url("../../img/investitions/MarketBack.png") center;
  background-size: 1920px 100%;
  border-radius: 20px 20px 0px 0px;
  margin-top: -15px;
  position: relative;
}

.MarketSection > div{
  width: 1280px;
  margin: auto;
}

.Market-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  margin-top: 50px !important;
}

.Market-Content .Card{
  transition: 0.5s ease;
  background: #2C2C2C;
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:5px;
  justify-content: center;
  border-radius: 10px;
}

.Market-Content h3{
    color: #FFF;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}

.Market-Content p{
    color: #FFFFFF99;
    font-weight: 300;
    font-size: 18px;
    line-height: 100%;
}

@media (max-width: 1439px){
  /*920*/
  .MarketSection > div{
    width: 920px;
  }

}

@media (max-width: 979px) {
  /*600*/
  .MarketSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .MarketSection > div{
    width: 600px;
  }

  .Market-Content {
    grid-template-columns: 1fr;
    margin-top: 25px !important;
  }

  .Market-Content h3{
    font-size: 20px;
  }

  .Market-Content p{
    font-size: 16px;
  }

}

@media (max-width: 659px) {
  /*320*/
  .MarketSection > div{
    width: 320px;
  }
}








/*Инвестиции с аликсон 1*/
.ServicesSection{
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #171717;
}

.ServicesSection > div{
  width: 1280px;
  margin: auto;
}



.Services-Header .wrap{
  margin: 50px 0px;
}


.Services-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.Services-Content .Card{
  transition: 0.5s ease;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap:20px;
  align-items: center;
  border: 1px solid #ffffff60;
  backdrop-filter: blur(5px);
}

.Services-Content .Card img{
  width: 30px;
}

.Services-Content p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}



.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  height: 256px;
  width: 423px;
}

.item img{
  height: 100%;
  width: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.h2_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .ServicesSection > div{
      width: 920px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .ServicesSection{
      border: 1px solid #353535;
      padding: 60px 0px 75px 0px;
      border-radius: 10px 10px 0px 0px;
  }

  .Services-Header .wrap{
      margin: 25px 0px;
  }

  .ServicesSection > div{
      width: 600px;
  }

  .Services-Content{ 
      grid-template-columns: 1fr;
  }

  .item{
      width: 268px;
      height: 162px;
  }

  .items{
      gap: 13px;
  }

  .items-wrap{
      gap: 13px;
  }

  .Services-Content .Card p{
    font-size: 16px;
  }
}

@media (max-width: 659px) {
  /*320*/
  .ServicesSection > div{
      width: 320px;
  }
}

 





/*Куда стремится бизнес*/
.BuisnesSection{
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #181818 url("../../img/investitions/BuisnesBack.png") center;
  background-size: 1920px 100%;
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;
}

.BuisnesSection > *{
  width: 1280px;
  margin: auto;
}

.Buisnes-Content{
  display: grid;
  gap:20px;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr;
}

.Buisnes-Content .Card{
  border-radius: 10px;
  background: #2C2C2C;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:5px;
}

.Buisnes-Content .Card h3{
  color: #0485FE;
  font-size: 64px;
  font-weight: 500;
  line-height: normal;
}

.Buisnes-Content .Card p{
  color: rgba(255, 255, 255, 0.80);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

@media (max-width: 1439px){
  /*920*/
  .BuisnesSection > *{
    width: 920px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .BuisnesSection > *{
    width: 600px;
  }

  .BuisnesSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
}

  .Buisnes-Content{
    grid-template-columns: 1fr;
    margin-top: 25px;
  }

  .Buisnes-Content .Card h3{
    font-size: 42px;
  }

  .Buisnes-Content .Card p{
    font-size: 16px;
    color: #fff;
  }

  .Buisnes-Content .Card{
    gap: 20px;
  }
}

@media (max-width: 659px) {
  /*320*/
  .BuisnesSection > *{
    width: 320px;
  }
}




/*Инвестиции с аликсон 2*/
.TableSection{
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #171717;
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;

}

.TableSection > *{
  width: 1280px;
  margin: auto;
}

.Table-Content{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 144px;
  gap:20px;
}

.Table-Content .Card{
  border-radius: 10px;
  background: #2C2C2C;
  backdrop-filter: blur(5px);
  padding: 20px;
  align-items: start;
  display: flex;
}

.Table-Content .Card:first-child{
  grid-column: span 2;
  border: 1px solid #2C2C2C;
  background: #171717;
  backdrop-filter: blur(5px);
  align-items: center;
  justify-content: space-between;
}

.Table-Content .Card:first-child p{
  width: 451px;
}

.Table-Content .Card span{
  color: #0485FE;
  font-size: 72px;
  font-weight: 500;
  line-height: normal;
}

.Table-Content h3{
  color: #0485FE;
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}

.Table-Content p{
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
}

.Table-Content p span{
  font-size: 64px;
  font-weight: 600;
}


.Table-Content li{
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: normal;
  list-style: disc;
  margin-left: 20px;
}

.Table-Content_mobile{
  display: none;
}


@media (max-width: 1439px){
  /*920*/
  .TableSection > *{
    width: 920px;
  }

  .Table-Content .Card:first-child p{
    width: 328px;
  }

  .Table-Content{
    grid-auto-rows: 190px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .TableSection > *{
    width: 600px;
  }

  .TableSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .Table-Content{
    display: none;
  }

  .Table-Content_mobile{
    display: grid;
    margin-top: 25px;
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .Table-Content_mobile .Card{
    padding: 20px;
    border-radius: 10px;
    background: #2C2C2C;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    gap:20px;
  }

  .Table-Content_mobile .Card:first-child{
    border: 1px solid #2C2C2C;
    background: none;
    align-items: center;
  }

  .Table-Content_mobile .Card span{
    color: #0485FE;
    font-size: 41px;
    font-weight: 500;
    line-height: normal;
  }
  
  .Table-Content_mobile h3{
    color: #0485FE;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
  }
  
  .Table-Content_mobile p{
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
  }

  
  
  .Table-Content_mobile li{
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
    line-height: normal;
    list-style: disc;
    margin-left: 25px;
  }
}

@media (max-width: 659px) {
  /*320*/
  .TableSection > *{
    width: 320px;
  }
}



/*Наши клиенты*/
.ClientsSection{
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #181818;
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;
}

.ClientsSection > *{
  width: 1280px;
  margin: auto;
}

.Clients-Content{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 104px;
  gap:20px;
}

.Clients-Content .Card{
  border-radius: 10px;
  border: 1px solid #ffffff60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Clients-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .ClientsSection > *{
      width: 920px;
  }
  .Clients-Content{
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 979px) {
  /*600*/
  .ClientsSection > *{
      width: 600px;
  }
  .Clients-Content{
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 15px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .ClientsSection > *{
      width: 300px;
  }

  .ClientsSection{
      padding: 30px 0px;
      border-radius: 7px;
  }

  .Clients-Content_mobile{
      display: block;
      width: 100%;
      margin-top: 20px;
  }

  .Clients-Content{
      display: none;
  }

  .Clients-Content_mobile .item{
      width: 119px;
      height: 52px;
      border-radius: 5px;
      border: 1px solid #0058AB;
  }

  .Clients-Content_mobile .item img{
      width: 90%;
  }

  .Clients-Content_mobile .items, .items-wrap {
      gap: 10px;
  }

  .Clients-Content_mobile .wrap{
      margin-bottom: 7px;
  }

}