/* ОБЩИЕ */
body{
  background: #212121;
}


.Advantages-Content .Card:hover, .About-Content .Card:hover{
  background: #113058;
  box-shadow: 0px 0px 6px 2px #0485FE;
}



/* Главная секция*/
.MainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:35px;
  padding: 130px 0px 91px 0px;
  background: #181818 url("../../img/marketplace/MainBack.jpg") center;
  background-size: 1920px 100%;
  margin-top: -4px;
}

.MainSection > div{
  width: 1280px;
}

.MainSection-Header{
  display: flex;
  gap:10px;
  align-items: start;
}

h1{
  color: #FFF;
  font-size: 72px;
  font-weight: 500;
  line-height: 111%; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 626px;
  flex-shrink: 0;
}

.MainSection-Header p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
}

.MainSection-Content{
  display: flex;
  align-items: end;
  gap:365px;
}

.MainSection-Content a{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  transition: 0.5s ease;
  border-radius: 5px;
  border: 1px solid rgba(170, 170, 170, 0.15);
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
  width: 272px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.MainSection-Content a:hover{
  background: #fff;
  color:#000;
}

.MainSection-Content > div{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap:40px;
  column-gap:20px;
}

.MainSection-Content > div .Info:nth-child(1), .MainSection-Content > div .Info:nth-child(2){
  grid-column: span 2;
}

.MainSection .Info{
  display: flex;
  align-items: center;
  gap:20px;
}

.MainSection .Info::before {
  content: "";
  height: 72px;
  width: 3px;
  background: #0485FE;
  display: block;
  flex-shrink: 0;
  margin-bottom: 14px;
}

.MainSection .Info h3 {
  color: #fff;
  font-size: 62px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.MainSection .Info p {
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

.p_mobile{
  display: none;
}

.MainSection .Info:last-child > div{
  margin-bottom: 20px;
}

@media (max-width: 1439px){
  .MainSection > div{
      width: 920px;
  }

  h1{
      width: 446px;
      font-size: 58px;
  }


  .MainSection-Header p{
      font-size: 20px;
  }

  .MainSection-Content{
      gap: 185px;
  }

  .MainSection .Info h3{
    font-size: 53px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .MainSection{
      background: url('../../img/mainBackMobile.jpg') center;
      background-size: 100% 100%;
      padding: 0px;
      gap: 20px;
      height: 100%;
      justify-content: center;
      margin-bottom: 15px;
  }

  .p_mobile{
    display: block;
  }

  .p_desktop{
    display: none;
  }

  h1{
      font-size: 32px;
      width: auto;
  }

  .MainSection > div{
      width: 600px;
  }

  .MainSection-Header{
      flex-direction: column;
  }

  .MainSection-Header p{
      font-size: 16px;
      gap:30px;
  }

  .MainSection-Content{
      flex-direction: column-reverse;
      gap: 20px;
  }

  .MainSection-Content a{
      width: 100%;
      height: 55px;
      font-size: 16px;
  }

  .MainSection .Info h3{
      font-size: 32px;
      margin-bottom: 5px;
  }

  .MainSection .Info p{
      font-size: 14px;
  }

  .MainSection-Content > div{
      gap: 20px;
      width: 100%;
  }

  .MainSection .Info{
      gap: 10px;
  }

  .MainSection .Info:nth-child(3), .MainSection .Info:nth-child(4){
      display: none;
  }

  @media (max-height: 630px) {
    .MainSection{
      height: auto;
      padding: 60px;
    }
  }
}

@media (max-width: 659px) {
  /*320*/
  .MainSection > div{
      width: 320px;
  }
}






/*Что мы предлагаем*/
.AboutSection{
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #171717;
}

.AboutSection > div{
  width: 1280px;
  margin: auto;
}



.About-Header .wrap{
  margin: 50px 0px;
}


.About-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}


.About-Content .Card{
  transition: 0.5s ease;
  border-radius: 10px;
  background: #2C2C2C;
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  gap:20px;
  align-items: center;
}

.About-Content .Card img{
  width: 30px;
}

.About-Content p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
}



.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  height: 256px;
  width: 423px;
  border-radius: 10px;
  overflow: hidden;
}

.item img{
  height: 100%;
  width: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media (max-width: 1439px){
  /*920*/
  .AboutSection > div{
      width: 920px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .AboutSection{
      border: 1px solid #353535;
      padding: 60px 0px 75px 0px;
      border-radius: 10px 10px 0px 0px;
  }

  .About-Header .wrap{
      margin: 25px 0px;
  }

  .AboutSection > div{
      width: 600px;
  }

  .About-Content{ 
      grid-template-columns: 1fr;
  }

  .item{
      width: 268px;
      height: 162px;
  }

  .items{
      gap: 13px;
  }

  .items-wrap{
      gap: 13px;
  }

  .About-Content .Card p{
    font-size: 16px;
  }

  .About-Content .Card:nth-child(5), .About-Content .Card:nth-child(6){
    display: none;
  }
}

@media (max-width: 659px) {
  /*320*/
  .AboutSection > div{
      width: 320px;
  }
}





/*Преимущества работы*/
.AdvantagesSection{
  background: #181818 url("../../img/company/TeamBack.png") center;
  background-size: 1920px 100%;
  padding: 90px 0px 105px 0px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3535354D;
  position: relative;
  margin-top: -15px;
  }

  .AdvantagesSection > div{
    width: 1280px;
    margin: auto;
  }
  

  .Advantages-Content{
    margin-top: 50px !important;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
  }
  
  .Advantages-Content .Card{
    transition: 0.5s ease;
    background: #171717;
    border: 1px solid #FFFFFF60;
    backdrop-filter: blur(10px);
    padding: 20px;
    display: flex;
    gap:20px;
    align-items: center;
    border-radius: 10px;
  }

  .Advantages-Content .Card img{
    width: 30px;
  }
  
  .Advantages-Content .Card h3{
    color: #FFF;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
  }

  @media (max-width: 1439px){
    /*920*/
    .AdvantagesSection > div{
      width: 920px;
    }
  
  }
  
  @media (max-width: 979px) {
    /*600*/
    .AdvantagesSection{
      border: 1px solid #353535;
      padding: 60px 0px 75px 0px;
      border-radius: 10px 10px 0px 0px;
    }
  
    .AdvantagesSection > div{
      width: 600px;
    }
  
    .Advantages-Content {
      grid-template-columns: 1fr;
      margin-top: 25px !important;
    }
  
    .Advantages-Content .Card h3{
      font-size: 16px;
    }

    .Advantages-Content .Card:nth-child(2), .Advantages-Content .Card:nth-child(4){
      display: none;
    }

  }
  
  @media (max-width: 659px) {
    /*320*/
    .AdvantagesSection > div{
      width: 320px;
    }
  }





/*Наши клиенты*/
.ClientsSection{
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #181818;
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;
}

.ClientsSection > *{
  width: 1280px;
  margin: auto;
}

.Clients-Content{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 104px;
  gap:20px;
}

.Clients-Content .Card{
  border-radius: 10px;
  border: 1px solid #ffffff60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Clients-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .ClientsSection > *{
      width: 920px;
  }
  .Clients-Content{
      grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 979px) {
  /*600*/
  .ClientsSection > *{
      width: 600px;
  }
  .Clients-Content{
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 15px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .ClientsSection > *{
      width: 300px;
  }

  .ClientsSection{
      padding: 30px 0px;
      border-radius: 7px;
  }

  .Clients-Content_mobile{
      display: block;
      width: 100%;
      margin-top: 20px;
  }

  .Clients-Content{
      display: none;
  }

  .Clients-Content_mobile .item{
      width: 119px;
      height: 52px;
      border-radius: 5px;
      border: 1px solid #0058AB;
  }

  .Clients-Content_mobile .item img{
      width: 90%;
  }

  .Clients-Content_mobile .items, .items-wrap {
      gap: 10px;
  }

  .Clients-Content_mobile .wrap{
      margin-bottom: 7px;
  }

}





/*Отзывы*/
.ReviewsSection{
  padding: 90px 0px 105px 0px;
  background: #181818 url("../../img/premier_cars/ReviewsBack.png") center;
  background-size: 1920px 100%;
  margin-top: -15px;
  position: relative;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
}

.ReviewsSection > div{
  width: 1280px;
  margin: auto;
}

.Reviews-Header{
  display: flex;
  justify-content: space-between;
}

.Reviews-Header p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
  width: 642px;
  flex-shrink: 0;
}




.Reviews-Content{
  margin-top: 50px !important;
}

.ReviewsSection .swiper-wrapper {
  height: auto;
}

.ReviewsSection .swiperP {
  width: 1280px;
  margin: 0px;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: block;
}



.ReviewsSection .swiper-slide {
  height: auto;
}

.Reviews-Content .Card {
  filter: grayscale(1);
  overflow: hidden;
  border-radius: 15px;
  width: 340px;
  height: 255px;
}

.Reviews-Content .Card img {
  height: 100%;
  width: 100%;
}


.Swiper-Control {
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-top: 50px;
}

.Swiper-Control > button {
  color: #fff;
  font-size: 24px;
  padding: 7.5px 20.5px;
  background: #ffffff29;
  border-radius: 5px;
}

.Swiper-Control > button:hover {
  opacity: 0.8;
}


@media (max-width: 1439px){
  /*920*/
  .ReviewsSection > div{
    width: 920px;
  }
  .ReviewsSection .swiperP{
    width: 920px;
  }

  .Reviews-Header p{
    width: 496px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .ReviewsSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .ReviewsSection > div{
    width: 600px;
  }
  .ReviewsSection .swiperP{
    width: 600px;
  }
  .Swiper-Control{
    width: 100%;
    justify-content: space-between;
    margin-top: 25px;
  }

  .Reviews-Content .Card{
    width: 320px;
    height: 208px;
  }

  .Reviews-Content{
    margin-top: 25px !important;
  }
  .Reviews-Header p{
    display: none;
  }
}

@media (max-width: 659px) {
  /*320*/
  .ReviewsSection > div{
    width: 320px;
  }
  .ReviewsSection .swiperP{
    width: 320px;
  }
}