body{
  background: url("../../img/backMainMob.jpg");
  background-size: 100% 100%;
}

@media (min-width: 980px) {
  body{
    background: url("../../img/backMain.jpg");
    background-size: 100% 100%;
  }
}



.news__section-heading {
font-size: 82px;
font-weight: 600;
letter-spacing: -3.28px;
color: #fff;
width: 1790px;
}

.news__card-image {
    flex-shrink: 0;
    border-radius: 22px;
    z-index: 2;
    height:394px;
    width:627px;
}

.news__body {
    border-radius: 0px 27px 27px 0px;
    margin-left: -20px;
    z-index: 1;
    background: rgba(16, 16, 16, 0.50);
}

.news__card {
    display: flex;
}

.news__content {
    padding: 40px 20px 40px 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news__content-heading {
    color: #FFF;
    font-size: 33px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news__content-tags {
  display: flex;
  gap: 13px;
  align-items: center;
}

.news__content-tags a{
  color: rgba(255, 255, 255, 0.50);

font-size: 24.75px;
    font-weight: 400;
    line-height: normal;
}

.news__tags_w_heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news__content-button {
  color: #FFF;
font-size: 24.75px;
font-weight: 500;
border-radius: 12px;
background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
width: 338px;
height: 71px;
display: flex;
justify-content: center;
align-items: center;
}



.news__body {
    width: 100%;
}


.news__section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 130px 0px 85px 0px;
    background-size: 1920px 100%;
}

.news__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1790px;
}

.news__card:nth-child(4) h2{
    width: 540px;
}

.arr_mob{
    display: none;
}

@media (max-width: 1799px) {
.news__inner {
    width: 1400px;
}

.news__section-heading {
    width: 1400px;
}
}

@media (max-width: 1439px) {
    .news__inner, .news__section-heading {
        width: 920px;
    }

    .news__section-heading{
      font-size: 65px;
    }

    .news__card-image {
    height: 292px;
    width: 459px;
}

.news__content-heading {
    font-size: 20px;
}

.news__content-tags a {
    font-size: 17px;
}

    .news__content-button {
        font-size: 20px;
        width: 252px;
        height: 50px;
    }

}

@media (max-width: 979px) {

    .news__section-heading{
        font-size: 24px;
        letter-spacing: unset;
          width: 620px;
    }
    .news__inner{
        gap: 25px;
        width: 620px;
    }

    .news__section{
        gap: 25px;
        padding: 35px 0px;
    }
 

    .news__card{
        flex-direction: column;
    }

    .news__card-image{
        width: 100%;
        height: 368px;
        border-radius: 10px;
    }

    .news__content-tags{
        font-size: 12px;
    }

    .news__content-heading{
        font-size: 16px;
    }

    .news__content-button{
        width: 200px;
        font-size: 16px;
    }

    .news__body{
        margin-left: 0px;
        margin-top: -10px;
        height: auto;
        border-radius: 0px 0px 10px 10px;
    }

    .news__tags_w_heading {
        gap: 20px;
    }
    .news__content{
        padding: 30px 20px 20px 20px;
        gap: 20px;
    }

  }
  
  @media (max-width: 659px) {

    .news__inner{
        width: 320px;
    }

    .news__section-heading {
        width: 320px;
    }

    .news__card-image{
        height: 200px;
    }

    .news__content-tags a{
      font-size: 9px;
    }

    .news__content-heading{
      font-size: 12px;
    }

    .news__content-button{
      font-size: 11px;
      width: 121px;
      height: 20px;
      border-radius: 3px;
    }

    .news__tags_w_heading {
        gap: 10px;
    }
  }



  /* Секция новости */

/* .NewsSection {
    background: #181818;
    padding: 90px 0px 105px 0px;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    margin-top: -15px;
    border: 1px solid rgba(53, 53, 53, 0.30);
  }
  
  
  
  .News-Header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 50px !important;
    width: 1280px;
    margin: auto;
  }
  
  .News-Header p {
    font-size: 24px;
    color: #fff;
    width: 715px;
    font-weight: 300;
    line-height: 100%;
    letter-spacing: -0.25px;
    padding-top: 4px;
  }
  
  .NewsSection .swiper-wrapper {
    height: auto;
    padding-left: calc((100vw - 1293px) / 2);
  }
  
  .NewsSection .swiperN {
    width: 1920px;
    margin: 0px;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }
  
  .NewsSection .swiper-slide img {
    border-radius: 10px;
  }
  
  .NewsSection .swiper-slide {
    height: auto;
  }
  
  .News-Main .Card {
    border-radius: 10px;
    width: 400px;
    height: 497px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #2C2C2C;
  }
  
  .News-Main .Card .Card-Image {
    width: 100%;
    height: 250px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(170, 170, 170, 0.15);
    background-size: 100% !important;
  }
  
  .News-Main .Tags {
    padding: 0px 20px;
  }
  
  .News-Main .Tags a {
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
  }
  
  .News-Main .Card p {
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    padding: 0px 20px;
  }
  
  .News-Main .Card > a {
    transition: color 0.5s;
    font-weight: 500;
    font-size: 18px;
    color: #1e1e1e;
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #FFF;
    width: 237px;
    height: 53px;
    margin: 0px 20px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .News-Main .Card > a:hover {
    background: url("../img/NewsButtonBack.png");
    color: #fff;
    background-size: 103% 110%;
    background-position: -2px -2px;
  }
  
  .Swiper-Control {
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 50px;
    width: calc((100vw + 1263px) / 2)
  }
  
  .Swiper-Control > button {
    width: 66px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #2C2C2C;  
  }
  
  .Swiper-Control > button:hover {
    opacity: 0.8;
  }
  
  
  @media (max-width: 1439px) {
    .News-Header {
      width: 980px;
    }
    .Swiper-Control {
      width: calc((100vw + 980px) / 2)
    }
    .News-Header p {
      width: 401px;
      font-size: 19px;
    }
    .NewsSection .swiper-wrapper {
      padding-left: calc((100vw - 993px) / 2);
    }
    .NewsSection .swiperN {
      width: 1440px;
    }
  
  }
  
  @media (max-width: 979px) {
    .NewsSection {
      padding: 60px 0px 75px 0px;
      border-radius: 10px 10px 0px 0px;
      border: 1px solid #353535;
    }
  
    .News-Header {
      width: 600px;
    }
  
    .News-Main .Swiper-Control {
      margin-left: calc((100vw - 600px) / 2);
      margin-top: 25px;
      width: 600px;
      display: flex;
      justify-content: space-between;
    }
  
    .NewsSection .swiper-wrapper {
      padding-left: calc((100vw - 600px) / 2);
    }
  
    .NewsSection .swiperN {
      width: 980px;
    }
    
    .News-Main .Card .Card-Image {
      height: 170px;
    }
  
    .News-Header {
      margin-bottom: 25px !important;
    }
  
    .News-Header p {
      display: none;
    }
  
    .News-Main .Card {
      width: 300px;
      height: 423px;
    }
  
    .News-Main .Tags a {
      font-size: 12px;
    }
  
    .News-Main .Card p {
      font-size: 16px;
    }
  
  
    .News-Main .Card > a {
      width: 220px;
      height: 51px;
      font-size: 16px;
    }
  
    .NewsSection .swiperN {
      overflow: visible;
    }
  
    .NewsSection .swiper-wrapper {
      margin-left: 0px;
    }
  
  }
  
  @media (max-width: 659px) {
    .News-Header {
      width: 320px;
    }
  
    .News-Main .Swiper-Control {
      margin-left: calc((100vw - 320px) / 2);
      width: 320px;
    }
  
    .NewsSection .swiper-wrapper {
      padding-left: calc((100vw - 320px) / 2);
    }
  
    .NewsSection .swiperN {
      width: 660px;
    }
  } */