/* ОБЩИЕ */
body{
  background: #212121;
}


.Services-Content .Card:hover, .Categories-Content .Card:hover, .Advantages-Content .Card:hover{
  background: #113058;
  box-shadow: 0px 0px 6px 2px #0485FE;
}



/* Главная секция*/
.MainSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:91px;
  padding: 130px 0px 91px 0px;
  background: #181818 url("../../img/opt/MainBack.jpg") center;
  background-size: 1920px 100%;
  margin-top: -4px;
}

.MainSection > div{
  width: 1280px;
}

.MainSection-Header{
  display: flex;
  gap:10px;
  align-items: start;
}

h1{
  color: #FFF;
  font-size: 72px;
  font-weight: 500;
  line-height: 111%; 
  letter-spacing: -0.72px;
  text-transform: uppercase;
  width: 626px;
  flex-shrink: 0;
}

.MainSection-Header p{
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.25px;
}

.MainSection-Content{
  display: flex;
  align-items: end;
  gap:365px;
}

.MainSection-Content a{
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  flex-shrink: 0;
  transition: 0.5s ease;
  border-radius: 5px;
  border: 1px solid rgba(170, 170, 170, 0.15);
  background: #112A4D;
  box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
  width: 272px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.MainSection-Content a:hover{
  background: #fff;
  color:#000;
}

.MainSection-Content > div{
  display: grid;
  grid-template-columns: 1fr;
  gap:40px;
}

.MainSection .Info{
  display: flex;
  align-items: center;
  gap:20px;
}

.MainSection .Info::before {
  content: "";
  height: 72px;
  width: 3px;
  background: #0485FE;
  display: block;
  flex-shrink: 0;
  margin-bottom: 14px;
}

.MainSection .Info h3 {
  color: #fff;
  font-size: 64px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.MainSection .Info p {
  color: rgba(255, 255, 255, 0.50);
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
}

.p_mobile{
  display: none;
}


@media (max-width: 1439px){
  .MainSection > div{
      width: 920px;
  }

  h1{
      width: 446px;
      font-size: 58px;
  }


  .MainSection-Header p{
      font-size: 20px;
  }

  .MainSection-Content{
      gap: 185px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .MainSection{
      background: url('../../img/mainBackMobile.jpg') center;
      background-size: 100% 100%;
      padding: 0px;
      gap: 20px;
      height: 100%;
      justify-content: center;
      margin-bottom: 15px;
  }

  h1{
      font-size: 32px;
      width: auto;
  }

  .MainSection > div{
      width: 600px;
  }

  .MainSection-Header{
      flex-direction: column;
  }

  .MainSection-Header p{
      font-size: 16px;
      gap:30px;
  }

  .MainSection-Content{
      flex-direction: column-reverse;
      gap: 20px;
  }

  .MainSection-Content a{
      width: 100%;
      height: 55px;
      font-size: 16px;
  }

  .MainSection .Info h3{
      font-size: 32px;
      margin-bottom: 5px;
  }

  .MainSection .Info p{
      font-size: 14px;
  }

  .MainSection-Content > div{
      gap: 20px;
      width: 100%;
  }

  .MainSection .Info{
      gap: 10px;
  }

  .MainSection-Header p:nth-child(2){
    display: none;
  }

  .MainSection-Header p:last-child{
    display: block;
  }

  .MainSection .Info:last-child{
      display: none;
  }
}

@media (max-width: 659px) {
  /*320*/
  .MainSection > div{
      width: 320px;
  }
}



 /*Наши услуги*/
 .ServicesSection{
  background: #181818;
  padding: 90px 0px 105px 0px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3535354D;
  position: relative;
  margin-top: -15px;
}

.ServicesSection > *{
  width: 1280px;
  margin: auto;
}

.Services-Header{
  display: flex;
  justify-content: space-between;
}


.Services-Header p{
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.25px;
  color:#fff;
  font-weight: 300;
}

.Services-Content{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.Services-Content .Card{
  transition: 0.5s ease;
  display: flex;
  gap:20px;
  align-items: center;
  border-radius: 10px;
  background: #2C2C2C;
  backdrop-filter: blur(10px);
  padding: 20px;
}

.Services-Content .Card img{
  width: 30px;
}


.Services-Content .Card h3{
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color:#fff;
}

@media (max-width: 1439px){
  /*920*/
  .ServicesSection > *{
    width: 920px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .ServicesSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .ServicesSection > *{
    width: 600px;
  }

  .Services-Header{
    flex-direction: column;
    gap:25px;
  }

  .Services-Content {
    grid-template-columns: 1fr;
    margin-top: 25px;
  }

  .Services-Content .Card h3, .Services-Header p{
    font-size: 16px;
  }
}

@media (max-width: 659px) {
  /*320*/
  .ServicesSection > *{
    width: 320px;
  }
}





/*Наши преимущества*/
.AdvantagesSection{
  background: #171717 url("../../img/opt/AdvantagesBack.png") center;
  background-size: 1920px 100%;
  padding: 90px 0px 105px 0px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3535354D;
  position: relative;
  margin-top: -15px;
}

.AdvantagesSection > div{
  width: 1280px;
  margin: auto;
}

.Advantages-Header .wrap{
  margin: 50px 0px;
}

.Advantages-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}

.Advantages-Content .Card{
  transition: 0.5s ease;
  border: 1px solid #FFFFFF60;
  backdrop-filter: blur(10px);
  background: #181818;
  padding: 20px;
  display: flex;
  gap:20px;
  align-items: center;
  border-radius: 10px;

}

.Advantages-Content .Card p{
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
}


.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 20px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 20px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  width: 426px;
  height: 256px;
}

.item img{
  width: 100%;
  height: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media (max-width: 1439px){
  /*920*/
  .AdvantagesSection > div{
      width: 920px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .AdvantagesSection{
      border: 1px solid #353535;
      padding: 60px 0px 75px 0px;
      border-radius: 10px 10px 0px 0px;
  }

  .Advantages-Header .wrap{
      margin: 25px 0px;
  }

  .AdvantagesSection > div{
      width: 600px;
  }

  .Advantages-Content{ 
      grid-template-columns: 1fr;
  }

  .item{
      width: 268px;
      height: 162px;
  }

  .items{
      gap: 13px;
  }

  .items-wrap{
      gap: 13px;
  }

  .Advantages-Content .Card p{
    font-size: 16px;
  }

  .Advantages-Content .Card:nth-child(4){
    display: none;
  }
}

@media (max-width: 659px) {
  /*320*/
  .AdvantagesSection > div{
      width: 320px;
  }
}




/*Категории*/
.CategoriesSection{
  background: #181818;
  padding: 90px 0px 105px 0px;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid #3535354D;
  position: relative;
  margin-top: -15px;
}

.CategoriesSection > div{
  width: 1280px;
  margin: auto;
}

.Categories-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  margin-top: 50px;
}

.Categories-Content .Card{
  transition: 0.5s ease;
  display: flex;
  gap:20px;
  padding: 20px;
  align-items: center;
  background: #2C2C2C;
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.Categories-Content .Card img{
  width: 30px;
}

.Categories-Content .Card span{
  color: #fff;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}




@media (max-width: 1439px){
  /*920*/
  .CategoriesSection > div{
    width: 920px;
  }

}

@media (max-width: 979px) {
  /*600*/
  .CategoriesSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .CategoriesSection > div{
    width: 600px;
  }

  .Categories-Content {
    grid-template-columns: 1fr;
    margin-top: 25px;
  }

  .Categories-Content .Card span{
    font-size: 16px;
  }
  
  .Categories-Content .Card:nth-child(3), .Categories-Content .Card:nth-child(5), .Categories-Content .Card:nth-child(7), .Categories-Content .Card:nth-child(8){
    display: none;
  }
}

@media (max-width: 659px) {
  /*320*/
  .CategoriesSection > div{
    width: 320px;
  }
}








/*Наши клиенты*/
.ClientsSection{
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(53, 53, 53, 0.30);
  background: #181818;
  padding: 90px 0px 105px 0px;
  margin-top: -15px;
  position: relative;
}

.ClientsSection > *{
  width: 1280px;
  margin: auto;
}

.Clients-Content{
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 104px;
  gap:20px;
}

.Clients-Content .Card{
  border-radius: 10px;
  border: 1px solid #ffffff60;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Clients-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .ClientsSection > *{
      width: 920px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .ClientsSection{
      border-radius: 10px 10px 0px 0px;
      border: 1px solid #353535;
      padding: 60px 0px 75px 0px;
  }

  .ClientsSection > *{
      width: 600px;
  }

  .Clients-Content{
      display: none;
  }

  .Clients-Content_mobile{
      display: flex;
      flex-direction: column;
      gap:13px;
      margin-top: 25px;
      width: 100% !important;
  }

  .Clients-Content_mobile .Card{
      border-radius: 10px;
      border: 1px solid #ffffff60;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 155px;
      height: 67px;
  }

  .ClientsSection .item{
      width: auto;
      height: auto;
  }

  .ClientsSection .item img{
      width: 75px;
      height: auto;
  }
}

@media (max-width: 659px) {
  /*320*/
  .ClientsSection > *{
      width: 320px;
  }

}