/* ОБЩИЕ */
body{
    background: #212121;
}

.Advantages-Content .Card:hover, .Services-Content .Card:hover, .Kinds-Content .Card:hover{
    background: #113058;
    box-shadow: 0px 0px 6px 2px #0485FE;
}



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0px 91px 0px;
    background: #181818 url("../../img/pay_agent/MainBack.jpg") center;
    background-size: 1920px 100%;
    margin-top: -4px;
    gap: 180px;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:10px;
    align-items: start;
}

h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 517px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.25px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:254px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
    transition: 0.5s ease;
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #112A4D;
    box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
    width: 272px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainSection-Content a:hover{
    background: #fff;
    color:#000;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1fr;
    gap:40px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:20px;
}

.MainSection .Info::before {
    content: "";
    height: 72px;
    width: 3px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
    margin-bottom: 14px;
}

.MainSection .Info h3 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.MainSection .Info p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 1439px){
    .MainSection{
        gap: 94px;
    }

    .MainSection > div{
        width: 920px;
    }

    h1{
        width: 475px;
    }

    .MainSection-Header p{
        font-size: 20px;
    }

    .MainSection-Content{
        gap: 213px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .MainSection{
        background: url('../../img/mainBackMobile.jpg') center;
        background-size: 100% 100%;
        padding: 0px;
        gap: 20px;
        height: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }

    h1{
        font-size: 48px;
        width: auto;
    }

    .MainSection > div{
        width: 600px;
    }

    .MainSection-Header{
        flex-direction: column;
    }

    .MainSection-Header p{
        font-size: 16px;
        gap:30px;
    }

    .MainSection-Content{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .MainSection-Content a{
        width: 100%;
        height: 55px;
        font-size: 16px;
    }

    .MainSection .Info h3{
        font-size: 32px;
        margin-bottom: 5px;
    }

    .MainSection .Info p{
        font-size: 14px;
    }

    .MainSection-Content > div{
        gap: 20px;
        width: 100%;
    }

    .MainSection .Info{
        gap: 10px;
    }

    .p_mobile{
        display: block;
    }

    .p_desktop{
        display: none;
    }
  }

  @media (max-width: 659px) {
    /*320*/
    .MainSection > div{
        width: 320px;
    }
  }




 /*Что такое платежный агент*/
 .AboutSection{
    padding: 90px 0px 105px 0px;
    background: #171717;
    border: 1px solid #3535354D;
    margin-top: -15px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
}

.AboutSection > div{
    width: 1280px;
    margin: auto;
}


.About-Content{
    display: flex;
    gap:95px;
    margin-top: 50px;
}


.About-Left{
    width: 555px;
    border: 1px solid #747474;
    border-radius: 10px;
    overflow: hidden;
    flex-shrink: 0;
}

.About-Left img{
    width: 100%;
    height: 100%;
}



.About-Right p{
    font-weight: 300;
    font-size: 24px;
    line-height: normal;
    letter-spacing: -0.25px;
    color: #fff;
}

.About-Right p:nth-child(2){
    margin: 40px 0px 20px 0px;
}

.About-Right a{
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    vertical-align: middle;
    background: #112A4D;
    box-shadow: 0px 0px 50.5px 0px #006AFF26;
    border: 1px solid #AAAAAA26;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 61px;
    color:#fff;
    border-radius: 5px;
    transition: 0.5s ease;
}

.About-Right a:hover{
    background: #fff;
    color: #000;
}


@media (max-width: 1439px){
    /*920*/
    .AboutSection > div{
        width: 920px;
    }


    .About-Right p{
        font-size: 18px;
    }

    .About-Content{
        gap: 10px;
    }

    .About-Right p:nth-child(2){
        margin: 20px 0px;
    }
  }
  
  @media (max-width: 979px) {
    /*600*/
    .AboutSection{
        border-radius: 10px 10px 0px 0px;
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
    }

    .AboutSection > div{
        width: 600px;
    }

    .About-Content{
        flex-direction: column;
        gap:25px;
        margin-top: 25px;
    }

    .About-Right p:nth-child(2){
        margin: 25px 0px;
    }

    .About-Left{
        width: 100%;
        height: 390px;
    }

    .About-Right a{
        font-size: 16px;
        height: 55px;
    }

    .AboutSection h2{
        width: 300px;
    }
  }
  
  @media (max-width: 659px) {
    /*320*/
    .AboutSection > div{
        width: 320px;
    }

    .About-Left{
        height: 208px;
    }
  }




/*Кому подойдут услуги секция*/
.ServicesSection{
    background: #181818 url("../../img/pay_agent/ServicesBack.png") center;
    background-size: 1920px 100%;
    padding: 90px 0px 105px 0px;
    margin-top: -15px;
    border: 1px solid #3535354D;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

.ServicesSection > *{
    width: 1280px;
    margin: auto;
}

.Services-Content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.Services-Content .Card{
    transition: 0.5s ease;
    display: flex;
    gap:20px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    background: #171717;
    border: 1px solid #FFFFFF60;
    backdrop-filter: blur(10px);
}

.Services-Content .Card img{
    width: 30px;
}


.Services-Content .Card h3{
    color:#fff;
    font-weight: 300;
    font-size: 24px;
    line-height: 111%;
}

@media (max-width: 1439px){
    /*920*/
    .ServicesSection > *{
        width: 920px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .ServicesSection{
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .ServicesSection > *{
        width: 600px;
    }

    .Services-Content{
        grid-template-columns: 1fr;
        margin-top: 25px;
    }

    .Services-Content .Card h3{
        font-size: 16px;
    }

    .Services-Header h2{
        width: 300px;
    }
  }

  @media (max-width: 659px) {
    /*320*/
    .ServicesSection > *{
        width: 320px;
    }
  }





/*Виды переводов*/
.KindsSection{
    padding: 90px 0px 105px 0px;
    margin-top: -15px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #171717;
}

.KindsSection > div{
    width: 1280px;
    margin: auto;
}



.Kinds-Header .wrap{
    margin: 50px 0px;
}


.Kinds-Content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.Kinds-Content .Card{
    transition: 0.5s ease;
    border-radius: 10px;
    background: #2C2C2C;
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    gap:20px;
    align-items: center;
}

.Kinds-Content p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
}


  
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
  }
  
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    height: 256px;
    width: 423px;
  }

  .item img{
    height: 100%;
    width: 100%;
  }
  
  .marquee {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  @media (max-width: 1439px){
    /*920*/
    .KindsSection > div{
        width: 920px;
    }
  }

  @media (max-width: 979px) {
    /*600*/
    .KindsSection{
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .Kinds-Header .wrap{
        margin: 25px 0px;
    }

    .KindsSection > div{
        width: 600px;
    }

    .Kinds-Content{
        grid-template-columns: 1fr;
    }

    .item{
        width: 268px;
        height: 162px;
    }

    .items{
        gap: 13px;
    }

    .items-wrap{
        gap: 13px;
    }

    .Kinds-Content p{
        font-size: 16px;
    }

    .Kinds-Content .Card:nth-child(3), .Kinds-Content .Card:nth-child(6){
        display: none;
    }

  }

  @media (max-width: 659px) {
    /*320*/
    .KindsSection > div{
        width: 320px;
    }
  }




/*Наши преимущества секция*/
.AdvantagesSection{
    background: #181818 url("../../img/pay_agent/AdvantagesBack.png") center;
    background-size: 1920px 100%;
    padding: 90px 0px 105px 0px;
    margin-top: -15px;
    border: 1px solid #3535354D;
    border-radius: 20px 20px 0px 0px;
    position: relative;
}

.AdvantagesSection > *{
    width: 1280px;
    margin: auto;
}

.Advantages-Content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}

.Advantages-Content .Card{
    transition: 0.5s ease;
    display: flex;
    gap:20px;
    padding: 20px;
    align-items: center;
    border-radius: 10px;
    background: #171717;
    border: 1px solid #FFFFFF60;
    backdrop-filter: blur(10px);
}

.Advantages-Content .Card img{
    width: 30px;
}


.Advantages-Content .Card h3{
    color:#fff;
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
}

@media (max-width: 1439px){
    /*920*/
    .AdvantagesSection > *{
        width: 920px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .AdvantagesSection{
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .AdvantagesSection > *{
        width: 600px;
    }

    .Advantages-Content {
        grid-template-columns: 1fr;
        margin-top: 25px;
        grid-auto-rows: 75px;
    }

    .Advantages-Content .Card h3{
        font-size: 16px;
    }

    .Advantages-Content .Card:nth-child(6){
        display: none;
    }
  }

  @media (max-width: 659px) {
    /*320*/

    .AdvantagesSection > *{
        width: 320px;
    }
  }


