/* ОБЩИЕ */
body{
    background: #212121;
}

.Services-Content .Card:hover, .AboutServices-Content .Card:hover, .Advantages-Content .Card:hover{
    background: #113058;
    box-shadow: 0px 0px 6px 2px #0485FE;
}



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 130px 0px 105px 0px;
    background: #181818 url("../../img/vad/MainBack.jpg") center;
    background-size: 1920px 100%;
    margin-top: -4px;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:10px;
    align-items: start;
}

h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 517px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.25px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:254px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
    transition: 0.5s ease;
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #112A4D;
    box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
    width: 272px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainSection-Content a:hover{
    background: #fff;
    color:#000;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1fr;
    gap:40px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:20px;
}

.MainSection .Info::before {
    content: "";
    height: 72px;
    width: 3px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}

.MainSection .Info h3 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.MainSection .Info p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}

.p_mobile{
    display: none;
}

@media (max-width: 1439px){
    .MainSection > div{
        width: 920px;
    }

    h1{
        width: 446px;
    }

    .MainSection-Header p{
        font-size: 20px;
    }

    .MainSection-Content{
        gap: 185px;
    }

    .MainSection .Info h3 {
        font-size: 38px;
    }
    
    
}

@media (max-width: 979px) {
    /*600*/
    .MainSection{
        /* padding: 60px 0px 75px 0px;
        gap:50px; */
        padding: 0px;
        gap: 20px;
        height: 100%;
        justify-content: center;
        margin-bottom: 15px;
    }

    h1{
        font-size: 48px;
        width: auto;
    }

    .MainSection > div{
        width: 600px;
    }

    .MainSection-Header{
        flex-direction: column;
    }

    .MainSection-Header p{
        font-size: 16px;
        gap:30px;
    }

    .MainSection-Content{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .MainSection-Content a{
        width: 100%;
        height: 55px;
        font-size: 16px;
    }

    .MainSection .Info h3{
        font-size: 32px;
        margin-bottom: 5px;
    }

    .MainSection .Info p{
        font-size: 14px;
    }

    .MainSection-Content > div{
        gap: 20px;
        width: 100%;
    }

    .MainSection .Info{
        gap: 10px;
    }

    .p_mobile{
        display: block;
    }

    .p_desktop{
        display: none;
    }

    .MainSection .Info:last-child{
        display: none;
    }
  }

  @media (max-width: 659px) {
    /*320*/
    .MainSection > div{
        width: 320px;
    }
  }




/*Услуги секция*/
.ServicesSection{
    padding: 90px 0px 105px 0px;
    margin-top: -15px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #171717;
}

.ServicesSection > div{
    width: 1280px;
    margin: auto;
}



.Services-Header .wrap{
    margin: 50px 0px;
}


.Services-Content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}


.Services-Content .Card{
    transition: 0.5s ease;
    border-radius: 10px;
    background: #2C2C2C;
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    gap:20px;
    align-items: center;
}

.Services-Content p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
}


  
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 20px;
  }
  
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 20px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    height: 256px;
    width: 423px;
  }

  .item img{
    height: 100%;
    width: 100%;
  }
  
  .marquee {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  @media (max-width: 1439px){
    /*920*/
    .ServicesSection > div{
        width: 920px;
    }
  }

  @media (max-width: 979px) {
    /*600*/
    .ServicesSection{
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .Services-Header .wrap{
        margin: 25px 0px;
    }

    .ServicesSection > div{
        width: 600px;
    }

    .Services-Content{
        grid-template-columns: 1fr;
    }

    .item{
        width: 268px;
        height: 162px;
    }

    .items{
        gap: 13px;
    }

    .items-wrap{
        gap: 13px;
    }

    .Services-Content p{
        font-size: 16px;
    }

  }

  @media (max-width: 659px) {
    /*320*/
    .ServicesSection > div{
        width: 320px;
    }
  }





/*Кому подойдут услуги секция*/
.AboutServicesSection{
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #181818 url("../../img/vad/AboutServicesBack.png") center;
    background-size: 1920px 100%;
    padding: 90px 0px 105px 0px;
    position: relative;
    margin-top: -15px;
}

.AboutServicesSection > *{
    width: 1280px;
    margin: auto;
}

.AboutServices-Content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.AboutServices-Content .Card{
    transition: 0.5s ease;
    display: flex;
    gap:20px;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background: #171717;
    border: 1px solid #FFFFFF60;
    backdrop-filter: blur(10px)
}

.AboutServices-Content .Card img{
    width: 30px;
}

.AboutServices-Content .Card h3{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1439px){
    /*920*/
    .AboutServicesSection > *{
        width: 920px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .AboutServicesSection{
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .AboutServicesSection > *{
        width: 600px;
    }

    .AboutServices-Content{
        grid-template-columns: 1fr;
        margin-top: 25px;
    }

    .AboutServices-Content .Card h3{
        font-size: 16px;
    }

    .AboutServices-Header h2{
        width: 300px;
    }
  }

  @media (max-width: 659px) {
    /*320*/
    .AboutServicesSection > *{
        width: 320px;
    }
  }








/*Преимущества секция*/
.AdvantagesSection{
    border-radius: 20px 20px 0px 0px;
    border: 1px solid #3535354D;
    background: #171717;
    padding: 90px 0px 105px 0px;
    position: relative;
    margin-top: -15px;
}

.AdvantagesSection > div{
    width: 1280px;
    margin: auto;
}

.Advantages-Body{
    display: flex;
    gap:95px;
    margin-top: 50px !important;
}

.Advantages-Content{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 630px;
    flex-shrink: 0;
}

.Advantages-Content p{
    font-weight: 300;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #fff;
}

.Advantages-Content .Card{
    transition: 0.5s ease;
    border-radius: 10px;
    background: #2C2C2C;
    backdrop-filter: blur(5px);
    padding: 20px;
    display: flex;
    gap:20px;
    align-items: center;
}


.Advantages-Img{
    width: 100%;
    border: 1px solid #747474;
    border-radius: 10px;
    overflow: hidden;
}

.Advantages-Img img{
    width: 100%;
    height: 100%;
}

.img_mobile{
    display: none;
}
  


@media (max-width: 1439px){
    /*920*/
    .AdvantagesSection > div{
        width: 920px;
    }
    .Advantages-Content {
        width: 400px;
    }

    .Advantages-Body{
        gap: 0px;
        justify-content: space-between;
    }

    .Advantages-Img{
        width: 492px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .AdvantagesSection{
        border-radius: 10px 10px 0px 0px;
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
        margin-top: -15px;
    }

    .AdvantagesSection > div{
        width: 600px;
    }

    .Advantages-Content {
        width:100%;
    }

    .Advantages-Img{
        width: 100%;
        height: 490px;
    }

    .Advantages-Body{
        flex-direction: column;
        gap: 25px;
        margin-top: 25px !important;
    }

    .Advantages-Content .Card h3{
        font-size: 16px;
    }

    .Advantages-Content .Card p{
        font-size: 14px;
    }
  }

  @media (max-width: 659px) {
    /*320*/
    .AdvantagesSection > div{
        width: 320px;
    }

    .Advantages-Img{
        height: 261px;
    }
  }



