/* ОБЩИЕ */
body{
  background: url("../../img/backMainMob.jpg");
  background-size: 100% 100%;
}

@media (min-width: 980px) {
  body{
    background: url("../../img/backMain.jpg");
    background-size: 100% 100%;
  }
}

/* .Advantages-Content .Card:hover, .About-Content .Info > div:hover, .Why-Content .Card:hover, .Services-Right .Card:hover, .Packs-Content .Card:hover, .Packs-Content_mobile .swiper-slide-active .Card{
  background: #113058;
  box-shadow: 0px 0px 6px 2px #0485FE;
} */



/* Главная секция*/
  .MainSection{
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    padding: 170px 0px 250px 0px;
    position: relative;
  }

  .MainSection .Background{
    background: url('../../img/mining/MainBack.jpg');
    mix-blend-mode: overlay;
    position: absolute;
    width: 100%;
    height: 920px;
    top: -120px;
    z-index: -1;
  }

  h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.72px;
  }

  .MainSection > P{
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.25px;
    width: 935px;
  }

    .MainSection a{
    background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 8px;
    width: 486px;
    height: 62px;
    font-size: 24px;
    margin: auto;
    transition: 0.3s ease;
  }

    .MainSection a:hover{
    box-shadow: 0px -2px 14.6px 0px rgba(255, 255, 255, 0.60);
  }

  .MainSection .Main-Content{
    display: grid;
    width: 678px;
    grid-template-columns: 1fr 1fr 0.6fr;
    margin-top: 30px;
  }

.Main-El{
  display: flex;
  align-items: start;
  gap: 14px;
}

  .Main-El h3{
    color: #FFF;
font-size: 46.217px;
font-weight: 700;
line-height: 78.5%;
margin-bottom: 7px;
  }

  .Main-El p{
color: rgba(255, 255, 255, 0.80);
font-size: 12.999px;
font-weight: 400;
  }

  .Main-El::before{
    content:"";
    display: block;
    border-radius: 43px;
    background: #0485FE;
    width: 2px;
    height: 50px;
  }




/*Почему майнинг выгоден*/

.AboutSection{
  width: 1790px;
  margin: auto;
  border-radius: 20px;
background: #C2C4C5;
padding: 80px 150px;
}

.AboutSection h2{
  color: #000;
}



.About-Content .wrap{
  margin: 30px 0px;
}

.About-Content .Info{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 122px;
  gap:20px;
}

.About-Content .Info > div{
  transition: 0.5s ease;
  border-radius: 10px;
  background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
  backdrop-filter: blur(5px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:12px;
  justify-content: center;
}

.About-Content h3{
  color: #FFF;
  font-size: 37px;
  font-weight: 500;
}

.About-Content p{
  color: rgba(255, 255, 255, 0.60);
  font-size: 21px;
  font-weight: 400;
}



.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 25px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 25px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
width: 480px;
height: 300px;
}

.item img{
  height: 100%;
  width: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  @media (max-width: 1439px){
    /*920*/
    .AboutSection > *{
        width: 920px;
    }
  }

  @media (max-width: 979px) {
    /*600*/
    .AboutSection{
        border: 1px solid #353535;
        padding: 60px 0px 75px 0px;
        border-radius: 10px 10px 0px 0px;
    }

    .About-Content .wrap{
        margin: 25px 0px;
    }

    .AboutSection > *{
        width: 600px;
    }

    .About-Content .Info{ 
        grid-template-columns: 1fr;
    }

    .item{
        width: 268px;
        height: 162px;
    }

    .items{
        gap: 13px;
    }

    .items-wrap{
        gap: 13px;
    }

    .About-Content p{
        font-size: 16px;
    }

    .About-Content h3{
      font-size: 20px;
    }
  }

  @media (max-width: 659px) {
    /*320*/
    .AboutSection > *{
        width: 320px;
    }
  }






  /*Майнинг или банк*/
  .VsSection{
    padding: 80px 0px;
  }

  .VsSection > div{
    width: 1490px;
    margin: auto;
  }

  .VsSection .Vs-Header{
    margin-bottom: -100px;
  }

  .Vs-Header h2{
    color: #ffffff80;
  }

  .Vs-Header h2 span{
    color: #04FE9A;
  }

  .Vs-Header p{
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 111%;
    text-transform: uppercase;
    color:#0485FE;
  }


  .Vs-Content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px !important;
  }

  .Vs-Content .Card:first-child{
    background: #171717;
    width: 548px;
    height: 394px;
    padding: 20px;
    border-radius: 11px;
    position: relative;
    display: flex;
    flex-direction: column;
  }


  .Vs-Content .Card:first-child .Card-Header h3{
 color: #FFF;
font-size: 37px;
font-weight: 500;
  width: 258px;
  }

  .Vs-Content .Card:first-child .Card-Header > div > div{
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    width: 178px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin: 15px 0px;
  }

  .Vs-Content .Card:first-child .Card-Header > div > div span{
    color: rgba(255, 255, 255, 0.60);
    font-weight: 500;
    font-size: 24px;
    line-height: 111%;
    text-transform: uppercase;
  }

  .Vs-Content .Card:first-child .Card-Header p{
    color: #FFF;
font-size: 21px;
font-weight: 400;
  }



  .Vs-Content .Card:first-child .Card-Content {
    position: absolute;
    background: url(../../img/mining/Vs1.svg);
    width: 270px;
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 76px;
    right: 20px;
}

  .Vs-Content .Card:first-child .Card-Content span{
    color: #787878;
    text-align: center;
    font-size: 27.713px;
    font-weight: 500;
    line-height: 124.081%;
    text-transform: uppercase;
  }

  .Vs-Content .Card:first-child .Card-Footer p{
   color: rgba(255, 255, 255, 0.70);
  font-family: 'Mulish';
  font-size: 21px;
  font-weight: 400;
  }

  .Vs-Content .Card:first-child .Card-Footer p span{
   color: #fff;
  font-family: 'Mulish';
  font-size: 21px;
  font-weight: 400;
  }

  .Vs-Content .Card:first-child .Card-Footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap:15px;
  }


  


  .Vs-Content .Card:last-child{
    background: #171717;
    width: 882px;
    height: 634px;
    border-radius: 18px;
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column;
  }


  .Vs-Content .Card:last-child .Card-Header h3{
   color: #FFF;
  font-size: 55px;
  font-weight: 500;
  width: 370px;
  }

  .Vs-Content .Card:last-child .Card-Header-Content > div{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(88deg, #1C67AC -47.59%, #41CCFF 13.37%, #41FFEF 85.61%);
   width: 257px;
    height: 73px;
      border-radius: 100px;
      padding: 2px;
    margin: 27px 0px;
    }

  .Vs-Content .Card:last-child .Card-Header-Content > div > div{
    border-radius: 100px;
    background: #161f27;
    width: 253px;
    height: 69px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 24px;
  }



  .Vs-Content .Card:last-child .Card-Header-Content > div > div span{
    color: #fff;
font-size: 37px;
font-weight: 500;
line-height:  177.844%;
opacity: 0.77;
  }

   .Vs-Content .Card:last-child .Card-Header-Content > div > div img{
    opacity: 0.77;
   }

  

  .Vs-Content .Card:last-child .Card-Header p{
    color: rgba(255, 255, 255, 0.70);
font-size: 28px;

font-weight: 400;

  }

  .Vs-Content .Card:last-child .Card-Header p span{
  color: #FFF;
font-size: 28px;
font-weight: 400;
  }

  .Vs-Content .Card:last-child .Card-Content{
    position: absolute;
    background: url("../../img/mining/Vs2.svg");
    width: 525px;
    height: 543px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    right: 0px;
  }

  .Vs-Content .Card:last-child .Card-Content span{
   color: #FFF;
text-align: center;
font-size: 24px;
font-weight: 500;
line-height: 137.5%;
text-transform: uppercase;
padding-right: 15px;
padding-bottom: 15px;
  }

  .Vs-Content .Card:last-child .Card-Footer p{
    color: rgba(255, 255, 255, 0.70);
font-family: 'Mulish';
font-size: 28px;
font-weight: 400;
  }
  
  .Vs-Content .Card:last-child .Card-Footer p span{
      color: #fff;
font-family: 'Mulish';
font-size: 28px;
font-weight: 400;
  }



  .Vs-Content .Card:last-child .Card-Footer{
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 27px;
  }

  .Vs-Footer{
    background: #171717;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px !important;
  }

  .Vs-Footer p{
   color: #FFF;
font-size: 24px;
font-weight: 400;
width: 520px;
  }

  .Vs-Footer span{
  color: #0485FE;
font-size: 43px;
font-weight: 500;
  }

.Vs-Footer .p_mobile{
  display: none;
}



  
  @media (max-width: 1439px) {
    .VsSection > div{
      width: 920px;
    }
    .Vs-Content .Card:first-child {
      width: 400px;
    }

    .Vs-Content .Card:last-child {
      width: 500px;
    }

    .Vs-Content .Card:first-child .Card-Content {
      width: 180px;
      height: 180px;
      background-size: 100% 100%;
      top: 76px;
    right: 9px;
  }

  .Vs-Content .Card:first-child .Card-Content span, .Vs-Content .Card:last-child .Card-Content span {
    font-size: 22px;
  }


  .Vs-Content .Card:last-child .Card-Content {
    width: 220px;
    height: 220px;
    background-size: 100% 100%;
    top: 166;
    right: 9px;
  }

  .Vs-Footer span{
    font-size: 64px;
  }

  .Vs-Footer p{
      font-size: 22px;
    }
}
  
  @media (max-width: 979px) {
    .VsSection > div{
      width: 600px;
    }

    .VsSection .decor{
      display: none;
    }

    .VsSection{
      border: 1px solid #353535;
      padding: 60px 0px 75px 0px;
      border-radius: 10px 10px 0px 0px;
    }

    .Vs-Header p{
      font-size: 24px;
      margin-top: 25px;
    }

    .Vs-Content{
      flex-direction: column;
      margin-top: 25px !important;
      justify-content: unset;
      gap:25px;
    }

    .Vs-Content .Card{
      width: 100% !important;
      height: 300px !important;
      border-radius: 7px;
      padding: 13px !important;
    }

    .Vs-Content .Card:first-child .Card-Header h3{
      font-size: 21px;
    }

    .Vs-Content .Card:last-child .Card-Header h3{
      font-size: 20px;
    }

    .Vs-Content .Card:first-child .Card-Header > div > div{
      width: 101px;
      height: 27px;
      padding: 0px 10px;
      margin: 10px 0px;
    }
    .Vs-Content .Card:first-child .Card-Header > div > div img{
      width: 9px;
    }

    .Vs-Content .Card:last-child .Card-Header > div > div{
      width: 93px;
      height: 27px;
      padding: 0px 10px;
      margin: 10px 0px;
    }
    .Vs-Content .Card:last-child .Card-Header > div > div img{
      width: 11px;
    }

    .Vs-Content .Card:first-child .Card-Header > div > div span{
      font-size: 16px;
      padding-top: 2px;
    }
    .Vs-Content .Card:last-child .Card-Header > div > div span{
      font-size: 13px;
    }

    .Vs-Content .Card:first-child .Card-Header p, .Vs-Content .Card:first-child .Card-Header p span, .Vs-Content .Card:first-child .Card-Footer p, .Vs-Content .Card:first-child .Card-Footer p span{
      font-size: 12px;
    }
    .Vs-Content .Card:last-child .Card-Header p, .Vs-Content .Card:last-child .Card-Header p span, .Vs-Content .Card:last-child .Card-Footer p, .Vs-Content .Card:last-child .Card-Footer p span{
      font-size: 10px;
    }

    .Vs-Content .Card:first-child .Card-Content {
      width: 250px;
        height: 250px;
        top: 20px;
        right: 20px;
  }

  .Vs-Content .Card:last-child .Card-Content {
    width: 270px;
    height: 270px;
    top: 20px;
    right: 20px;
}

  .Vs-Content .Card:first-child .Card-Content span, .Vs-Content .Card:last-child .Card-Content span {
    font-size: 28px;
}

.Vs-Footer {
  gap: 20px;
  flex-direction: column-reverse;
  margin-top: 25px !important;
  justify-content: center;
}

.Vs-Footer span{
  font-size: 41px;
  width: auto;
}

.Vs-Footer p{
  font-size: 16px;
  width: auto;
}

.Vs-Content .Card:last-child .Card-Footer{
  gap: 10px;
}
.Vs-Content .Card:first-child .Card-Footer{
  gap: 10px;
}

  }
  
  @media (max-width: 659px) {
    .VsSection > div{
      width: 320px;
    }

    .Vs-Content .Card{
      height: 232px !important;
    }

    .Vs-Content .Card:first-child .Card-Content{
      width: 120px;
      height: 120px;
      top: 61px;
      right: 38px;
    }

    .Vs-Content .Card:last-child .Card-Content{
      width: 163px;
      height: 163px;
      bottom: 13px;
      right: 13px;
      top: auto;
    }

    .Vs-Content .Card:first-child .Card-Content span, .Vs-Content .Card:last-child .Card-Content span{
      font-size: 12px;
    }

    .Vs-Content .Card:first-child .Card-Header > div > div span {
      padding-top: 3px;
    }
    .Vs-Content .Card:last-child .Card-Header > div > div span {
      padding-top: 2px;
    }
  }



  /*Наши услуги*/
 .ServicesSection{
  border-radius: 20px;
background: #C2C4C5;
width: 1790px;
padding: 80px 150px 0px 150px;
}

.ServicesSection > div{
    display: flex;
}

.ServicesSection h2{
    margin-bottom: 50px;
    color: #000;
}

/* .Services-Left > div{
    width: auto;
    height: 492;
    overflow: hidden;
}

.Services-Left > div img{
    position: relative;
    top: 35px;
    width: 100%;
    height: 100%;
} */

.Services-Right{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 963px;
    flex-shrink: 0;
}

.Services-Right .Card{
    transition: 0.3s ease;
    width: 100%;
    height: 185px;
    border-radius: 19px;
    padding: 20px;
    background: linear-gradient(90deg, #2178C8 0%, #103B62 86.06%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.Services-Right .Card h3{
  color: #FFF;
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 10px;
}

.Services-Right .Card p{
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
}

@media (max-width: 1439px){
  .ServicesSection > div{
    width: 920px;
}

.ServicesSection > div {
  gap: 0px;
}

.Services-Right {
  width: 447px;
}

.Services-Right .Card h3 {
  font-size: 27px;
}

.Services-Right .Card p {
  font-size: 19px;
}
}

@media (max-width: 979px) {
  /*600*/
  .ServicesSection > div{
    width: 600px;
    flex-direction: column;
  }

  .ServicesSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }

  .Services-Left > div{
    display: none;
  }

  .Services-Right{
    width: 100%;
    margin-top: 25px;
  }

  .ServicesSection h2{
    margin-bottom: 0px;
}

.Services-Right .Card h3{
  font-size: 18px;
}

.Services-Right .Card p{
  font-size: 14px;
}
}

@media (max-width: 659px) {
  /*320*/
  .ServicesSection > div{
    width: 320px;
  }
}


/*Преимущества секция*/
.AdvantagesSection{
  padding: 80px 0px;
}

.AdvantagesSection > div{
  width: 1490px;
  margin: auto;
}

.Advantages-Content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
  margin-top: 40px !important;
}

.Advantages-Content .Card{
  transition: 0.5s ease;
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap:5px;
  justify-content: center;
  border-radius: 11px;
  border: 1px solid #0485FE;
}

.Advantages-Content h3{
    color: #FFF;
font-size: 32px;
font-weight: 500;
}

.Advantages-Content p{
  color: rgba(255, 255, 255, 0.60);
  font-size: 22px;
  font-weight: 400;
}


@media (max-width: 1439px){
  /*920*/
  .AdvantagesSection > div{
    width: 920px;
  }

}
@media (max-width: 979px) {
  /*600*/
  .AdvantagesSection > div{
    width: 600px;
  }
  .AdvantagesSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }
  .Advantages-Content{
    grid-template-columns: 1fr;
    margin-top: 25px !important;
  }

  .Advantages-Content h3{
    font-size: 18px;
  }

  .Advantages-Content p{
    font-size: 14px;
  }

}

@media (max-width: 659px) {
  /*320*/
  .AdvantagesSection > div{
    width: 320px;
  }
}




/*Почему нас выбирают*/
.WhySection{
  padding-bottom: 80px;
}

.WhySection > *{
    width: 1490px;
    margin: auto;
}

.Why-Content{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.Why-Content .Card{
}

.Why-Content .Card span{
  color: #00C99A;
font-size: 70px;
font-weight: 400;
margin-bottom: 10px;

}

.Why-Content .Card h3{
   color: #FFF;
font-size: 24px;
font-weight: 400;
}

@media (max-width: 1439px){
  /*920*/
  .WhySection > div{
    width: 920px;
  }

}
@media (max-width: 979px) {
  /*600*/
  .WhySection > div{
    width: 600px;
  }
  .WhySection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }
  .Why-Content{
    grid-template-columns: 1fr;
    margin-top: 25px !important;
    grid-auto-rows: 75px;
  }

  .Why-Content .Card h3{
    font-size: 16px;
  }


}

@media (max-width: 659px) {
  /*320*/
  .WhySection > div{
    width: 320px;
  }
}





/*Пакеты услуг*/
.PacksSection{
  width: 1790px;
  margin: auto;
  padding: 80px 150px;
  border-radius: 20px;
background: rgba(16, 16, 16, 0.80);
}



.Packs-Content, .Packs-Content_mobile{
  display: grid;
  gap:20px;
  margin-top: 50px;
  grid-template-columns: 1fr 1fr 1fr;
}

.Packs-Content .Card, .Packs-Content_mobile .Card{
  transition: 0.5s ease;
  background: #fff;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.Packs-Content .Card .Card-Header, .Packs-Content_mobile .Card .Card-Header{
  padding: 40px 30px;
  border-bottom: 2px solid #0485FE;
}

.Packs-Content .Card .Card-Content, .Packs-Content_mobile .Card .Card-Content{
   padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Packs-Content .Card h3, .Packs-Content_mobile .Card h3{
  color:#0485FE;
  font-weight: 500;
  font-size: 26px;
  line-height: normal;
  text-transform: uppercase;
}

.Packs-Content .Card p, .Packs-Content_mobile .Card p{
  color: #212121;
font-size: 19px;
font-weight: 400;
}

.Packs-Content .Card li, .Packs-Content_mobile .Card li{
  list-style: disc;
  color: #212121;
font-size: 19px;
font-weight: 400;
line-height:  95.879%;
margin-left: 19px;
margin-bottom: 10px;
}



.Packs-Content_mobile{
  display: none;
}



@media (max-width: 1439px){
  /*920*/
  .PacksSection > *{
    width: 920px;
  }

}

@media (max-width: 979px) {
  /*600*/
  .PacksSection{
    border: 1px solid #353535;
    padding: 60px 0px 75px 0px;
    border-radius: 10px 10px 0px 0px;
  }

  

  .Packs-Content_mobile .Card-Header{
    height: auto;
  }

  .PacksSection > *{
    width: 600px;
  }

  .Packs-Content_mobile .Card{
    width: 100%;
    backdrop-filter:none;
    height: 300px;
  }



  .Packs-Content_mobile .Card h3{
    font-size: 20px;
  }

  .Packs-Content_mobile .Card p, .Packs-Content_mobile .Card .info, .Packs-Content_mobile .Card li{
    font-size: 16px;
  }
  .Packs-Content_mobile .Card li{
    margin-left: 16px;
  }

  .Packs-Content_mobile{
    display: block;
    margin-top: 25px;
  }
  .Packs-Content{
    display: none;
  }

  .swiper{
    overflow: visible;
  }
  
  .Swiper-Control > button {
    width: 66px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: #2C2C2C;  
  }
  
  .Swiper-Control > button:hover {
    opacity: 0.8;
  }

  .Swiper-Control{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  .swiper-wrapper{
    height: auto;
  }
}

@media (max-width: 659px) {
  /*320*/
  .PacksSection > *{
    width: 320px;
  }

  .Packs-Content_mobile .Card{
    height: 446px;
  }
}
