.news__section-heading {
    color: #FFF;
    font-family: 'TT Firs Neue', sans-serif;
    font-size: 67.436px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.11;
    letter-spacing: -0.674px;
    text-transform: uppercase;
    width: 1280px;
}

.news__card-image {
    flex-shrink: 0;
    border-radius: 10px;
    z-index: 2;
    height:283px;
    width:450px;
}

.news__body {
    border-radius: 0px 10px 10px 0px;
    backdrop-filter: blur(27.6248836517334px);
    margin-left: -10px;
    z-index: 1;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #2C2C2C;
}

.news__card {
    display: flex;
}

.news__content {
    padding: 40px 20px 40px 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.news__content-heading {
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.news__content-tags {
    color: #0485FE;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.news__tags_w_heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news__content-button {
    color: #1E1E1E;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #FFF;
    width: 237px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.news__content-button:hover {
    background: rgba(4, 133, 254, 0.25);
    box-shadow: 0px 0px 3.5px 0px #FFF, 0px 0px 6.5px 0px #0485FE, 0px 0px 14.7px   0px #0485FE;
    color: #FFF;
}

.news__content-button:hover > span {
    filter: none;
}

.news__content-button span {
    filter: brightness(0) saturate(100%) invert(0%) sepia(11%) saturate(0%) hue-rotate(354deg) brightness(98%) contrast(100%);
    transition: all 0.2s ease-in-out;
}

.news__body {
    width: 100%;
}


.news__section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    padding: 130px 0px 85px 0px;
    background: url("../../../../img/news/background.png") center;
    background-size: 1920px 100%;
}

.news__inner {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1280px;
}

.news__card:nth-child(4) h2{
    width: 540px;
}

.arr_mob{
    display: none;
}

@media (max-width: 1439px) {
    .news__inner, .news__section-heading {
        width: 920px;
    }

    .news__card:nth-child(4) h2{
        width: auto;
    }

    .news__card-image {
        width:393px;
        height: 242px;
    }

    .news__content {
        width: 100%;
        padding-left: 36px;
        padding-block: 19px
    }

    .news__content-button {
        width: 432px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .news__section-heading{
        color: #0485FE;
    }
    .news__inner, .news__section-heading {
        width: 600px;
    }

    .news__card{
        flex-direction: column;
    }

    .news__card-image{
        width: 100%;
        height: 330px;
    }

    .news__body{
        margin-left: 0px;
        margin-top: -10px;
        height: 200px;
        border-radius: 0px 0px 7px 7px;
    }

    .news__tags_w_heading {
        gap: 17px;
    }
    .news__content{
        padding-right: 20px;
    }

    .news__card:first-child h2{
        font-size: 22px;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    .news__section-heading{
        font-size: 30px;
        font-weight: 600;
    }

    .news__section{
        padding-top: 30px;
        gap:15px;
    }

    .news__inner, .news__section-heading {
        width: 300px;
        gap:10px;
    }

    .news__card-image{
        height: 163px;
    }

    .news__content-heading, .news__card:first-child h2{
        font-size: 13px;
        font-weight: 300;
    }
    
    .news__content-tags{
        font-size: 10px;
        font-weight: 300;
    }

    .news__content-button {
        width: 100%;
        padding: 8px 12px;
        font-size: 12px;
    }

    .news__content{
        padding: 16px;
        gap: 13px;
    }

    .news__tags_w_heading {
        gap: 7px;
    }

    .news__body{
        height: auto;
    }

    .arr_desk{
        display: none;
    }

    .arr_mob{
        display: block;
    }
  }

