/* ОБЩИЕ */
body{
    background: #212121;
}

@media (max-width: 979px) {
    /*600*/
    h2{
        color: #0485FE;
    }
  }

  @media (max-width: 659px) {
    /*300*/
    h2{
        font-size: 23px;
        font-weight: 600;
    }
  }



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:70px;
    padding: 130px 0px 105px 0px;
    background: #181818 url("../../../img/apart_sharing/MainBack.png") center;
    background-size: 1920px 100%;
    margin-top: -4px;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:10px;
    align-items: start;
}

h1{
    color: #FFF;
    font-size: 72px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.72px;
    text-transform: uppercase;
    width: 558px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -0.25px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:295px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    flex-shrink: 0;
    transition: 0.5s ease;
    border-radius: 5px;
    border: 1px solid rgba(170, 170, 170, 0.15);
    background: #112A4D;
    box-shadow: 0px 0px 50.5px 0px rgba(0, 106, 255, 0.15);
    width: 272px;
    height: 61px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MainSection-Content a:hover{
    background: #fff;
    color:#000;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1fr;
    gap:40px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:20px;
}

.MainSection .Info::before {
    content: "";
    height: 72px;
    width: 3px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}

.MainSection .Info h3 {
    color: #fff;
    font-size: 64px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.MainSection .Info p {
    color: rgba(255, 255, 255, 0.50);
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
}

@media (max-width: 1439px){
    .MainSection > div{
        width: 920px;
    }

    h1{
        width: 329px;
        font-size: 51.58px;
    }

    .MainSection-Header p {
        font-size: 24px;
    }

    .MainSection-Content a {
        font-size: 26px;
    }

    .MainSection-Content {
        gap: 105px;
    }

    .MainSection-Content > div{
        grid-template-columns: 1.1fr 1fr;
    }

    .MainSection .Info p {
        font-size: 20px;
    }

    .MainSection .Info h3 {
        font-size: 47px;
    }

    .MainSection{
        gap:134px;
        background-size: 1440px;
    background-position: center;
    }
}

@media (max-width: 979px) {
    /*600*/
    .MainSection{
        margin-top: -13px;
        gap: 65px;
    }
    h1{
        font-size: 60px;
        color: #0485FE;
        width: auto;
    }
    h1 br{
        display: none;
    }
    .MainSection .Info h3 {
        font-size: 53px;
    }
    .MainSection > div{
        width: 600px;
    }
    .MainSection-Header {
        flex-direction: column;
    }

    .MainSection-Content{
        flex-direction: column-reverse;
        gap:16px;
    }
    .MainSection .Info:nth-child(3){
        display: none;
    }
    .MainSection .Info:first-child {
        grid-column: unset;
    }

    .MainSection-Content > div {
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }

    .MainSection .Info p {
        font-size: 17px;
    }

    .MainSection-Content a{
        width: 100%;
        text-align: center;
    }
  }

  @media (max-width: 659px) {
    /*300*/
    h1{
        font-size: 30px;
        font-weight: 600;
    }

    .p_desktop{
        display: none;
    }
    .p_mobile{
        display: block;
    }

    .MainSection{
        padding: 19px 0px 33px 0px;
        gap: 80px;
        margin-top: -3px;
    }

    
    .MainSection > div{
        width: 300px;
    }

    .MainSection-Header p {
        font-size: 11px;
        font-weight: 300;
        width: 247px;
    }

    .MainSection-Header{
        gap:12px;
    }

    .MainSection .Info h3 {
        font-size: 35px;
    }

    .MainSection .Info p {
        font-size: 11px;
    }

    .MainSection .Info::before {
        width: 2px;
    }

    .MainSection .Info {
        gap: 7px;
    }

    .MainSection-Content a {
        font-size: 12px;
        height: 37px;
        border-radius: 4px;
        border: 0.394px solid #8D8D8D;
        background: #181818;
        box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 3.466px 0px rgba(4, 133, 254, 0.75), 0px 0px 6.538px 0px #0485FE;
    }

    .MainSection-Content > div {
        grid-template-columns: 1fr 1fr;
        gap: 0px;
    }
  }





/*Наши сервисы*/
.ServicesSection{
    padding: 90px 0px 105px 0px;
    margin-top: -15px;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #141414;
}

.Services-Container{
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.Services-Header{
    display: flex;
    flex-direction: column;
    gap:50px;
    width: 473px;
}

.Services-Content{
    width: 712px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Services-Content .Card{
    padding: 20px;
    display: flex;
    gap:20px;
    align-items: center;
    border-radius: 10px;
    background: #2C2C2C;
    backdrop-filter: blur(5px);
}

.Services-Content p{
    color: #FFF;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: auto;
}


  
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 29px;
  }
  
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 29px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s ease-in-out;
    height: 265px;
  }

  .item img{
    height: 100%;
  }
  
  .marquee {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  @media (max-width: 1439px){
    /*920*/
    .ServicesSection h2{
        margin-left: calc((100vw - 920px) / 2);
    }
    
    .Services-Header{
        width: calc((100vw - 150px) / 2);
    }

    .ServicesSection {
        gap: 40px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .ServicesSection{
        flex-direction: column;
    }

    .ServicesSection h2{
        margin-left: calc((100vw - 600px) / 2);
        margin-bottom: 30px;
    }
    
    .Services-Header{
        width: 100%;
    }

    .item {
        /* width: 353px; */
        height: 223px;
    }

    .items, .items-wrap{
        gap: 15px;
    }

    .Services-Content {
        width: 600px;
        margin: auto;
    }

    .Services-Content > p{
        display: none;
    }

    .Services-Content .Border {
        display: none;
    }

    .Services-Content .Card {
        background: #30303061;
        border: 0.42px solid #0058AB;
        border-radius: 4px;
        margin-bottom: 20px;
        height: 120px;
        padding-left: 20px;
    }
  }

  @media (max-width: 659px) {
    /*300*/
    .ServicesSection{
        padding: 26px 0px 28px 0px;
        gap:18px;
    }
    .ServicesSection h2{
        margin-left: calc((100vw - 300px) / 2);
        margin-bottom: 18px;
    }

    .Services-Content {
        width: 300px;
    }
   
    .Services-Content .Card {
        margin-bottom: 8px;
        height: 47px;
        padding-left: 14px;
        gap:15px;
    }

    .item {
        height: 110px;
    }
    .items, .items-wrap {
        gap: 5px;
    }

    .Services-Content .Card > div {
        width: 31px;
    }


    .Services-Content .Card p {
        font-size: 12px;
        line-height: normal;
    }


    .Services-Content .Card:nth-child(2) img{
        width: 26px;
    }
    .Services-Content .Card:nth-child(4) img{
        width: 33px;
    }
    .Services-Content .Card:nth-child(6) img{
        width: 31px;
    }
  }




/*География*/
.GeographySection{
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #171717;
    padding-top: 90px;
    position: relative;
    margin-top: -15px;
}

.Geography-Header{
    width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.Geography-Img{
    display: flex;
    justify-content: center;
}

.Geography-Header p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
}

.GeographySection img{
    width: 1280px;
}

@media (max-width: 1439px){
    /*920*/
    .Geography-Header{
        width: 920px;
    }
    .Geography-Header p {
        font-size: 21px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .Geography-Header{
        width: 600px;
    }
    .Geography-Header{
        flex-direction: column;
    }
  }

  @media (max-width: 659px) {
    /*300*/
    .Geography-Header{
        width: 300px;
    }
    .GeographySection{
        padding-top: 29px;
    }
    .Geography-Header{
        gap:10px;
    }
    .Geography-Header p {
        font-size: 11px;
    }
  }






   /*Наши услуги*/
.OurServicesSection{
    border-radius: 20px 20px 0px 0px;
    padding: 90px 0px 105px 0px;
    position: relative;
    margin-top: -30px;
    border: 1px solid rgba(53, 53, 53, 0.30);
    background: #171717;
}

.OurServicesSection > *{
    width: 1280px;
    margin: auto;
}

.OurServices-Header{
    display: flex;
    gap:95px;
}

.OurServices-Header h2{
    width: 100%;
}

.OurServices-Body{
    margin-top: 40px;
    display: flex;
    gap:95px;
}

.OurServices-Img{
    width: 100%;
    height: 347px;
    backdrop-filter: blur(34.17096710205078px);
    border-radius: 10px;
    overflow: hidden;
}

.OurServices-Img img{
    height: 100%;
    width: 100%;
}

.OurServices-Content{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 712px;
    flex-shrink: 0;
}

.OurServices-Content .Card{
    border-radius: 10px;
    border: 1px solid #FFF;
    backdrop-filter: blur(5px);
    display: flex;
    gap:20px;
    align-items: center;
    width: 100%;
    padding:20px;
}

.OurServices-Content .Card .Card-Img img{
    width: 30px;
}

.OurServices-Content .Card h3{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.OurServices-Content .Card p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
}

.OurServices-Header p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.25px;
    width: 712px;
    flex-shrink: 0;
}

@media (max-width: 1439px){
    /*920*/
    .OurServicesSection > *{
        width: 920px;
    }

    .OurServices-Header p {
        font-size: 22px;
    }
    
    .OurServices-Img {
        width: 608px;
        height: 301px;
    }
    .OurServices-Content .Card h3 {
        font-size: 22px;
        line-height: normal;
    }
    .OurServices-Content .Card {
        height: 87px;
    }

    .OurServices-Content {
        gap: 20px;
    }

    .OurServices-Header {
        grid-template-columns: 392px 1fr;
    }
}

@media (max-width: 979px) {
    /*600*/
    .OurServicesSection > *{
        width: 600px;
    }

    .OurServices-Header {
        grid-template-columns:1fr;
    }

    .OurServices-Img{
        display: none;
    }
  }

  @media (max-width: 659px) {
    /*300*/
    .OurServicesSection > *{
        width: 300px;
    }
    .OurServicesSection{
        padding: 31px 0px 40px 0px;
    }

    .OurServices-Body{
        margin-top: 25px;
    }

    .OurServices-Header p {
        font-size: 12px;
    }

    .OurServices-Content .Card p {
        font-size: 11px;
    }

    .OurServices-Content .Card {
        height: 44px;
        border-radius: 4px;
        padding-left: 16px;
        gap:14px;
    }

    .OurServices-Header {
        gap: 20px;
    }

    .OurServices-Content .Card .Card-Img {
        width: 23px;
    }

    .OurServices-Content {
        gap: 9px;
    }

    .OurServices-Content .Card h3 {
        font-size: 15px;
    }
   

    .OurServices-Content .Card:nth-child(1) img{
        width: 21px;
    }
    .OurServices-Content .Card:nth-child(2) img{
        width: 22px;
    }
    .OurServices-Content .Card:nth-child(3) img{
        width: 19px;
    }
  }













  /*Товары которые мы поставляем*/
.GoodsSection{
    background: #171717 url("../../../img/logistick/GoodsBack.png") center;
    background-size: 1920px 100%;
    border-radius: 20px 20px 0px 0px;
    padding: 90px 0px 105px 0px;
    position: relative;
    margin-top: -15px;
    border: 1px solid rgba(53, 53, 53, 0.30);
}

.GoodsSection > div{
    width: 1280px;
    margin: auto;
}


.Goods-Content{
    display: flex;
    gap:20px;
    flex-direction: column;
    align-items: end;
    margin-top: 50px !important;
}


.Goods-Content .Card p{
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    line-height: normal;
}


.Goods-Content .Card{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
    width: 712px;
    border-radius: 10px;
    background: #2C2C2C;
    backdrop-filter: blur(5px);
}

.Goods-Content .Card > div img{
    width: 30px;
}

.Goods-Img{
    display: none;
}

@media (max-width: 1439px){
    /*920*/
    .GoodsSection{
        padding: 79px 0px 114px calc((100vw - 920px) / 2);
    }

    .Goods-Header h2{
        font-size: 42px;
    }

    .Goods-Header {
        width: 409px;
    }

    .Goods-Content .Card p {
        font-size: 27px;
    }
}

@media (max-width: 979px) {
    /*600*/

    .GoodsSection{
        padding: 79px 0px 114px calc((100vw - 600px) / 2);
        gap:15px;
    }

    .Goods-Header {
        width: 288px;
        gap:20px;
    }
    .Goods-Img{
        display: block;
        width: 100%;
        height: 521px;
        border: 1px solid #353535;
        border-radius: 5px;
        overflow: hidden;
    }

    .Goods-Header h2 {
        font-size: 29px;
    }

    .Goods-Content .Card p {
        font-size: 20px;
        width: 244px;
    }


    .Goods-Img img{
        width: 100%;
        height: 100%;
    }

    .Goods-Content .Card {
        gap: 15px;
    }
  }

  @media (max-width: 659px) {
    /*300*/

    .Goods-Header h2 {
        font-size: 23px;
        position: absolute;
        width: 235px;
    }

    .GoodsSection{
        padding: 31px 0px 35px calc((100vw - 300px) / 2);
        gap:15px;
        background: #191919 url("../../../img/logistick/GoodsBack_mobile.png");
        background-size: 100% 100%;
    }

    .Goods-Header {
        width: 88px;
        gap: 0px;
    }

    .Goods-Img{
        height: 171px;
        margin-top: 60px;
    }

    .Goods-Content .Card > div {
        width: 32px;
    }

    .Goods-Content .Card {
        gap:7px;
    }

    .Goods-Content .Card p {
        font-size: 14px;
        width: 165px;
    }

    .Goods-Content .Border {
        margin: 9px 0px 9px 39px;
    }

    .Goods-Content {
        margin-top: 60px;
    }

    .Goods-Content .Card:nth-child(1) img{
        width: 23px;
    }
    .Goods-Content .Card:nth-child(3) img{
        width: 25px;
    }
    .Goods-Content .Card:nth-child(5) img{
        width: 28px;
    }
    .Goods-Content .Card:nth-child(7) img{
        width: 24px;
    }
  }







/*Почему нас выбирают*/
   .WhySection{
    padding: 52px 0px 88px 0px;
    background: #212121;
    border: 1px solid #353535;
    border-radius: 10px;
    margin-top: -10px;
    position: relative;
}

.WhySection > *{
    width: 1280px;
    margin: auto;
}



.Why-Body{
    margin-top: 60px;
    display: flex;
    gap:35px;
}

.Why-Img{
    width: 514px;
    height: 430px;
    border-radius: 10px;
    overflow: hidden;
}

.Why-Img img{
    width: 100%;
    height: 100%;
}

.Why-Content{
    display: flex;
    flex-direction: column;
    gap:25px;
    width: 732px;
    margin-left: auto;
}

.Why-Content .Card{
    background: #30303061;
    border: 1px solid #353535;
    border-radius: 10px;
    display: flex;
    gap:50px;
    align-items: center;
    width: 100%;
    height: 127px;
    padding-left: 41px;
}

.Why-Content .Card .Card-Img{
    width: 76px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
}

.Why-Content .Card h3{
    color: #FFF;
    font-weight: 500;
    font-size: 35px;
    line-height: 111%;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.img_mobile{
    display: none;
}


@media (max-width: 1439px){
    /*920*/
    .WhySection > *{
        width: 920px;
    }
    
    .Why-Content {
        justify-content: space-between;
    }

    .Why-Img {
        width: 708px;
        height: 401px;
    }
    .Why-Content .Card h3 {
        font-size: 22px;
        line-height: normal;
    }
    .Why-Content .Card {
        height: 87px;
    }
}

@media (max-width: 979px) {
    /*600*/
    .WhySection > *{
        width: 600px;
    }

    .Why-Body{
        flex-direction: column;
    }

    .Why-Img{
        width: 100%;
    }

    .Why-Content {
        width: 100%;
    }

  }

  @media (max-width: 659px) {
    /*300*/
    .WhySection > *{
        width: 300px;
    }
    .WhySection{
        padding: 32px 0px;
    }

    .img_mobile{
        display: block;
    }

    .img_desktop{
        display: none;
    }

    .Why-Img{
        height: 89px;
        border-radius: 5px;
    }

    .Why-Body{
        margin-top: 12px;
        gap:17px;
    }

    .Why-Content .Card {
        height: 48px;
        border-radius: 4px;
        padding-left: 22px;
        gap:23px;
    }

    .Why-Content {
        gap: 7px;
    }

    .Why-Content .Card h3 {
        font-size: 12px;
    }

    .Why-Content .Card .Card-Img {
        width: 27px;
    }
   

    .Why-Content .Card:nth-child(1) img{
        width: 26px;
    }
    .Why-Content .Card:nth-child(2) img{
        width: 23px;
    }
    .Why-Content .Card:nth-child(3) img{
        width: 25px;
    }
  }
