/* ОБЩИЕ */
body{
    background: #212121;
}

h2{
    color: #FFF;
    font-size: 52.127px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: -0.521px;
    text-transform: uppercase;
}

@media (max-width: 979px) {
    /*600*/
    h2{
        color: #0485FE;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    h2{
        font-size: 23px;
        font-weight: 600;
    }
  }



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:174px;
    padding: 66px 0px 79px 0px;
    background: url("../../../img/pay_agent/MainBack.jpg") no-repeat;
    background-size: 100% 100%;
    margin-top: -5px;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:24px;
    align-items: start;
}
h1{
    color: #FFF;
    font-size: 69.58px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.696px;
    text-transform: uppercase;
    width: 532px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 27px;
    font-weight: 300;
    line-height: 111%;
    letter-spacing: -0.27px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:259px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 30.881px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.618px;
    padding: 17.156px 25.734px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #181818;
    flex-shrink: 0;
    transition: 0.5s ease;
    box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}

.MainSection-Content a:hover{
    box-shadow: none;
    background: #fff;
    color:#000;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    row-gap:36px;
    column-gap: 10px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:18px;
}

.MainSection .Info::before{
    content: "";
    height: 90%;
    width: 4px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}


.MainSection .Info h3{
    color: #0485FE;
font-size: 69px;
font-weight: 500;
line-height: 80%;
letter-spacing: -0.69px;
text-transform: uppercase;
}

.MainSection .Info p{
    color: #FFF;
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24.3px;
    line-height: 111%;
    letter-spacing: -0.243;
}

@media (max-width: 1439px){
    .MainSection > div{
        width: 920px;
    }
  
    h1{
        width: 329px;
        font-size: 51.58px;
    }
  
    .MainSection-Header p {
        font-size: 21px;
    }
  
    .MainSection-Content a {
        font-size: 26px;
    }
  
    .MainSection-Content {
        gap: 105px;
    }
  
    .MainSection-Content > div{
        grid-template-columns: 1.1fr 1fr;
    }
  
    .MainSection .Info p {
        font-size: 18px;
    }
  
    .MainSection .Info h3 {
        font-size: 47px;
    }
  
    .MainSection{
        gap:250px;
        background-size: 1440px;
    background-position: center;
    }
  }
  
  @media (max-width: 979px) {
    /*600*/
    .MainSection{
        margin-top: -13px;
        gap: 65px;
    }
    h1{
        font-size: 60px;
        color: #0485FE;
        width: auto;
    }
    .MainSection .Info h3 {
        font-size: 53px;
    }
    .MainSection > div{
        width: 600px;
    }
    .MainSection-Header {
        flex-direction: column;
    }
  
    .MainSection-Content{
        flex-direction: column-reverse;
        gap:16px;
    }
    .MainSection .Info:first-child {
        grid-column: unset;
    }
  
    .MainSection-Content > div {
        grid-template-columns: 1fr 1fr;
        gap:20px;
        width: 100%;
    }
  
    .MainSection .Info p {
        font-size: 17px;
    }
  
    .MainSection-Content a{
        width: 100%;
        text-align: center;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    h1{
        font-size: 30px;
        font-weight: 600;
    }

    h1 br{
        display: none;
    }
  
  
    .MainSection{
        padding: 19px 0px 33px 0px;
        gap: 65px;
        margin-top: -3px;
    }
  
    
    .MainSection > div{
        width: 300px;
    }
  
    .MainSection-Header p {
        display: none;
    }
  
    .MainSection-Header{
        gap:5px;
    }
  
    .MainSection .Info h3 {
        font-size: 35px;
    }
  
    .MainSection .Info p {
        font-size: 11px;
    }
  
    .MainSection .Info::before {
        width: 2px;
    }
  
    .MainSection .Info {
        gap: 7px;
    }
  
    .MainSection-Content a {
        font-size: 12px;
        height: 37px;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        border: 0.394px solid #8D8D8D;
        background: #181818;
        box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 3.466px 0px rgba(4, 133, 254, 0.75), 0px 0px 6.538px 0px #0485FE;
    }
  
    .MainSection-Content > div {
        grid-template-columns: 1.1fr 1fr;
        gap: 0px;
    }
  }




 /*Что такое платежный агент*/
 .AboutSection{
    margin: auto;
    padding: 62px 0px 70px 0px;
    border: 1px solid #353535;
    background: #212121;
    border-radius: 15px;
    position: relative;
    margin-top: -9px;
}

.AboutSection > div{
    width: 1280px;
    margin: auto;
    display: flex;
    gap:67px;
}

.AboutSection h2{
    font-size: 47.1px;
    line-height: 111%;
    margin-bottom: 55px;
}

.About-Left > div{
    width: 494px;
    height: 267px;
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(33.960906982421875px);

box-shadow: 0px 0px 29.15px 0px #0485FE, 0px 0px 18.07px 0px #0485FEBF, 0px 0px 7.8px 0px #FFFFFF;

    border-radius: 10px;
    overflow: hidden;
}

.About-Left > div img{
    width: 100%;
    height: 100%;
}

.About-Right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.About-Right p{
    font-weight: 300;
    font-size: 27px;
    line-height: 111%;
    letter-spacing: -0.27px;
    color:#fff;
}

.About-Right a{
    font-weight: 400;
    font-size: 30px;
    line-height: 111%;
    letter-spacing: -0.3px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 33px 40px 33px 50px;
    background: #0485FE;
    color:#fff;
    text-transform: uppercase;
    border-radius: 10px;
}

.p_mobile{
    display: none;
}

@media (max-width: 1439px){
    /*920*/
    .AboutSection > div{
        width: 920px;
    }

    .About-Right a {
        font-size: 18px;
        padding: 21px 22px 20px 22px;
    }

    .About-Right p{
        font-size: 20px;
    }
  }
  
  @media (max-width: 979px) {
    /*600*/
    .AboutSection > div{
        width: 600px;
    }

    .About-Left > div{
        display: none;
    }

    .AboutSection > div{
        flex-direction: column;
        gap:30px;
    }

    .AboutSection h2{
        margin-bottom: 0px;
    }

    .About-Right p{
        margin-bottom: 20px;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    .AboutSection{
        padding: 27px 0px 30px 0px;
        border-radius: 7px;
    }

    .AboutSection > div{
        width: 300px;
        gap:15px;
    }

    .AboutSection h2{
        font-size: 23px;
    }

    .About-Right p{
        font-size: 13px;
        margin-bottom: 15px;
    }

    .About-Right a{
        font-size: 12px;
        padding: 7px 17px;
        border-radius: 4px;
        border: 1px solid #373737;
        background: #181818;
        text-transform: none;
    }

    .About-Right a img{
        width: 24px;
    }

    .p_mobile{
        display: block;
    }
    
    .p_desktop{
        display: none;
    }
  }




/*Кому подойдут услуги секция*/
.ServicesSection{
    background: #181818 url("../../../img/pay_agent/ServicesBack.png") no-repeat;
    background-size: 100% 100%;
    padding: 71px 0px 79px 0px;
    margin-top: -9px;
}

.ServicesSection > *{
    width: 1280px;
    margin: auto;
}

.Services-Content{
    margin-top: 53px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 123px;
    gap:30px;
}

.Services-Content .Card{
    display: flex;
    gap:7px;
    align-items: center;
    border-radius: 12px;
    background: #212121;
    border: 1px solid #0058AB;
    padding-left: 10px;
}

.Services-Content .Card > div{
    width: 114px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Services-Content .Card h3{
    font-weight: 400;
    font-size: 30px;
    line-height: 38.7px;
    letter-spacing: 0px;
    color:#fff;
    text-transform: uppercase;
}

@media (max-width: 1439px){
    /*920*/
    .ServicesSection > *{
        width: 920px;
    }
    
    .Services-Content .Card h3 {
        font-size: 25px;
        line-height: normal;
    }
    
    
}

@media (max-width: 979px) {
    /*600*/
    .ServicesSection > *{
        width: 600px;
    }

    .Services-Content {
        grid-template-columns: 1fr;
        grid-auto-rows: 136px;
        gap: 20px;
    }
    
    
  }

  @media (max-width: 659px) {
    /*300*/
    .ServicesSection{
        padding: 36px 0px 39px 0px;
        background: #181818 url("../../../img/pay_agent/ServicesBack_mobile.png");
        background-size: 100% 100%;
    }

    .ServicesSection > *{
        width: 300px;
    }
    .Services-Content .Card h3 {
        font-size: 14px;
    }

    .Services-Content .Card > div {
        width: 52px;
    }

    .Services-Content .Card:nth-child(1) img{
        width:  50px;
    }
    .Services-Content .Card:nth-child(2) img{
        width:  36px;
    }
    .Services-Content .Card:nth-child(3) img{
        width:  45px;
    }
    .Services-Content .Card:nth-child(4) img{
        width:  52px;
    }

    .Services-Content .Card {
        gap:10px;
        padding-left: 16px;
        border-radius: 4px;
    }

    .Services-Content {
        grid-auto-rows: 59px;
        gap: 9px;
        margin-top: 8px;
    }
  }





/*Виды переводов*/
.KindsSection{
    display: flex;
    border-radius: 15px;
    border: 1px solid #353535;
    background: #212121;
    padding: 63px 0px 60px 0px;
    gap:71px;
    align-items: end;
    position: relative;
    margin-top: -9px;
}

.KindsSection h2{
    margin-left: calc((100vw - 1280px) / 2);
    margin-bottom: 58px;
}

.Kinds-Header{
    display: flex;
    flex-direction: column;
    width: 498px;
    flex-shrink: 0;
    width: calc((100vw - 300px) / 2);
}

.Kinds-Content{
    width: 100%;
}

.Kinds-Content p{
    color: #FFF;
    font-size: 30px;
    font-weight: 300;
    line-height: 111%;
    text-transform: uppercase;
}

.Kinds-Content div{
    background: #0058AB;
    height: 1px;
    width: 100%;
    margin: 24.5px 0px;
}
  
  .items-wrap {
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: 29px;
  }
  
  .items {
    flex-shrink: 0;
    display: flex;
    gap: 29px;
    counter-reset: item;
    justify-content: space-around;
    min-width: 100%;
  }
  .item {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6px;
    transition: all 0.1s ease-in-out;
    height: 336px;
  }

  .item img{
    width: auto;
    height: 100%;
  }
  
  .marquee {
    animation: scroll 40s linear infinite;
  }
  
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 20px));
    }
  }

  @media (max-width: 1439px){
    /*920*/
    .KindsSection h2{
        margin-left: calc((100vw - 920px) / 2);
        font-size: 46px;
    }
    
    .Kinds-Header{
        width: calc((100vw - 150px) / 2);
    }
  
    .KindsSection {
        gap: 40px;
    }
  
    .Kinds-Content p {
        font-size: 25px;
        width: 500px;
    }
  }
  
  @media (max-width: 979px) {
    /*600*/
    .KindsSection{
        flex-direction: column;
    }
  
    .KindsSection h2{
        margin-left: calc((100vw - 600px) / 2);
        width: 500px;
    }
    
    .Kinds-Header{
        width: 100%;
    }
  
    .item {
        height: 223px;
    }
  
    .Kinds-Content > * {
        margin-left: calc((100vw - 600px) / 2) !important;
    }
  }
  
  @media (max-width: 659px) {
    /*300*/
    .KindsSection{
        padding: 27px 0px 25px 0px;
        gap:15px;
        border-radius: 7px;
        margin-top: -5px;
    }
    .KindsSection h2{
        margin-left: calc((100vw - 300px) / 2);
        margin-bottom: 9px;
        font-size: 23px;
        width: 300px;
    }
  
    .h2_mobile{
      display: block;
    }
  
    .h2_desktop{
      display: none;
    }
  
    .Kinds-Content > * {
        margin-left: calc((100vw - 300px) / 2) !important;
    }
    .item {
        height: 100px;
        margin: 0px;
        border: none;
        border-radius: 5px;
    }
    .items, .items-wrap {
        gap: 5px;
    }
  
  
    .Kinds-Content p {
        font-size: 14px;
        line-height: normal;
        width: 270px;
    }
  
    .Kinds-Content div {
        margin: 8px 0px;
    }
  }





/*Наши преимущества секция*/
.AdvantagesSection{
    background: #181818 url("../../../img/pay_agent/AdvantagesBack.png") no-repeat;
    background-size: 100% 100%;
    padding: 72px 0px 82px 0px;
    margin-top: -9px;
}

.AdvantagesSection > *{
    width: 1280px;
    margin: auto;
}

.Advantages-Content{
    margin-top: 47px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 110px;
    gap:30px;
}

.Advantages-Content .Card{
    display: flex;
    gap:16px;
    align-items: center;
    border-radius: 12px;
    background: #212121;
    border: 1px solid #0058AB;
    padding-left: 20px;
}

.Advantages-Content .Card > div{
    width: 67px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Advantages-Content .Card h3{
    font-weight: 400;
    font-size: 30px;
    line-height: 38.7px;
    letter-spacing: 0px;
    color:#fff;
    text-transform: uppercase;
}

@media (max-width: 1439px){
    /*920*/
    .AdvantagesSection > *{
        width: 920px;
    }
    
    .Advantages-Content .Card h3 {
        font-size: 25px;
        line-height: normal;
    }
    
    
}

@media (max-width: 979px) {
    /*600*/
    .AdvantagesSection > *{
        width: 600px;
    }

    .Advantages-Content {
        grid-template-columns: 1fr;
        grid-auto-rows: 136px;
        gap: 20px;
    }
    
    
  }

  @media (max-width: 659px) {
    /*300*/
    .AdvantagesSection{
        padding: 36px 0px 39px 0px;
        background: #181818 url("../../../img/pay_agent/AdvantagesBack_mobile.png");
        background-size: 100% 100%;
    }

    .AdvantagesSection > *{
        width: 300px;
    }
    .Advantages-Content .Card h3 {
        font-size: 14px;
    }

    .Advantages-Content .Card > div {
        width: 33px;
    }

    .Advantages-Content .Card:nth-child(1) img{
        width:  20px;
    }
    .Advantages-Content .Card:nth-child(3) img{
        width:  30.5px;
    }
    .Advantages-Content .Card:nth-child(5) img{
        width:  30px;
    }
    .Advantages-Content .Card:nth-child(4) img{
        width:  32px;
    }
    .Advantages-Content .Card:nth-child(2) img{
        width:  19.5px;
    }
    .Advantages-Content .Card:nth-child(6) img{
        width:  27px;
    }

    .Advantages-Content .Card {
        gap:7px;
        padding-left: 10px;
        border-radius: 4px;
    }

    .Advantages-Content {
        grid-auto-rows: 53px;
        gap: 10px;
        margin-top: 8px;
    }
  }


/* Секция форма */

.Form-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  
  .Form-Header p {
    font-weight: 300;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#fff;
    width: 729px;
  }
  
  .Form-Header h2 {
    color: #0485FE;
  }
  
  .FormSection {
    background: #212121 url("../../../img/Back_2.svg") no-repeat;
    background-size: 760px;
    background-position: -131px -10px;
    padding: 77px 0px 104px 0px;
    border-radius: 15px;
    border: 1px solid #353535;
    position: relative;
    margin-top: -12px;
  }
  
  .Form-Main {
    display: flex;
    justify-content: end;
  }
  
  .FormSection > div {
    width: 1280px;
    margin: auto;
  }
  
  .FormSection form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 734px;
  }
  
  .FormSection form p {
    font-weight: 400;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#666;
  }
  
  .FormSection form > div {
    padding: 27px 36px;
    border-radius: 10px;
    background: #353535;
    display: flex;
    gap: 26px;
  }
  
  .FormSection form [type="text"],
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    outline: none;
    width: 100%;
    font-weight: 300;
  }
  
  .FormSection form [type="submit"] {
    margin-bottom: 10px;
    transition: 0.5s ease;
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 25px 0px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #232323;
    cursor: pointer;
  }
  
  .FormSection form [type="submit"]:hover {
    backdrop-filter: blur(19.4209041595459px);
  
  box-shadow: 0px 0px 32.7px 0px #0666DF, 0px 0px 7.3px 0px #0485FE91, 0px 0px 5.5px 0px #FFFFFF59;
  
  }
  
  
  @media (max-width: 1439px) {
    .FormSection > div {
      width: 920px;
    }
  
    .Form-Header p {
      width: 401px;
      font-size: 19px;
    }
  
    .Form-Header h2 {
      font-size: 43px;
    }
  
    .Form-Header {
      gap: 44px;
    }
  
    .FormSection form {
      width: 544px;
    }
  
    .FormSection form p br {
      display: none;
    }
  }
  
  @media (max-width: 979px) {
    .FormSection {
      padding: 30px 0px 40px 0px;
    }
  
    .Form-Header {
      margin-bottom: 30px !important;
      flex-direction: column;
    }
  
    .FormSection > div {
      width: 600px;
    }
  
    .Form-Header p {
      width: auto;
      font-size: 12px;
      font-weight: 300;
      letter-spacing: -0.12px;
      line-height: 111%;
      /* display: none; */
    }
  
    .Form-Header h2 {
      font-size: 23px;
    }
  
    .FormSection form [type="submit"] {
      width: 100%;
      font-size: 12px;
      padding: 15px 0px;
    }
  
    .FormSection form [type="text"],
    .FormSection form [type="text"]::placeholder,
    .FormSection form [type="text"]::-webkit-input-placeholder {
      font-size: 12px;
    }
  
    .FormSection form > div {
      padding: 14px 16px;
    }
  
    .FormSection form {
      width: 100%;
      gap: 12px;
    }
  }
  
  @media (max-width: 659px) {
    .FormSection {
        background-size: 250px;
        background-position: -9px 34px;
      border-radius: 7px;
      padding: 27px 0px 16px 0px;
    }
  
    .Form-Header {
      margin-bottom: 15px !important;
    }
    
    .FormSection > div {
      width: 300px;
      gap: 20px;
    }
  
    .FormSection form [type="submit"] {
      padding: 12px 0px;
      border-radius: 5px;
      border-color: #353535;
      opacity: 1;
      box-shadow: 0px 0px 12.2px 0px rgba(6, 102, 223, 1),
        0px 0px 6.26px 0px rgba(4, 133, 254, 0.57),
        0px 0px 2.58px 0px rgba(255, 255, 255, 0.35);
      margin-bottom: 14px;
    }
  
    .FormSection form p {
      display: none;
    }
  
    .Form-Header p{
      display: none;
    }
  
    .FormSection form p br {
      display: block;
    }
  
    .FormSection form > div {
      padding: 13px 16px;
      border-radius: 5px;
      gap:11px;
    }
  
    .FormSection form > div img{
      width: 13px;
    }
  }
  
  
  /*ФУТЕР*/
  footer{
    margin-top: -12px;
  }
