/* ОБЩИЕ */
body{
    background: #212121;
}

h2{
    color: #FFF;
    font-size: 52.127px;
    font-weight: 500;
    line-height: 111%;
    letter-spacing: -0.521px;
    text-transform: uppercase;
}

@media (max-width: 979px) {
  /*600*/
  h2{
      color: #0485FE;
      /* font-size: 23px; */
  }
}

@media (max-width: 659px) {
  /*300*/
  h2{
      font-size: 23px;
      font-weight: 600;
  }
}



/* Главная секция*/
.MainSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:185px;
    padding: 59px 0px 89px 0px;
    background: url("../../../img/development/MainBack.jpg") no-repeat;
    background-size: 100% 100%;
    margin-top: -11px;
}

.MainSection > div{
    width: 1280px;
}

.MainSection-Header{
    display: flex;
    gap:24px;
    align-items: start;
}
h1{
    color: #FFF;
    font-size: 69.58px;
    font-weight: 500;
    line-height: 111%; 
    letter-spacing: -0.696px;
    text-transform: uppercase;
    width: 532px;
    flex-shrink: 0;
}

.MainSection-Header p{
    color: #FFF;
    font-size: 27px;
    font-weight: 300;
    line-height: 111%;
    letter-spacing: -0.27px;
}

.MainSection-Content{
    display: flex;
    align-items: end;
    gap:267px;
}

.MainSection-Content a{
    color: #FFF;
    font-size: 30.881px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.618px;
    padding: 17.156px 25.734px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #181818;
    flex-shrink: 0;
    transition: 0.5s ease;
}

.MainSection-Content a:hover{
    box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}

.MainSection-Content > div{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    row-gap:36px;
    column-gap: 10px;
}

.MainSection .Info{
    display: flex;
    align-items: center;
    gap:18px;
}

.MainSection .Info::before{
    content: "";
    height: 90%;
    width: 4px;
    background: #0485FE;
    display: block;
    flex-shrink: 0;
}

.MainSection .Info:first-child{
    grid-column: span 2;
}

.MainSection .Info h3{
    color: #0485FE;
font-size: 69px;
font-weight: 500;
line-height: 111%;
letter-spacing: -0.69px;
text-transform: uppercase;
}

.MainSection .Info p{
    color: #FFF;
    font-size: 25px;
    font-weight: 300;
    line-height: 111%;
    letter-spacing: -0.25px;
    font-family: "Mulish";
}

@media (max-width: 1439px){
  .MainSection > div{
      width: 920px;
  }

  .MainSection-Content > div {
    grid-template-columns: 1fr 1fr;
}

  h1{
      width: 329px;
      font-size: 51.58px;
  }

  .MainSection-Header p {
      font-size: 21px;
  }

  .MainSection-Content a {
      font-size: 26px;
  }

  .MainSection-Content {
      gap: 157px;
  }

  .MainSection .Info h3 {
      font-size: 52px;
  }

  .MainSection .Info p {
    font-size: 21px;
}

  .MainSection{
      gap:134px;
      background-size: 1440px;
  background-position: center;
  }

  .MainSection-Header {
    gap: 75px;
}
}

@media (max-width: 979px) {
  /*600*/
  .MainSection{
      margin-top: -13px;
  }
  h1{
      font-size: 60px;
      color: #0485FE;
      width: auto;
  }
  h1 br{
      display: none;
  }
  .MainSection .Info h3 {
      font-size: 53px;
  }
  .MainSection > div{
      width: 600px;
  }
  .MainSection-Header {
      flex-direction: column;
      gap:20px;
  }

  .MainSection-Content{
      flex-direction: column-reverse;
      gap:16px;
  }
  .MainSection .Info:nth-child(1){
      display: none;
  }
  .MainSection .Info:first-child {
      grid-column: unset;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 1fr;
      gap:0px;
  }

  .MainSection .Info p {
      font-size: 17px;
  }

  .MainSection-Content a{
      width: 100%;
      text-align: center;
  }
}

@media (max-width: 659px) {
  /*300*/
  h1{
      font-size: 30px;
      font-weight: 600;
  }

  .MainSection{
      padding: 19px 0px 33px 0px;
      gap: 67px;
      margin-top: -3px;
  }

  
  .MainSection > div{
      width: 300px;
  }

  .MainSection-Header p {
      font-size: 11px;
      font-weight: 300;
  }

  .MainSection-Header{
      gap:12px;
  }

  .MainSection .Info h3 {
      font-size: 30px;
  }

  .MainSection .Info p {
      font-size: 10px;
  }

  .MainSection .Info::before {
      width: 2px;
  }

  .MainSection .Info {
      gap: 7px;
  }

  .MainSection-Content a {
      font-size: 12px;
      padding: 6.5px 0px;
      border-radius: 4px;
      border: 0.394px solid #8D8D8D;
      background: #181818;
      box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 3.466px 0px rgba(4, 133, 254, 0.75), 0px 0px 6.538px 0px #0485FE;
  }

  .MainSection-Content > div {
      grid-template-columns: 1fr 1.1fr;
  }
}







/*Наши проекты*/
.ProjectsSection{
  padding: 68px 0px 80px 0px;
  background: #212121;
  border: 1px solid #353535;
  border-radius: 15px;
  margin-top: -9px;
  position: relative;
}

.ProjectsSection > *{
  width: 1280px;
  margin: auto;
}

.Projects-Content{
  display: grid;
  gap:25px;
  margin-top: 75px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 242px;
}

.Projects-Content .Card{
  background: #242424A8;
  border: 1px solid #8D8D8D;
  box-shadow: 0px 0px 22.9px 0px #0485FE, 0px 0px 6.6px 0px #0485FEBF,0px 0px 2px 0px #FFFFFF;
  backdrop-filter: blur(34.17096710205078px);
  padding: 28px 0px 0px 41px;
  border-radius: 10px;
}

.Projects-Content .Card h3{
  color:#fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 25.8px;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.Projects-Content .Card p{
  color:#fff;
  letter-spacing: 0px;
  font-family: 'Mulish';
font-weight: 300;
font-size: 17px;
line-height: 22.6px;
margin-bottom: 12px;
}

.Projects-Content .Card li{
  color:#fff;
  margin-left: 17px;
  list-style: disc;
  font-family: 'Mulish';
  font-weight: 300;
  font-size: 17px;
  line-height: 18.87px;
  letter-spacing: 0px;
}

.Projects-Content_mobile{
  display: none;
}

@media (max-width: 1439px){
  /*920*/
  .ProjectsSection > *{
    width: 920px;
  }

  .Projects-Content{
    grid-template-rows: 300px;
  }

  .Projects-Content .Card{
    padding: 28px 0px 0px 31px;
  }
}

@media (max-width: 979px) {
  /*600*/
  .ProjectsSection > *{
    width: 600px;
  }

  .Projects-Content{
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    grid-auto-rows: 250px;
  }

  .Projects-Content .Card{
    padding: 28px 20px 0px 31px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .ProjectsSection{
    padding: 32px 0px 28px 0px;
  }
  .ProjectsSection > *{
    width: 300px;
  }

  .Swiper-Control {
    display: flex;
    justify-content: space-between;
    gap: 11px;
    margin-top: 17px;
    width: 100%;
  }
  
  .Swiper-Control > button {
    color: #fff;
    font-size: 24px;
    padding: 5.7px 16px;
    border-radius: 4px;
    background: #ffffff29;
  }
  
  .Swiper-Control > button:hover {
    opacity: 0.8;
  }

 
  .swiper{
    overflow: visible !important;
  }
  .swiper-wrapper{
    height: auto !important;
    overflow: visible;
  }

  .Swiper-Control > button img {
    width: 6px;
  }

  .Projects-Content_mobile{
    display: block;
    margin-top: 15px;
  }

  .Projects-Content{
    display: none;
  }

  .Projects-Content_mobile .Card{
    background: #242424A8;
    padding: 16px 0px 0px 27px;
    width: 262px;
    height: 201px;
    border-radius: 5px;
    border: 1px solid #353535;
    background: rgba(36, 36, 36, 0.26);
    transition: 0.5s ease;
  }
  
  .Projects-Content_mobile .Card h3{
    color:#fff;
    font-weight: 500;
    font-size: 13px;
    line-height: normal;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  
  .Projects-Content_mobile .Card p{
    color:#fff;
    letter-spacing: 0px;
    font-family: 'Mulish';
  font-weight: 300;
  font-size: 10px;
  line-height: normal;
  margin-bottom: 5px;
  width: 198px;
  }
  
  .Projects-Content_mobile .Card li{
    color:#fff;
    list-style: disc;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0px;
  }

  .Projects-Content_mobile .Card > div{
    width: 260px;
    height: 1px;
    background: #353535;
    margin-left: -27px;
    margin-bottom: 10px;
  }

  .Projects-Content_mobile .swiper-slide-active .Card{
    box-shadow: 0px 0px 1.3px 0px #FFF, 0px 0px 0.6px 0px rgba(4, 133, 254, 0.75), 0px 0px 12.1px 0px #0485FE;
    backdrop-filter: blur(17.08548355102539px);
  }
}








/*Офисный шеринг*/
.AboutSection{
  padding: 110px 0px 133px 0px;
  background: #181818 url("../../../img/development/AboutBack.png") center;
  margin-top: -10px;
}

.AboutSection > *{
  width: 1280px;
  margin: auto;
}

.About-Content{
  display: grid;
  gap:64px;
  margin-top: 75px;
  grid-template-columns: 486px 1fr;
  grid-template-rows: 261px;
}

.About-Left{
  border: 1px solid #8D8D8D;
  border-radius: 10px;
  overflow: hidden;
}

.About-Left > img{
  width: 100%;
  height: 100%;
}

.About-Right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.About-Right p{
  font-weight: 400;
  font-size: 27px;
  line-height: 29.97px;
  letter-spacing: -0.27px;
  color:#fff;
}

.About-Right a{
  font-weight: 400;
  font-size: 30px;
  line-height: 33.3px;
  letter-spacing: -0.3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 88px;
  padding: 0px 40px 0px 50px;
  background: #0485FE;
  color:#fff;
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.5s ease;
}

.About-Right a:hover {
  box-shadow: 0px 0px 0px 0px #FFF, 0px 0px 8.8px 0px rgba(4, 133, 254, 0.75), 0px 0px 16.6px 0px #0485FE;
}

@media (max-width: 1439px){
  /*920*/
  .AboutSection > *{
    width: 920px;
  }

  .AboutSection h2 br{
    display: none;
  }

  .AboutSection h2{
    font-size: 47px;
  }

  .About-Content {
    gap: 34px;
    grid-template-columns: 409px 1fr;
    grid-template-rows: 225px;
}

.About-Right p {
  font-size: 22px;
  line-height: 100%;
}

.About-Right a {
  font-size: 24px;
  height: 65px;
  line-height: normal;
}
}

@media (max-width: 979px) {
  /*600*/
  .AboutSection > *{
    width: 600px;
  }
}

@media (max-width: 659px) {
  /*300*/
  .AboutSection > *{
    width: 300px;
  }
}





/*Почему популярен*/
.WhySection{
  display: flex;
  border-radius: 15px;
  border: 1px solid #353535;
  padding: 63px 0px 72px 0px;
  gap:88px;
  align-items: end;
  margin-top: -9px;
  position: relative;
  background: #212121;
}

.WhySection h2{
  margin-left: calc((100vw - 1280px) / 2);
  margin-bottom: 80px;
  font-size: 50px;
}

.Why-Header{
  display: flex;
  flex-direction: column;
  width: 498px;
  flex-shrink: 0;
  width: calc((100vw - 170px) / 2);
}

.Why-Content{
  display: grid;
  grid-template-columns: 628px;
  grid-template-rows: repeat(3, 166px);
  gap:33px;
}

.Why-Content .Card{
  border: 1px solid #0058AB;
  border-radius: 10px;
  background: #30303061;
  backdrop-filter: blur(19.600000381469727px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 22px 0px 43px;
}

.Why-Content .Card h3{
  color: #FFF;
  font-size: 35px;
  font-weight: 400;
  line-height: 111%;
  text-transform: uppercase;
  letter-spacing: -0.35px;
  margin-bottom: 5px;
}

.Why-Content .Card p{
  color: #FFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 111%;
  letter-spacing: -0.2px;
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 29px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 29px;
  counter-reset: item;
  justify-content: space-around;
  min-width: 100%;
}
.item {
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease-in-out;
  width: 550px;
  height: 365px;
}

.item img{
  width: 100%;
  height: 100%;
}

.marquee {
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@media (max-width: 1439px){
  /*920*/
}

@media (max-width: 979px) {
  /*600*/
}

@media (max-width: 659px) {
  /*300*/
}





/*Инвестиции*/
.InvestitionsSection{
  background: #181818 url("../../../img/apart_sharing/InvestitionsBack.png") no-repeat;
  background-size: 100% 330%;
  background-position: right -881px;
  padding: 107px 0px 104px 0px;
  margin-top: -9px;
}

.InvestitionsSection > *{
  width: 1280px;
  margin: auto;
}

.Investitions-Content{
  margin-top: 57px;
  display: grid;
  grid-template-columns: repeat(3, 384px);
  grid-template-rows: 339px;
  justify-content: space-between;
}

.Investitions-Content .Card{
  transition: 0.5s ease;
  flex-shrink: 0;
  border-radius: 11px;
  border: 1px solid #393939;
  background: #242424AD;
  backdrop-filter: blur(16.980453491210938px);
}

.Investitions-Content .Card:hover{
box-shadow: 0px 0px 5.3px 0px #FFF, 0px 0px 8.2px 0px rgba(4, 133, 254, 0.75), 0px 0px 23.5px 0px #0485FE;
backdrop-filter: blur(16.980453491210938px);
}


.Investitions-Content .Card-Header{
  border-bottom: 1px solid #393939;
  height: 111px;
  padding: 25px 0px 0px 25px;
}



.Investitions-Content .Card h3{
  color: #FFF;
  font-size: 23.48px;
  line-height: 30.29px;
  font-weight: 500;
  text-transform: uppercase;
}

.Investitions-Content .Card-Content{
  padding: 25px 25px 0px 25px;
  height: 228px;
  display: flex;
  flex-direction: column;
  gap:20px;
}

.Investitions-Content .Card-Content li{
  color: #FFF;
  list-style: disc;
  margin-left: 20px;
  font-family: "Mulish";
  font-weight: 400;
  font-size: 20.25px;
  line-height: 22.48px;
  letter-spacing: 0px;
}

@media (max-width: 1439px){
  /*920*/
}

@media (max-width: 979px) {
  /*600*/
}

@media (max-width: 659px) {
  /*300*/
}













/* Секция форма */

.Form-Header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px !important;
  }
  
  .Form-Header p {
    font-weight: 300;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#fff;
    width: 729px;
  }
  
  .Form-Header h2 {
    color: #0485FE;
  }
  
  .FormSection {
    background: #212121 url("../../../img/Back_2.svg") no-repeat;
    background-size: 760px;
    background-position: -131px -10px;
    padding: 77px 0px 104px 0px;
    border-radius: 15px;
    border: 1px solid #3535358f;
    position: relative;
    margin-top: -9px;
  }
  
  .Form-Main {
    display: flex;
    justify-content: end;
  }
  
  .FormSection > div {
    width: 1280px;
    margin: auto;
  }
  
  .FormSection form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 734px;
  }
  
  .FormSection form p {
    font-weight: 300;
    font-size: 27px;
    line-height: 29.97px;
    letter-spacing: -1%;
    color:#666;
  }
  
  .FormSection form > div {
    padding: 27px 36px;
    border-radius: 10px;
    background: #353535;
    display: flex;
    gap: 26px;
  }
  
  .FormSection form [type="text"],
  .FormSection form [type="text"]::placeholder,
  .FormSection form [type="text"]::-webkit-input-placeholder {
    color: #fff;
    font-size: 25px;
    font-style: normal;
    outline: none;
    width: 100%;
    font-weight: 300;
  }
  
  .FormSection form [type="submit"] {
    margin-bottom: 10px;
    transition: 0.5s ease;
    text-align: center;
    color: #fff;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 25px 0px;
    border-radius: 10px;
    border: 1px solid #8D8D8D;
    background: #232323;
    cursor: pointer;
  }
  
  .FormSection form [type="submit"]:hover {
    backdrop-filter: blur(19.4209041595459px);

box-shadow: 0px 0px 32.7px 0px #0666DF, 0px 0px 7.3px 0px #0485FE91, 0px 0px 5.5px 0px #FFFFFF59;

  }

  @media (max-width: 1439px){
    /*920*/
  }
  
  @media (max-width: 979px) {
    /*600*/
  }
  
  @media (max-width: 659px) {
    /*300*/
  }



 /*ФУТЕР*/
 footer{
  margin-top: -9px;
 }